@page "/Videolar"
@inherits VideoModeli

@if (VideoGetir == null)

{
    <p><em>Yükleniyor...</em></p>
}

else

{
    <div class="row">
        @foreach (var video in VideoGetir)
        {
            <div class="col-4 col-sm-6 col-md-6 col-lg-6">
                <VideoPlayerComponent VideoBaslik="@video.Baslik"
                                      Aciklama="@video.Aciklama"
                                      Width="400px"
                                      Heigth="500px" />
            </div>
        }
    </div>
}


<style>
    
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -5px;
        margin-right: -5px;
        margin-left: -5px;
    }
</style>

