@page "/Videolar"

<h3>Video İçerikler </h3>

<div class="row">

    <div class="input-group col-md-4 offset-md-4">
        <input type="text" class="form-control" placeholder="Video adı ile arama yapın..."
               @bind:event="oninput" />
        <div class="input-group-append">
            <button class="btn btn-info" >
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>
<br />


<div class="row">
	
		<div class="col-4">
			<video width="500" height="360" controls loop autoplay poster="image.jpg">
				<source src="ilk_acilan.mp4" type="video/mp4">
				<source src="diger_desteklenen.ogg" type="video/ogg">
				Tarayıcınızda HTML5 özelliği yoktur.
			</video>
		</div>
		<div class="col-4">
			<video width="500" height="360" controls loop autoplay poster="image.jpg">
				<source src="ilk_acilan.mp4" type="video/mp4">
				<source src="diger_desteklenen.ogg" type="video/ogg">
				Tarayıcınızda HTML5 özelliği yoktur.
			</video>
		</div>

		<div class="col-4">
			<video width="500" height="360" controls loop autoplay poster="image.jpg">
				<source src="ilk_acilan.mp4" type="video/mp4">
				<source src="diger_desteklenen.ogg" type="video/ogg">
				Tarayıcınızda HTML5 özelliği yoktur.
			</video>
		</div>

		<div class="col-4">
			<video width="500" height="360" controls loop autoplay poster="image.jpg">
				<source src="ilk_acilan.mp4" type="video/mp4">
				<source src="diger_desteklenen.ogg" type="video/ogg">
				Tarayıcınızda HTML5 özelliği yoktur.
			</video>
		</div>

		<div class="col-4">
			<video width="500" height="360" controls loop autoplay poster="image.jpg">
				<source src="ilk_acilan.mp4" type="video/mp4">
				<source src="diger_desteklenen.ogg" type="video/ogg">
				Tarayıcınızda HTML5 özelliği yoktur.
			</video>
		</div>

		<div class="col-4">
			<video width="500" height="360" controls loop autoplay poster="image.jpg">
				<source src="ilk_acilan.mp4" type="video/mp4">
				<source src="diger_desteklenen.ogg" type="video/ogg">
				Tarayıcınızda HTML5 özelliği yoktur.
			</video>
		</div>
	
</div>




