<div class="component-box">
    <h3>Video Yarumları</h3>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <input type="text" placeholder="Açıklama" class="form-control" @bind-value="description" />
            </div>
            <button class="btn btn-primary btn-block" @onclick="InsertComment">Yorum Ekle</button>
        </div>
    </div>
    <hr />
    @foreach (var item in VideoYorum)
    {
        <div class="box-card">
            <div class="row">
                <img src="/img/default.png" class="comment-avatar" />
                <h4 class="comment-content">@item</h4>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public List<string> VideoYorum { get; set; }

    string description = string.Empty;

    void InsertComment()
    {
        VideoYorum.Add(description);
        description = string.Empty;
    }
}
