@page "/videokategori/ekle"
@page "/videokategori/duzenle/"

<h3>Mevzuat Kategori Ekle Duzenle</h3>
<hr />

<div class="form-group row">
	<label class="control-label col-md-12">Video Kategori Adı</label>
	<div class="col-md-4">
		<text class="form-control" />
	</div>
</div>

<div class="form-group row">
	<label class="control-label col-md-12">Açıklama</label>
	<div class="col-md-4">
		<text class="form-control" />
	</div>
</div>

<div class="form-group row">
	<label class="control-label col-md-12">Video Kategori Durumu</label>
	<div class="col-md-4">
		<text class="form-control" />
	</div>
</div>
<div class="form-group">
	<button type="submit" class="btn btn-primary">Kaydet</button>
	<button class="btn btn-light">Vazgeç</button>
</div>

