@page "/haberler"
@inherits HaberModeli

@if (haberler == null)

{
    <p><em>Yükleniyor...</em></p>
}

else

{
    <div class="col-12">
        <CardComponent cardStyle="Style.primary">
            <CardHeader>Haberler</CardHeader>
            <CardBody>
                <div class="row">
                    @foreach (var haber in haberler.Where(h => h.Kategori.TextHaberDuyuru() == "Haber" &&
                         h.AktifPasif == true))
                    {

                        <div class="col-12 col-md-4 col-lg-3">
                            <article class="article article-style-c" id="Height">
                                <div class="article-header">
                                    <div class="article-image" data-background="images/uploaded/@string.Concat(haber.Dosya?.FirstOrDefault().Adi,
                                               ".",
                                               haber.Dosya?.FirstOrDefault().Uzanti)">
                                    </div>
                                </div>
                                <div class="article-details">
                                    <div class="article-category">
                                        <a href="haber/detay/@haber.Id">Haber</a>
                                        <div class="bullet"></div> <a href="haber/detay/@haber.Id">@haber.KayitTarihi</a>
                                    </div>
                                    <div class="article-title">
                                        <h2>
                                            <a href="haber/detay/@haber.Id">
                                                @if (haber.Adi != null)
                                                {
                                                    <MarkDownComponent Content="@(haber.Adi.Length>30 ?
                                                                          haber.Adi.Substring(0, 19) + "..." :
                                                                          haber.Adi)" />
                                                }
                                            </a>
                                        </h2>
                                    </div>
                                    <p>
                                        @if (haber.Aciklama != null)
                                        {
                                            <MarkDownComponent Content="@(haber.Aciklama.Length>500 ?
                                                                  haber.Aciklama.Substring(0, 280) + "..." :
                                                                  haber.Aciklama)" />
                                        }
                                    </p>

                                </div>
                            </article>
                        </div>
                    }

                </div>
            </CardBody>
        </CardComponent>
    </div>

}


<style>

    #Height {
        min-height: 480px !important;
        max-height: 480px !important
    }

    .theme-white .btn-primary {
        margin-left: 8rem;
        background-color: #6777ef;
        border-color: transparent !important;
        color: #fff;
    }
</style>

