@page "/haberler"
@inherits HaberModeli


@if (haberler == null)

{
    <p><em>Yükleniyor...</em></p>
}

else

{
    <div class="col-12">
        <div class="row">
            @foreach (var haber in haberler)
            {

                <div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
                    <article class="article article-style-c">
                        <div class="author-box-center align-center">
                            <img width="200" height="200" alt="@haber.Adi" src="/img/uploaded/@haber.Dosya" class="rounded-circle author-box-picture">
                            <div class="clearfix"></div>
                        </div>
                        <div class="article-details">
                            <div class="article-category">
                                <a href="">Haber</a>
                                <div class="bullet"></div> <a>@haber.KayitTarihi</a>
                            </div>
                            <div class="article-title">
                                <h1 class="article-style-b">
                                    <a>
                                        @if (haber.Adi != null)
                                        {
                                            ((MarkupString)haber.Adi).ToString();

                                            haber.Adi = haber.Adi?.Length > 60 ? haber.Adi.Substring(0, 27) + "..." : haber.Adi;



                                        }
                                    </a>
                                </h1>
                            </div>
                            <div name="HaberAltBaslik" class="article-title">
                                <p class="alert-title">
                                    @if (haber.AltBaslik != null)
                                    {
                                        ((MarkupString)haber.AltBaslik).ToString();

                                        haber.AltBaslik = haber.AltBaslik?.Length > 60 ? haber.AltBaslik.Substring(0, 27) + "..." : haber.AltBaslik;


                                    }
                                </p>
                            </div>
                            <p name="HaberAciklama" class="accordion-header">

                                @*@if (haber.Aciklama != null)
                                    {
                                        haber.Aciklama = haber.Aciklama.Length > 30 ? haber.Aciklama.Substring(0, 60) + "..." : haber.Aciklama;
                                    }*@
                            </p>


                        </div>
                        <div class="article-cta centered">
                            <a href="@($"haber/detay/{haber.Id}")" class="btn btn-primary fas fa-chevron-right">Haber Detayı</a>
                        </div>
                    </article>
                </div>
            }

        </div>
    </div>

}

<style>
    .article .article-details {
        min-height: 180px;
        max-height: 180px;
    }

    .theme-white .btn-primary {
        margin-left: 8rem;
        background-color: #6777ef;
        border-color: transparent !important;
        color: #fff;
    }
</style>

