<AuthorizeView Roles="Administrators">
    <Authorized>
        <li class="dropdown">
            <a href="#" class="menu-toggle nav-link has-dropdown">
                <i data-feather="briefcase"></i><span>İçerik Ekle Düzenle</span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="nav-link" href="administration">Kullanıcı Ekle</a></li>
                <li><a class="nav-link" href="haber/ekle">Haber Ekle</a></li>
                <li><a class="nav-link" href="duyuru/ekle">Duyuru Ekle</a></li>
                <li><a class="nav-link" href="duzelticifaaliyet/ekle">Düzeltici Faaliyet Ekle</a></li>
                <li><a class="nav-link" href="etkinlik/ekle">Etkinlik Ekle</a></li>
                <li><a class="nav-link" href="katilimci/ekle">Katılımcı Ekle</a></li>
                <li><a class="nav-link" href="dosya/ekle">Döküman Ekle</a></li>
                <li><a class="nav-link" href="egitim/ekle">Eğitim Ekle</a></li>
                <li><a class="nav-link" href="mevzuat/ekle">Güncel Mevzuat Ekle</a></li>
                <li><a class="nav-link" href="video/ekle">Video Ekle</a></li>
                <li><a class="nav-link" href="ikuygulama/ekle">İk Uygulaması Ekle</a></li>
                <li><a class="nav-link" href="ayrilis/ekle">Personel Aylış Ekle</a></li>
                <li><a class="nav-link" href="vefat/ekle">Vefat Durumu Ekle</a></li>
                <li><a class="nav-link" href="personel/ekle">Yeni İşe Başlayan Ekle</a></li>
                <li><a class="nav-link" href="rehber/ekle">Rehbere Bilgi Ekle</a></li>
                <li class="dropdown">
                    <a href="#" class="menu-toggle nav-link has-dropdown">
                        <i data-feather="speaker"></i><span>
                            Haftalık
                            Toplantı Durumları
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="oda/ekle">Toplantı Odası Ekle</a></li>
                        <li><a class="nav-link" href="toplanti/ekle">Toplantı Ekle</a></li>
                        <li><a class="nav-link" href="toplantinotu/ekle">Toplantı Notu Ekle</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </Authorized>
</AuthorizeView>
