<AuthorizeView Roles="HaberEkleDuzenle, DuyuruEkleDuzenle">
    <Authorized>
        <li class="dropdown">
            <a href="#" class="menu-toggle nav-link has-dropdown">
                <i data-feather="bell"></i><span>
                    Haber Duyuru
                </span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="nav-link" href="haber/ekle">Haber Ekle</a></li>
                <li><a class="nav-link" href="duyuru/ekle">Duyuru Ekle</a></li>
            </ul>
        </li>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="EgitimEkleDuzenle">
    <Authorized>
        <li class="dropdown">
            <a href="egitim/ekle" class="nav-link"><i data-feather="arrow-up-circle"></i><span>Eğitim Ekle Düzenle</span></a>
        </li>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="KatilimciEkleDuzenle, EtkinlikEkleDuzenle">
    <Authorized>
        <li class="dropdown">
            <a href="#" class="menu-toggle nav-link has-dropdown">
                <i data-feather="activity"></i><span>
                    Etkinlik Durumları
                </span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="nav-link" href="etkinlik/ekle">Etkinlik Ekle</a></li>
                <li><a class="nav-link" href="katilimci/ekle">Katılımcı Ekle</a></li>
            </ul>
        </li>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="RehberBilgiEkle">
    <Authorized>
        <li class="dropdown">
            <a href="rehber/ekle" class="nav-link"><i data-feather="arrow-up-circle"></i><span>Rehber Ekle Düzenle</span></a>
        </li>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="ToplantiEkleDuzenle,OdaEkleDuzenle,ToplantiNotuEkleDuzenle,MerkezEkleDuzenle">
    <Authorized>
        <li class="dropdown">
            <a href="#" class="menu-toggle nav-link has-dropdown">
                <i data-feather="speaker"></i><span>
                    Haftalık
                    Toplantı Durumları
                </span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="nav-link" href="oda/ekle">Toplantı Odası Ekle</a></li>
                <li><a class="nav-link" href="toplanti/ekle">Toplantı Ekle</a></li>
                <li><a class="nav-link" href="toplantimerkezi/ekle">Toplantı Merkezi Ekle</a></li>
                <li><a class="nav-link" href="toplantinotu/ekle">Toplantı Notu Ekle</a></li>
            </ul>
        </li>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="AyrilisEkleDuzenle,VefatDurumuEkleDuzenle,YeniBaslayanEkleDuzenle,GorevDegisikligiEkleDuzenle">
    <Authorized>
        <li class="dropdown">
            <a href="#" class="menu-toggle nav-link has-dropdown">
                <i data-feather="speaker"></i><span>
                    Haftalık
                    Personel Durumları Ekle
                </span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="nav-link" href="personel/ekle">Yeni İşe Başlayan Ekle</a></li>
                <li><a class="nav-link" href="vefat/ekle">Vefat Durumu Ekle</a></li>
                <li><a class="nav-link" href="ayrilis/ekle">Ayrılış Durumu Ekle</a></li>
                <li><a class="nav-link" href="gorev/degisiklik/ekle">Görev Değişiklik Durumu Ekle</a></li>
            </ul>
        </li>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="IkUygulamaEkleDuzenle">
    <Authorized>
        <li class="dropdown">
            <a href="ikuygulama/ekle" class="nav-link"><i data-feather="arrow-up-circle"></i><span>IK Uygulama Ekle Düzenle</span></a>
        </li>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="DosyaEkleDuzenle,MevzuatEkleDuzenle,VideoEkleDuzenle">
    <Authorized>
        <li class="dropdown">
            <a href="#" class="menu-toggle nav-link has-dropdown">
                <i data-feather="folder"></i><span>
                    Dosya Ekleme
                </span>
            </a>
            <ul class="dropdown-menu">
                <li><a class="nav-link" href="dokumanlar">Döküman Ekle</a></li>
                <li><a class="nav-link" href="mevzuat/ekle">Güncel Mevzuat Ekle</a></li>
            </ul>
        </li>
    </Authorized>
</AuthorizeView>
