<div class="@("card card-"+cardStyle.ToString())" style="margin-top:10px">
	<div class="card-header">
		<h4>
			@CardHeader
		</h4>
	</div>
	<div class="card-body">
		@CardBody
	</div>
</div>

@code {
	[Parameter]
	public Style cardStyle { get; set; }
	[Parameter]
	public RenderFragment CardBody { get; set; }
	[Parameter]
	public RenderFragment CardHeader { get; set; }


}
