<div class="@("card card-"+cardStyle.ToString())" style="margin-top:10px">
	<div class="card-header">
		<h4>
			@Header
		</h4>
	</div>
	<div class="card-body">
		@Body
	</div>
</div>

@code {
	[Parameter]
	public CardStyle cardStyle { get; set; }
	[Parameter]
	public RenderFragment Body { get; set; }
	[Parameter]
	public RenderFragment Header { get; set; }

	public enum CardStyle
	{
		success,
		danger,
		secondary,
		primary,
		warning,
		dark,
		light,
		info
	}
}
