<div  class="@("card card-"+cardStyle.ToString())" style="margin-top: 10px; min-height:@MinHeighth">
	<div class="card-header">
		<h4>
			@CardHeader
		</h4>
	</div>
	<div class="card-body">
		@CardBody
	</div>
	<div class="card-footer">
		@CardFotter
	</div>
</div>
						
@code {

    [Parameter]
    public Style cardStyle { get; set; }
    [Parameter]
    public RenderFragment CardBody { get; set; }
    [Parameter]
    public RenderFragment CardHeader { get; set; }

    [Parameter]
    public RenderFragment CardFotter { get; set; }

	[Parameter]
    public string MinHeighth { get; set; }
}
