@page "/dovizler"
@using VedasPortal.Services.Doviz;

@*@inject VedasPortal.Services.Doviz.DovizDegisimleri doviz*@

<CardComponent cardStyle="Style.secondary">
    <CardHeader>
        <i class="fas fa-money-check-alt"></i>Döviz Kurları |
        <a class="text-danger">TCMB hergün 15.30'da güncelleme yapmaktadır!</a>
    </CardHeader>
    <CardBody>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Kur</th>
                    <th>Alış Fiyatı</th>
                    <th>Satış Fiyatı</th>
                    <th>Yön</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>
                        
                        @dolar?.DovizAdi
                    </td>
                    <td>@dolar?.DovizAlis</td>
                    <td>
                        @dolar?.DovizSatis
                    </td>

                    <td>
                        <i data-feather="chevrons-up"></i>
                    </td>

                    <td>
                        <img src="https://cdn.pixabay.com/photo/2021/02/06/18/28/money-5988976_960_720.png" alt="" width="20">
                    </td>
                </tr>
                <tr>
                    <td>
                        @euro?.DovizAdi
                    </td>
                    <td>@euro?.DovizAlis</td>
                    <td>
                        @euro?.DovizSatis
                    </td>

                    <td>
                        <i data-feather="chevrons-up"></i>
                    </td>
                    <td>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Euro_symbol_gold.svg/1200px-Euro_symbol_gold.svg.png" alt="" width="15">
                    </td>

                </tr>
            </tbody>

        </table>



    </CardBody>
    <CardFotter>
        <a href="tumdovizler" class="nav-link"><span>Tüm Dövizler</span></a>
    </CardFotter>
</CardComponent>

@code {

    DovizKurlari dolar = DovizDegisimleriServisi.GunlukDovizDegisimleriGetir(DovizKodlari.USD);
    DovizKurlari euro = DovizDegisimleriServisi.GunlukDovizDegisimleriGetir(DovizKodlari.EUR);
}

<style>
    .card .card-header h4 {
        font-size: 15px;
        line-height: 28px;
        padding-right: 10px;
        margin-bottom: 0;
        color: #212529;
    }

    .card .card-body {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .nav-link {
        display: block;
        padding: 0;
    }

    .table {
        width: 100%;
        margin-bottom: 0rem;
        color: #212529;
    }

    .card .card-footer {
        background-color: transparent;
        border: none;
        padding-top: 1px;
        padding-bottom: 10px;
    }

</style>