
@using VedasPortal.Repository.Interface;

@if (DuyurularListesi == null)

{
<p><em>Yükleniyor...</em></p> }

else

{

<CardComponent cardStyle="Style.info">
    <CardHeader>
        <i class="far fa-list-alt"></i> Duyurlar
    </CardHeader>
    <CardBody>
        <div class="list-group" id="duyuruDiv">
            @foreach (var duyuru in DuyurularListesi.Where(d => d.DuyuruKutusundaOlsunMu == true).Take(3).ToList())
            {

<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h6 class="mb-1">@duyuru.Adi</h6>
        <small>@duyuru.KayitTarihi.ToLongDateString()</small>
    </div>
    <p class="mb-1">
        @((MarkupString) duyuru.Aciklama)

    </p>
</a>}

        </div>
    </CardBody>
</CardComponent>}


<style>
    #duyuruDiv {
        font-size: 10px
    }
</style>

@code { 
    
    
    [Inject]
    public IBaseRepository<Yayin> DuyuruServisi { get; set; }


    private IEnumerable<Yayin> duyurularListesi = new List<Yayin>();
    protected IEnumerable<Yayin> DuyurularListesi { get => duyurularListesi; set => duyurularListesi = value; }

    protected IEnumerable<Yayin> TumDuyurulariGetir()
    {
        DuyurularListesi = DuyuruServisi.GetAll();

        return DuyurularListesi;

    }

    protected override Task OnInitializedAsync()
    {
        TumDuyurulariGetir();

        return Task.CompletedTask;
    } }