<footer class="main-footer">
    <div class="footer-left">
        <a href="@Href.ToString()" target="@Target.ToString()">@CompanyName</a>
    </div>
    <div class="footer-right">
    </div>
</footer>

@code {

    [Parameter]
    public string CompanyName { get; set; }

    [Parameter]
    public Target Target { get; set; }

    [Parameter]
    public string Href { get; set; }

}