<CardComponent cardStyle="Style.primary">
	<CardHeader>
		<i class="fas fa-newspaper"></i> Haberler
	</CardHeader>
	<CardBody>
		<div class="list-group" id="duyuruDiv">
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h6 class="mb-1">VEDAŞ'ın Yatırımları Devam Ediyor</h6>
					<small>3 gün önce</small>
				</div>
				<p class="mb-1">
					Vangölü Elektrik Dağıtım A.Ş. (VEDAŞ) Van İl Müdürlüğü, tüketicilerine sunduğu hizmetin kalitesini iyileştirmek amacıyla...
				</p>
			</a>
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h6 class="mb-1">Personelimiz Kışa Hazır</h6>
					<small>4 gün önce</small>
				</div>
				<p class="mb-1">
					VEDAŞ Muş İl Müdürlüğü, elektrik şebekesinin bakım ve onarım çalışmalarını yaparak kışa hazırlarken, hizmet içi eğitimlerle de...
				</p>
			</a>
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h6 class="mb-1">
						VEDAŞ'ın Yatırımları Devam Ediyor
					</h6>
					<small>5 gün önce</small>
				</div>
				<p class="mb-1">
					Vangölü Elektrik Dağıtım A.Ş. (VEDAŞ), Bitlis’te gerçekleştirdiği yatırımlarla şehrin enerji altyapısını...
				</p>
			</a>
		</div>
	</CardBody>
</CardComponent>
<style>
	#duyuruDiv {
		font-size: 10px
	}
</style>

@code {

}
