@using System.Xml.Linq
@using VedasPortal.Entities.Models.HavaDurum


<div class="col-lg-6 col-sm-12 col-md-6 col-xs-12" @attributes="attributes">
    <div class="@("card " + cardBackground)" style="height:160px">
        <div class="card-body">
            <div class="text-white">
                <h5>@SehirAdi </h5>
                <div class="row">
                    <img style="margin-left:5px"
                         src="https://cdn2.iconfinder.com/data/icons/weather-flat-14/64/weather02-512.png" width="60">
                    <span class="font-15">Max Sıcaklık:@HavaDurumuGetir(@Sehir.ToString()).FirstOrDefault().MaksimumDerece C°</span>
                    <span class="font-10" style="margin-left:5px">@HavaDurumuGetir(@Sehir.ToString()).FirstOrDefault().Durum</span>

                </div>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> attributes { get; set; }

    [Parameter]
    public string Sehir { get; set; }
    [Parameter]
    public string SehirAdi { get; set; }
    [Parameter]
    public DateTime? Tarih { get; set; }
    [Parameter]
    public BackgroundColor HavadurumuBackground { get; set; } = BackgroundColor.orange;

    public string cardBackground
    {
        get
        {
            if (HavadurumuBackground == BackgroundColor.orange)
                return "l-bg-orange";
            else if (HavadurumuBackground == BackgroundColor.cyan)
                return "l-bg-cyan";
            else return "l-bg-cyan";
        }
    }

    List<HavaDurumModeli> HavaDurumuGetir(string sehir)
    {
        List<HavaDurumModeli> HavaDurumuList = new List<HavaDurumModeli>();
        try
        {
            XDocument xDoc = XDocument.Load("https://www.mgm.gov.tr/FTPDATA/analiz/sonSOA.xml");
            HavaDurumuList = xDoc.Descendants("sehirler").Where(x => (string)x.Element("Merkez") == sehir).Select(o => new HavaDurumModeli
            {
                Bolge = (string)o.Element("Bolge"),
                Merkez = (string)o.Element("Merkez"),
                Durum = (string)o.Element("Durum"),
                Ili = (string)o.Element("ili"),
                MaksimumDerece = (string)o.Element("Mak")
            }).ToList();
            return HavaDurumuList;
        }
        catch (Exception)
        {
            return null;
        }

    }

}
