@using Microsoft.AspNetCore.Identity
@using VedasPortal.Entities.Models.User
@inject UserManager<Kullanici> _userManager
@inject SignInManager<Kullanici> _signInManager
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <CardComponent cardStyle="Style.primary">
                <CardHeader>
                    Giriş Yap
                </CardHeader>
                <CardBody>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email"
                               type="text"
                               @bind-value="Username"
                               class="form-control"
                               name="email"
                               tabindex="1"
                               required autofocus />
                        <div class="invalid-feedback">
                            Lütfen Kullanıcı Email Girin:
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-block">
                            <label for="password" class="control-label">Şifre:</label>
                        </div>
                        <input id="password"
                               type="password"
                               class="form-control"
                               @bind-value="Password"
                               name="password"
                               tabindex="2"
                               required />
                        <div class="invalid-feedback">
                            Lütfen Şifrenizi Girin:
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit"
                               value="Giriş Yap"
                               class="btn btn-sm btn-primary m-r-5"
                               tabindex="4"
                               @onclick="LoginUser"
                                />
                    </div>

                </CardBody>
            </CardComponent>
        </div>
    </div>
</div>

<br />

@Message

@code {
    string Username;
    string Password;
    string Message;

    private async void LoginUser()
    {
        var user = await _userManager.FindByNameAsync(Username);
        if (user == null)
            Message = "User does not exist";

        var singInResult = await _signInManager.CheckPasswordSignInAsync(user, Password,false);
        if (!singInResult.Succeeded)
            Message = "Invalid password";
        else
            await _signInManager.SignInAsync(user, false); // Error occurs here

        await InvokeAsync(() => StateHasChanged())
                    .ConfigureAwait(false);
    }
}