<CardComponent cardStyle="Style.danger">
	<CardHeader>
		<i class="fas fa-user-friends"></i> İşe Giriş - Ayrılış
	</CardHeader>
	<CardBody>
		<ul id="personelDurumDiv" class="list-unstyled user-details list-unstyled-border list-unstyled-noborder">
			<li class="media">
				<img alt="image" class="mr-3 rounded-circle" width="50" src="assets/img/users/user-1.png">
				<div class="media-body">
					<div class="media-title">Cara Stevens</div>
					<div class="text-job text-muted">Web Developer</div>
				</div>
				<div class="media-items">
					<div class="media-item">
						<div class="media-title">IT</div>
						<div class="text-job text-muted">Birim</div>
					</div>
					<div class="media-item">
						<div class="media-title">Giriş</div>
						<div class="text-job text-muted">Durum</div>
					</div>
				</div>
			</li>
			<li class="media">
				<img alt="image" class="mr-3 rounded-circle" width="50" src="assets/img/users/user-5.png">
				<div class="media-body">
					<div class="media-title">Ashton Cox</div>
					<div class="text-job text-muted">Web Developer</div>
				</div>
				<div class="media-items">
					<div class="media-item">
						<div class="media-title">IT</div>
						<div class="text-job text-muted">Birim</div>
					</div>
					<div class="media-item">
						<div class="media-title">Giriş</div>
						<div class="text-job text-muted">Durum</div>
					</div>
				</div>
			</li>
			<li class="media">
				<img alt="image" class="mr-3 rounded-circle" width="50" src="assets/img/users/user-4.png">
				<div class="media-body">
					<div class="media-title">Sarah Smith</div>
					<div class="text-job text-muted">Web Developer</div>
				</div>
				<div class="media-items">
					<div class="media-item">
						<div class="media-title">IT</div>
						<div class="text-job text-muted">Birim</div>
					</div>
					<div class="media-item">
						<div class="media-title">Ayrılış</div>
						<div class="text-job text-muted">Durum</div>
					</div>
				</div>
			</li>
			<li class="media">
				<img alt="image" class="mr-3 rounded-circle" width="50" src="assets/img/users/user-5.png">
				<div class="media-body">
					<div class="media-title">Ashton Cox</div>
					<div class="text-job text-muted">Web Developer</div>
				</div>
				<div class="media-items">
					<div class="media-item">
						<div class="media-title">IT</div>
						<div class="text-job text-muted">Birim</div>
					</div>
					<div class="media-item">
						<div class="media-title">Giriş</div>
						<div class="text-job text-muted">Durum</div>
					</div>
				</div>
			</li>
		</ul>
	</CardBody>
</CardComponent>
<style>
	#duyuruDiv {
		font-size: 10px
	}

	#personelDurumDiv .media-item {
		width: 100px;
	}
</style>

@code {

}
