<section class="section">
	<div class="section-title">
		@SectionTitle
	</div>
	<div class="section-body">
		@SectionBody

		<div class="card">
			<div class="card-header">
				<h4>@CardHeader</h4>
			</div>
			<div class="card-body">
				@CardBody
			</div>
		</div>
	</div>
</section>

@code {

	[Parameter]
	public RenderFragment SectionBody { get; set; }

	[Parameter]
	public RenderFragment SectionTitle { get; set; }

	[Parameter]
	public RenderFragment CardBody { get; set; }
	[Parameter]
	public RenderFragment CardHeader { get; set; }
}

