<section class="section">
	<div class="section-title">
		@SectionTitle
	</div>
	<div class="section-body">
		@SectionBody
	</div>
</section>

@code {

	[Parameter]
	public RenderFragment SectionBody { get; set; }

	[Parameter]
	public RenderFragment SectionTitle { get; set; }
}