<CardComponent cardStyle="Style.warning">
    <CardHeader>
        Yaklaşan Toplantılar
    </CardHeader>
    <CardBody>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>Toplantı Adı</th>
                    <th>Tarih</th>
                    <th></th>
                </tr>
                <tr>
                    <td>Ecommerce website</td>
                    <td>2018-01-20</td>
                    <td>
                        <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Detay">
                            <i class="fas fa-pencil-alt"></i> Detay
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </CardBody>
</CardComponent>
