@page "/duyurular"
@inherits DuyuruIndexModel


@if (duyuruListesi == null)

{
    <p><em>Yükleniyor...</em></p>
}

else

{
    <div class="col-12">
        <div class="row">
            @foreach (var duyuru in duyuruListesi)
            {

                <div class="col-12 col-md-4 col-lg-4">
                    <article class="article article-style-c">
                        <div class="article-header">
                            <div class="article-image" data-background="assets/img/blog/img02.png" style="background-image: url(&quot;assets/img/blog/img02.png&quot;);">
                            </div>
                        </div>
                        <div class="article-details">
                            <div class="article-category">
                                <a href="#">Duyuru</a>
                                <div class="bullet"></div> <a href="#">@duyuru.KayitTarihi</a>
                            </div>
                            <div class="article-title">
                                <h2><a href="#">@duyuru.Adi</a></h2>
                            </div>
                            <p>
                                @duyuru.Aciklama
                            </p>
                            <div class="article-user">
                                <img alt="image" src="assets/img/users/user-1.png">
                                <div class="article-user-details">
                                    <div class="user-detail-name">
                                        <a href="#">Ekleyen Birim</a>
                                    </div>
                                    <div class="text-job">Ekleyen Kullanıcı</div>
                                </div>
                            </div>
                            <div class="article-cta">
                                <a href="@($"duyuru/detay/{duyuru.Id}")" class="btn btn-primary fas fa-chevron-right">Duyuru Detayı</a>
                            </div>

                        </div>
                    </article>
                </div>
            }

        </div>
    </div>

}
