@page "/duyurular"
@inherits DuyuruModeli


@if (duyurular == null)

{
    <p><em>Yükleniyor...</em></p>
}

else

{
    <div class="col-12">
        <div class="row">
            @foreach (var duyuru in duyurular)
            {

                <div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
                    <article class="article article-style-c">
                        <div class="author-box-center align-center">
                            <img width="200" height="200" alt="@duyuru.Adi" src="/img/uploaded/@duyuru.DosyaYolu" class="rounded-circle author-box-picture">
                            <div class="clearfix"></div>
                        </div>
                        <div class="article-details">
                            <div class="article-category">
                                <a href="">Haber</a>
                                <div class="bullet"></div> <a>@duyuru.KayitTarihi</a>
                            </div>
                            <div class="article-title">
                                <h1 class="article-style-b">
                                    <a>
                                        @if (duyuru.Adi != null)
                                        {
                                            duyuru.Adi = duyuru.Adi.Length > 60 ? duyuru.Adi.Substring(0, 27) + "..." : duyuru.Adi;@((MarkupString)duyuru.Adi)}
                                    </a>
                                </h1>
                            </div>
                            <div name="HaberAltBaslik" class="article-title">
                                <p class="alert-title">
                                    @if (duyuru.AltBaslik != null)
                                    {
                                        duyuru.AltBaslik = duyuru.AltBaslik.Length > 200 ? duyuru.AltBaslik.Substring(0, 85) + "..." : duyuru.AltBaslik;@((MarkupString)duyuru.AltBaslik)}

                                </p>
                            </div>
                            <p name="HaberAciklama" class="accordion-header">

                                @if (duyuru.Aciklama != null)
                                {
                                    duyuru.Aciklama = duyuru.Aciklama.Length > 30 ? duyuru.Aciklama.Substring(0, 60) + "..." : duyuru.Aciklama;
                                }
                            </p>


                        </div>
                        <div class="article-cta centered">
                            <a href="duyuru/detay/@duyuru.Id" class="btn btn-primary fas fa-chevron-right">Duyuru Detayı</a>
                        </div>
                    </article>
                </div>
            }

        </div>
    </div>

}

<style>
    .article .article-details {
        min-height: 180px;
        max-height: 180px;
    }

    .theme-white .btn-primary {
        margin-left: 8rem;
        background-color: #6777ef;
        border-color: transparent !important;
        color: #fff;
    }
</style>