@using Microsoft.AspNetCore.Identity
@using VedasPortal.Entities.Models.User 
@inject SignInManager<Kullanici> SignInManager
@inject UserManager<Kullanici> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark"
               asp-area="Identity"
               asp-page="/Account/Manage/Index"
               title="Manage">
               Merhaba @User.Identity.Name!
            </a>
        </li>

        <li class="nav-item">
            <form class="form-inline" 
                  asp-area="Identity" 
                  asp-page="/Account/Logout" 
                  asp-route-returnUrl="/" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Çıkış Yap</button>
            </form>
        </li> 
     }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" 
               asp-page="/Auth/Register">
            Kaydol
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark"                 
               asp-page="/Auth/SignIn">
            Giriş Yap
            </a>
        </li>
        }
</ul>
