@inject IToastService toastService

<div class="@("btn btn"+toastStyle.ToString())" style="margin-top:10px" @onclick="ShowSuccess">

	<h4 class="@("btn btn"+toastStyle.ToString())">
		@ToastHeader
	</h4>
	<h6 class="@("btn btn"+toastStyle.ToString())">
		@ToastBody
	</h6>

</div>
@code {

	[Parameter]
	public Style toastStyle { get; set; }
	[Parameter]
	public RenderFragment ToastBody { get; set; }
	[Parameter]
	public RenderFragment ToastHeader { get; set; }

	protected void ShowSuccess()
	{
		toastService.ShowSuccess("İşleminiz başarılı bir şekilde tamamlanmıştır", "İŞLEM BAŞARILI");
	}
	protected void ShowError()
	{
		toastService.ShowError("Bir hata oluştu!", "HATA");
	}

	protected void ShowInfo()
	{
		toastService.ShowInfo("Bu işlem için yöneticinizden bilgi almalısınız!", "BİLGİ MESAJI");
	}
	protected void ShowWarning()
	{
		toastService.ShowWarning("Bu işlem için yetkiniz yok!", "UYARI");
	}
}

