@page "/MevzuatKategoriDetay"
<h3>MevzuatKategoriDetay</h3>

@code {

}

<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>
