@inherits Page

<div class="col-12 col-md-12 col-sm-12">
	
	<div class="empty-state" data-height="400">
	@ChildContext
	<h2>@ErrorText</h2>
		<p class="lead">
			@ErrorDescription

		</p>
		<a href="/Index" class="btn btn-warning mt-4">Tekrar Deneyin!</a>
		<a href="" class="mt-4 bb close">Çıkış</a>
</div>
</div>


	