@using VedasPortal.Services.FileUploadDownload;
@inject IFileDownload fileDownload;

@if (previewImages.Count > 0)
{
    <div class="card" style="margin-top:10px">
        <div class="row align-items-start">

            @foreach (var item in previewImages)
            {
                // url'den içerik türünü çıkar
                var type = item.Split(";");
                <div class="col-3">

                    @if (type[0].Contains("image"))
                    {
                        // görüntüleri doğrudan önizleyin
                        <img class="rounded float-left"
                 src="@item"
                 width="100"
                 height="100" />
                    }
                    else
                    {
                        // Diğer dosya türleri için logoları kullanın.
                        // örneğin, pdf dosyaları için pdf logosunu kullanırız
                        if (type[0].Contains("pdf"))
                        {
                            <img class="rounded float-left"
                 src="images/pdf_logo.png"
                 width="150"
                 height="150" />
                        }

                        else if (type[0].Contains("mp4"))
                        {
                            <img class="rounded float-left"
                 src="images/mp4.png"
                 width="150"
                 height="150" />

                        }
                    }
                    
                    <button @onclick="() => DownloadFile(item)">İndir</button>

                </div>
            }
        </div>
        <br />
    </div>
}

@code {

    
    // yüklenen dosyalar için önizleme URL'lerinin listesi
    private IList<string> previewImages = new List<string>();

    // bileşen başlatıldığında çağrılan yöntem
    protected async override Task OnInitializedAsync()
    {
        // Önizleme için yüklenen tüm dosyaları al
        previewImages = await fileDownload.GetUploadedFiles();
    }

    // Önizleme için yüklenen tüm dosyaları al
    private async Task DownloadFile(string url)
    {
        // dosya indirme hizmetinden dosya indirme yöntemini yürütün
        await fileDownload.DownloadFile(url);
    } }


<style>
    .col-3 {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 35%;
    }
</style>