
@using VedasPortal.Services
@inject RandomDataService dataService

<style>
    body,
    html,
    app {
        height: 100%;
    }
</style>

    @if (dataRecords == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <Scheduler DateCurrent="dateCurrent" TimelineDayScale="SchedulerTimelineDayScale.HalfHour" 
            Views="@views" View="SchedulerViewType.Week" DataSource="dataRecords" 
            Style="width: 100%; height:600px; margin-bottom: 50px;">
        </Scheduler>
    }

   
@code {
    private List<SchedulerDataSource> dataRecords = new List<SchedulerDataSource>();
    private DateTime dateCurrent = new DateTime(2021, 1, 25);

    private IEnumerable<SchedulerViewType> views = new List<SchedulerViewType>()
    {
        SchedulerViewType.Day,
        SchedulerViewType.Week,
        SchedulerViewType.Month
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();

        dataService.GenerateSchedulerData().ForEach((SchedulerDataRecord record) =>
        {
            if (record is null)
            {
                throw new ArgumentNullException(nameof(record));
            }

            SchedulerDataSource schedulerDataItem = new SchedulerDataSource()
            {
                Label = record.Label,
                DateStart = record.DateStart,
                DateEnd = record.DateEnd,
                BackgroundColor = record.BackgroundColor,
                AllDay = record.AllDay
            };

            dataRecords.Add(schedulerDataItem);
        });
    }
}