@page "/oneridetay"



<section class="section">
	<div class="section-body">
		<div class="row mt-sm-4">
			
			<div class="col-12 col-md-12 col-lg-12">
				<div class="card">
					<div class="padding-20">
						<ul class="nav nav-tabs" id="myTab2" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="home-tab2" data-toggle="tab" href="#about" role="tab" aria-selected="true">Öneri Detayı</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="profile-tab2" data-toggle="tab" href="#settings" role="tab" aria-selected="false">Öneriyi Yapan Personel</a>
							</li>
						</ul>
						<div class="tab-content tab-bordered" id="myTab3Content">
							<div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">

								<p class="m-t-30">
									Öneri Detay bilgisi
								</p>
							</div>
							<div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="profile-tab2">
								<form method="post" class="needs-validation">

									<div class="card-body">
										<div class="row">
										</div>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
