@page "/Oneriler"
@inherits OnerilerModeli


@if (Oneriler == null)

{
    <p><em>Yükleniyor...</em></p> }

else

{
    <div class="col-12">
        <CardComponent cardStyle="Style.primary">

            <CardHeader>
                <div class="float-left">
                    <div class="col-md-12">
                        Sizden Gelen Öneriler |
                        <a href='/personel/oneri/ekle'
                           class="btn btn-primary"
                           role="button">
                            <i class="fa fa-user-plus"></i>
                            Yeni Bir Öneri Ekle
                        </a>
                    </div>
                </div>

            </CardHeader>
            <CardBody>

                <div class="row">

                    @foreach (var oneri in Oneriler.Where(x => x.AktifPasif == true).ToList())
                    {
                        <div class="col-lg-3 col-sm-12 col-md-6 col-xs-12">
                            <article class="article article-style-c" id="Height">

                                <div class="article-header">
                                    <div class="article-image" data-background="images/uploaded/@string.Concat(oneri.ImageFile.FirstOrDefault()?.Adi,".",
                                                   oneri.ImageFile.FirstOrDefault()?.Uzanti)">
                                    </div>
                                </div>

                                <div class="article-details">
                                    <div class="article-category">
                                        <a href="oneri/detay/@oneri.Id">Öneri</a>
                                        <div class="bullet"></div> <a>@oneri.KayitTarihi</a>
                                    </div>
                                    <div class="article-title">
                                        <h1 class="article-style-b">
                                            <a href="oneri/detay/@oneri.Id">

                                                @if (oneri.Adi != null)
                                                {
                                                    <MarkDownComponent Content="@(oneri.Adi.Length>30 ?
                                                                          oneri.Adi.Substring(0, 19) + "..." :
                                                                          oneri.Adi)" />
                                                }
                                            </a>
                                        </h1>
                                    </div>

                                    <p name="HaberAciklama" class="accordion-header">

                                        @if (oneri.Aciklama != null)
                                        {
                                            <MarkDownComponent Content="@(oneri.Aciklama.Length>500 ?
                                                                  oneri.Aciklama.Substring(0, 280) + "..." :
                                                                  oneri.Aciklama)" />
                                        }
                                    </p>
                                </div>
                            </article>
                        </div>}
                </div>
            </CardBody>
        </CardComponent>
    </div>}


<style>
    .article .article-details {
        min-height: 200px;
        max-height: 200px;
    }

    .theme-white .btn-primary {
        background-color: #6777ef;
        border-color: transparent !important;
        color: #fff;
    }

    .card .card-footer {
        background-color: transparent;
        border: none;
        margin-top: -3rem;
    }

    .img-fluid {
        max-width: 100%;
        height: 250px;
        max-height: 350px;
    }
</style>