<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Merhaba, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link text-danger">Çıkış Yap</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Auth/Register">Kaydol</a>
        <a href="Auth/SignIn">Giriş Yap</a>
    </NotAuthorized>
</AuthorizeView>
