@inherits LayoutComponentBase

<BlazoredToasts Position="ToastPosition.TopRight" Timeout="1" />
<div class="loader"></div>

<AuthorizeView>
    <Authorized>
        <div id="app">
            <div class="main-wrapper main-wrapper-1">
                <NavMenu />
                <!-- Main Content -->
                <div class="main-content">
                    <section class="section">
                        <div class="section-body">
                            <div class="row">
                                @Body
                            </div>
                        </div>
                    </section>
                </div>
                <footer class="main-footer">
                    <div class="footer-left">
                        <a href="https://www.vedas.com.tr" target="_blank">Vedaş</a>
                    </div>
                    <div class="footer-right">
                    </div>
                </footer>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedComponent />
    </NotAuthorized>
</AuthorizeView>


