@inject NavigationManager nav
@attribute [Authorize(Roles = "Admin, Yeni Kullanıcı, HaberEkleDuzenle,EgitimEkleDuzenle,MevzuatEkleDuzenle,VideoEkleDuzenle," +
                "EtkinlikEkleDuzenle,KatilimciEkleDuzenle,DuyuruEkleDuzenle,RehberBilgiEkle,OdaEkleDuzenle," +
                "ToplantiEkleDuzenle,ToplantiNotuEkleDuzenle,AyrilisEkleDuzenle,IkUygulamaEkleDuzenle,DosyaEkleDuzenle ")]

@using VedasPortal.Repository.Interface
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@using VedasPortal.Entities.Models.Dosya;
@using VedasPortal.Entities.Models.PersonelDurumlari;

<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar sticky">
    <div class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
            <li>
                <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn">
                    <i data-feather="align-justify"></i>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                    <i data-feather="maximize"></i>
                </a>
            </li>
            <li>
                <form class="form-inline mr-auto">
                    <div class="search-element">
                        <input class="form-control" type="search" placeholder="Ara" aria-label="Search"
                               data-width="200">
                        <button class="btn" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav navbar-right">
        <li class="dropdown dropdown-list-toggle">
            <a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg">
                <i data-feather="bell" class="bell"></i>
            </a>
            <AuthorizeView>
                <Authorized>
                    <BildirimComponent />

                </Authorized>
            </AuthorizeView>
        </li>
        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                <img alt="image" src="assets/img/user.png" class="user-img-radious-style">

                <span class="d-sm-none d-lg-inline-block">
                </span>
            </a>

            <div class="dropdown-menu dropdown-menu-right pullDown">
                <div class="dropdown-title">Merhaba Kullanıcı</div>
                <AuthorizeView>
                    <Authorized>
                        @foreach (var durum in KatilanAyrilanPersonel)
                        {
                            <a href="profil/@durum.Id" class="dropdown-item has-icon">
                                <i class="far fa-user"></i> Profil
                            </a>
                        }

                        <a href="Identity/Account/Manage" class="dropdown-item has-icon">
                            <i class="fas fa-cog"></i>
                            Ayarlar
                        </a>
                    </Authorized>
                </AuthorizeView>

                <div class="dropdown-divider"></div>
                <div style="margin-left:30px">
                    <LoginDisplay />
                </div>

            </div>
        </li>
    </ul>
</nav>
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/">
                <img alt="image" src="/images/logo.png" class="header-logo" /> <span class="logo-name">Vedaş Portal</span>
            </a>
        </div>
        <ul class="sidebar-menu">
            @*<li class="menu-header">Main</li>*@

            <li class="dropdown @(anasayfaActive)">
                <a href="/" class="nav-link"><i data-feather="home"></i><span>Anasayfa</span></a>
            </li>
            <li class="dropdown @(vedasRehberActive)">
                <a href="vedasrehber" class="nav-link"><i data-feather="book"></i><span>Vedaş Rehber</span></a>
            </li>
            <li class="dropdown ">
                <a href="ToplantiOdalari" class="nav-link">
                    <i data-feather="clock"></i>
                    <span>
                        Toplantı
                        Odaları
                    </span>
                </a>
            </li>

            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown">
                    <i data-feather="briefcase"></i><span>Faydalı İçerikler</span>
                </a>

                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="Egitimler">Eğitimler</a></li>
                    <li><a class="nav-link" href="dosyalar">Dökümanlar</a></li>
                    <li><a class="nav-link" href="Videolar">Videolar</a></li>
                    <li><a class="nav-link" href="ToplantiNotlariVeKararlar">Toplantı Notları Ve Alınan Kararlar</a></li>
                    <li><a class="nav-link" href="GuncelMevzuatTakibi">Güncel Mevzuat Takibi ve Regülasyonlar</a></li>
                </ul>
            </li>


            <li class="dropdown">
                <a href="Oneriler" class="nav-link"><i data-feather="arrow-up-circle"></i><span>Öneri Sistemi</span></a>
            </li>
            <li class="dropdown">
                <a href="DuzelticiFaaliyetOlusturma" class="nav-link">
                    <i data-feather="layers"></i><span>
                        Düzeltici
                        Faaliyet Oluşturma
                    </span>
                </a>
            </li>
            <li class="dropdown">
                <a href="haberler" class="nav-link"><i data-feather="book-open"></i><span>Basında Biz</span></a>
            </li>
            <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown">
                    <i data-feather="speaker"></i><span>
                        Haftalık
                        Personel Durumları
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="Doganlar">Doğanlar</a></li>
                    <li><a class="nav-link" href="Katilanlar">Katılanlar</a></li>
                    <li><a class="nav-link" href="Ayrilanlar">Ayrılanlar</a></li>
                    <li><a class="nav-link" href="Vefatlar">Vefatlar</a></li>
                    <li><a class="nav-link" href="gorevdegisiklikleri">Görev Değişiklikleri</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a href="IKUygulamalari" class="nav-link"><i data-feather="package"></i><span>IK Uygulamaları</span></a>
            </li>
            <AuthOtherUsersLink />

            <AuthAdminLink />

        </ul>
    </aside>
</div>
@code {
    protected override void OnInitialized()
    {
        nav.LocationChanged += LocChanged;
    }

    string SayfaDegisti(string sayfaAdi, string locName)
    {
        if (locName.Contains(sayfaAdi))
        {
            return "active";
        }
        return "";
    }
    string anasayfaActive, vedasRehberActive;
    protected void LocChanged(object sender, LocationChangedEventArgs e)
    {
        SayfaDegisti("anasayfa", e.Location);
        StateHasChanged();
    }

    [Inject]
    protected IBaseRepository<PersonelDurum> TumPersonelServisi { get; set; }
    protected IEnumerable<PersonelDurum> KatilanAyrilanPersonel;

    public ImageFile PersonelDosya { get; set; } = new ImageFile();

    protected override Task OnInitializedAsync()
    {
        TumKatilanlariGetir();
        return Task.CompletedTask;
    }

    protected IEnumerable<PersonelDurum> TumKatilanlariGetir()
    {
        KatilanAyrilanPersonel = TumPersonelServisi.GetAll().AsQueryable().Include(s => s.ImageFile).ToList();
        return KatilanAyrilanPersonel;
    }

}