@page "/duyuru/ekle"
@page "/duyuru/duzenle/"


<div class="col-12 col-md-12 col-lg-12">
    <CardComponent cardStyle="Style.primary">
        <CardHeader>
            Duyuru Ekle/Düzenle
        </CardHeader>
        <CardBody>
            <div class="form-group">
                <label>Duyuru Adı</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Duyuruyu Görecek Birimler</label>
                <select class="form-control">
                    <option>Tüm Birimler</option>
                    <option>İnsan Kaynakları</option>
                    <option>Bilgi İşlem</option>
                    <option>Hukuk</option>
                </select>
            </div>

            <div class="form-group">
                <label>Açıklama Metni</label>
                <Summernote></Summernote>
            </div>


            <div class="form-group">
                <label>Yayınlama Tarihi</label>
                <input type="datetime-local" class="form-control">
            </div>
            <div class="form-group">
                <label>Duyuruyu Ekleyen Birim</label>
                <select class="form-control">
                    <option>Scada</option>
                    <option>İnsan Kaynakları</option>
                    <option>Bilgi İşlem</option>
                    <option>Hukuk</option>
                </select>
            </div>

            <div class="form-group">
                <label>Destekleyici Dosya/Döküman Yükle</label>
                <MultipleUpload></MultipleUpload>
            </div>

            <div class="card-footer text-right">
                <button class="btn btn-success" type="submit">Kaydet</button>
                <button class="btn btn-warning" type="reset">Vazgeç</button>
            </div>
        </CardBody>

    </CardComponent>
</div>


<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>