<div class="chat-search">
    @SearchButtonBody
    <input type="text" class="form-control" placeholder="Ara..." />
</div>

@code {
    
    [Parameter]
    public RenderFragment SearchButtonBody { get; set; }

}