@using VedasPortal.Repository.Interface
@using VedasPortal.Entities.Models.Kanban

<div class="row p-3" style="max-width:950px;">
    <div class="input-group mb-3">
        <input style="height:30px; margin-right:4px" 
               type="text" 
               id="inputTask" 
               class="form-control" 
               @bind-value="@gorev.GorevAdi" 
               @attributes="InputParameters" />
        <button type="button" 
                class="btn btn-outline-secondary btn-primary" 
                @onclick="OnClickHandlerAsync">
            Ekle
        </button>
    </div>
</div>

@code {


    [Inject]
    public IBaseRepository<GorevSecenek> GorevServisi { get; set; }

    public GorevSecenek gorev = new();

    [Parameter]
    public EventCallback<string> OnSubmit { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> InputParameters { get; set; }

    protected IEnumerable<GorevSecenek> Gorevler;

    protected IEnumerable<GorevSecenek> TumGorevleriGetir()
    {
        Gorevler = GorevServisi.GetAll();
        return Gorevler;
    }

    private async Task OnClickHandlerAsync()
    {

        await OnSubmit.InvokeAsync(gorev.GorevAdi);
        GorevServisi.Add(gorev);
        gorev.GorevAdi = null;
    }

    protected override Task OnInitializedAsync()
    {
        TumGorevleriGetir();
        return Task.CompletedTask;
    }
}