@page "/faaliyetkategori/ekle"
@page "/faaliyetkategori/duzenle/"

<div class="col-12 col-md-12 col-lg-12">
    <CardComponent cardStyle="Style.primary">
        <CardHeader>
            Faaliyet Kategorisi Ekle/Düzenle
        </CardHeader>
        <CardBody>
            <div class="form-group">
                <label>Faaliyet Kategorisi Adı</label>
                <input type="text" class="form-control">
            </div>


            <div class="form-group">
                <label>Açıklama Metni</label>
                <Summernote></Summernote>
            </div>

            <div class="form-group">
                <label>Faaliyet Kategorisi Durumu</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Eklenme Tarihi</label>
                <input type="datetime-local" class="form-control">
            </div>

            <div class="card-footer text-right">
                <SaveButton></SaveButton>
                <CancelButton></CancelButton>
            </div>
        </CardBody>

    </CardComponent>
</div>

<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>