@page "/FaaliyetKategoriBilgisi"


<div class="col-12">
    <CardComponent>
        <CardHeader>

            <div class="col-md-12">
                Faaliyet Kategorileri Listesi|
                <a href='/faaliyetkategori/ekle' class="btn btn-primary" role="button"><i class="fa fa-user-plus"></i> Faaliyet Kategorisi Ekle</a>
            </div>
        </CardHeader>
        <CardBody>
            <div class="table-responsive">
                <table class="table table-striped" id="table-2">
                    <thead>
                        <tr>
                            <th class="text-center pt-3">
                                <div class="custom-checkbox custom-checkbox-table custom-control">
                                    <input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad"
                                           class="custom-control-input" id="checkbox-all">
                                    <label for="checkbox-all" class="custom-control-label">&nbsp;</label>
                                </div>
                            </th>
                            <th>Kategori Adı</th>
                            <th>Açıklama</th>
                            <th>Faaliyet Kategori Durumu</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center pt-2">
                                <div class="custom-checkbox custom-control">
                                    <input type="checkbox" data-checkboxes="mygroup" class="custom-control-input"
                                           id="checkbox-1">
                                    <label for="checkbox-1" class="custom-control-label">&nbsp;</label>
                                </div>
                            </td>
                            <td>Eğitim Kalite</td>

                            <td>Açıklama</td>
                            <td>
                                <div class="badge badge-success">Aktif</div>
                            </td>
                            <td>
                                <a href="/faaliyetkategori/duzenle/" class="btn btn-info">
                                    Düzenle
                                </a>
                                |
                                <a href="faaliyetkategoridetay" class="btn btn-primary">
                                    Detay Bilgi
                                </a>
                                |
                                <a href="#" class="btn btn-danger">
                                    Sil
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </CardBody>
    </CardComponent>
</div>







@code { }
