@page "/chat"

<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <ChatKullaniciListesi>

        <SearchButtonBody>
            <input type="text" class="form-control" placeholder="Ara..." />
        </SearchButtonBody>
        <ChatUserListBody>



            <div class="m-b-20">
                <div id="chat-scroll">
                    <ul class="chat-list list-unstyled m-b-0">
                        <li class="clearfix active">
                            <img src="assets/img/users/user-4.png" alt="avatar">
                            <div class="about">
                                <div class="name">William Smith</div>
                                <div class="status">
                                    <i class="material-icons offline">fiber_manual_record</i>
                                    left 7 mins ago
                                </div>
                            </div>
                        </li>
                        <li class="clearfix ">
                            <img src="assets/img/users/user-1.png" alt="avatar">
                            <div class="about">
                                <div class="name">Martha Williams</div>
                                <div class="status">
                                    <i class="material-icons offline">fiber_manual_record</i>
                                    online
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/img/users/user-2.png" alt="avatar">
                            <div class="about">
                                <div class="name">Joseph Clark</div>
                                <div class="status">
                                    <i class="material-icons online">fiber_manual_record</i>
                                    online
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/img/users/user-3.png" alt="avatar">
                            <div class="about">
                                <div class="name">Nancy Taylor</div>
                                <div class="status">
                                    <i class="material-icons online">fiber_manual_record</i>
                                    online
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/img/users/user-4.png" alt="avatar">
                            <div class="about">
                                <div class="name">Margaret Wilson</div>
                                <div class="status">
                                    <i class="material-icons online">fiber_manual_record</i>
                                    online
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/img/users/user-5.png" alt="avatar">
                            <div class="about">
                                <div class="name">Joseph Jones</div>
                                <div class="status">
                                    <i class="material-icons offline">fiber_manual_record</i>
                                    left 30 mins ago
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/img/users/user-1.png" alt="avatar">
                            <div class="about">
                                <div class="name">Jane Brown</div>
                                <div class="status">
                                    <i class="material-icons offline">fiber_manual_record</i>
                                    left 10 hours ago
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/img/users/user-2.png" alt="avatar">
                            <div class="about">
                                <div class="name">Eliza Johnson</div>
                                <div class="status">
                                    <i class="material-icons online">fiber_manual_record</i>
                                    online
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </ChatUserListBody>
    </ChatKullaniciListesi>
</div>
<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
    <ChatMesajGovdesi>
        <ChatMessageHeader>
            <img src="assets/img/users/user-1.png" alt="avatar">
            <div class="chat-about">
                <div class="chat-with">Maria Smith</div>
                <div class="chat-num-messages">2 new messages</div>
            </div>
        </ChatMessageHeader>

        <ChatBox>
            <div class="card-body chat-content">
            </div>
        </ChatBox>

        <ChatCardFooter>
            <form id="chat-form">
                <input type="text" class="form-control" placeholder="Mesajınızı buraya yazınız...">
                <button class="btn btn-success">
                    <i class="far fa-paper-plane"></i>
                </button>
            </form>
        </ChatCardFooter>

    </ChatMesajGovdesi>
</div>
