@using VedasPortal.Entities.Models.ToplantiTakvimi

@implements IDisposable

@if (ToplantiGetir != null)
{
    <div class="@(bugun ? "currentDay":null)" @onclick="@ToplantiGoster">
        <h5 class="float-right mt-2 mr-2">@ToplantiGetir.gun</h5>
        @if (ToplantiGetir.ToplantiSayisi > 0)
        {
            <h5 class="float-left mt-1 ml-1 text-danger">!Uyarı. Toplantı Var</h5>
        }
    </div>
}



@code {
    [Parameter]
    public GunlukToplanti ToplantiGetir { get; set; }

    [CascadingParameter]
    private Pages.ToplantiOdalari.Admin.ToplantiEkleDuzenle ToplantiEkleDuzenle { get; set; }

    private bool bugun = false;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        bugun = DateTime.Now.Year == ToplantiGetir.tarih.Year
        && DateTime.Now.DayOfYear == ToplantiGetir.tarih.DayOfYear ? true : false;

        // 1'den fazla aynı eylemi önlemek için - OnInitialized ve OnAfterRender çalışmıyor
        ToplantiGetir.OnChangeState -= OnDayChangeHandler;
        ToplantiGetir.OnChangeState += OnDayChangeHandler;
    }

    public void Dispose()
    {
        ToplantiGetir.OnChangeState -= OnDayChangeHandler;
    }
    /// <summary>
    /// Takvim üzerinde bir değişiklik meydana geldiğinde
    /// </summary>
    private async void OnDayChangeHandler()
    {
        await InvokeAsync(StateHasChanged);
    }

    private void ToplantiGoster()
    {
        ToplantiEkleDuzenle.SetNewCalendarDay(ToplantiGetir);
    }

}
