@using VedasPortal.Entities.Models.ToplantiTakvimi

<div id="toDoList" class="flex-grow-1 flex-md-grow-0 pt-4">
    <ToDoListComponent CalendarDay="@calendarDay"></ToDoListComponent>
</div>

@code{

    public Day calendarDay = null;

    public void SetNewCalendarDay(Day day)
    {
        calendarDay = day;
        StateHasChanged();
    }
}
