@using VedasPortal.Entities.Models.ToplantiTakvimi

@if (AylikToplantiGetir == null)
{
    <div class="loading"></div> }
else
{
    @for (int i = 0; i < AylikToplantiGetir.Satirlar; i++)
    {
        <div class="calendarCells d-flex justify-content-start">

            @for (int j = i * 7; j < (i + 1) * 7 && j < AylikToplantiGetir.gunSayisi + AylikToplantiGetir.GunAtla; j++)
            {
                int k = j;
                @if (k < AylikToplantiGetir.GunAtla)
                {
                    <div class="inactive"></div> }
                else
                {
                    <DayComponent ToplantiGetir="@AylikToplantiGetir[k - AylikToplantiGetir.GunAtla]"/>}}
        </div>}}



@code { 
    
    [Parameter]
    public AylikToplanti AylikToplantiGetir { get; set; }

    [CascadingParameter]
    private Pages.ToplantiOdalari.Admin.ToplantiEkleDuzenle GunlukToplanti { get; set; }
}
