@page "/IkKategoriBilgisi"

<div class="row">
	<div class="col-md-4">
		<a href='/ikkategori/ekle' class="btn btn-primary" role="button"><i class="fa fa-user-plus"></i> IK Kategorisi Ekle</a>
	</div>
	<div class="input-group col-md-4 offset-md-4">
		<input type="text" class="form-control" placeholder="Ik kategori adı ile arama yapın..."
			   @bind:event="oninput" />
		<div class="input-group-append">
			<button class="btn btn-info">
				<i class="fa fa-search"></i>
			</button>
		</div>
	</div>
</div>
<br />



<div class="card-body">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4>IK Kategoriler Listesi</h4>
				</div>
				<div class="card-body p-0">
					<div class="table-responsive">
						<table class="table table-striped">
							<tbody>
								<tr>
									<th class="text-center">
										<div class="custom-checkbox custom-checkbox-table custom-control">
											<input type="checkbox" data-checkboxes="mygroup" data-checkbox-role="dad" class="custom-control-input" id="checkbox-all">
											<label for="checkbox-all" class="custom-control-label">&nbsp;</label>
										</div>
									</th>
									<th>Kategori Adı</th>
									<th>Açıklama</th>
									<th>IK Kategori Durumu</th>
									<th>İşlemler</th>
								</tr>
								<tr>
									<td class="p-0 text-center">
										<div class="custom-checkbox custom-control">
											<input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-1">
											<label for="checkbox-1" class="custom-control-label">&nbsp;</label>
										</div>
									</td>
									<td>Kategori 1</td>

									<td>Açıklama</td>
									<td>
										<div class="badge badge-success">Aktif</div>
									</td>
									<td>
										<a href="#" class="btn btn-info">
											Düzenle
										</a>
										|
										<a href="#" class="btn btn-primary">
											Detay Bilgi
										</a>
										|
										<a href="#" class="btn btn-danger">
											Sil
										</a>
									</td>
								</tr>
								<tr>
									<td class="p-0 text-center">
										<div class="custom-checkbox custom-control">
											<input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-2">
											<label for="checkbox-2" class="custom-control-label">&nbsp;</label>
										</div>
									</td>
									<td>Kategori 2</td>

									<td>Açıklama</td>
									<td>
										<div class="badge badge-success">Aktif</div>
									</td>
									<td>
										<a href="#" class="btn btn-info">
											Düzenle
										</a>
										|
										<a href="#" class="btn btn-primary">
											Detay Bilgi
										</a>
										|
										<a href="#" class="btn btn-danger">
											Sil
										</a>
									</td>
								</tr>
								<tr>
									<td class="p-0 text-center">
										<div class="custom-checkbox custom-control">
											<input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-3">
											<label for="checkbox-3" class="custom-control-label">&nbsp;</label>
										</div>
									</td>
									<td>Kategori 3</td>

									<td>Açıklama</td>
									<td>
										<div class="badge badge-success">Aktif</div>
									</td>
									<td>
										<a href="#" class="btn btn-info">
											Düzenle
										</a>
										|
										<a href="#" class="btn btn-primary">
											Detay Bilgi
										</a>
										|
										<a href="#" class="btn btn-danger">
											Sil
										</a>
									</td>
								</tr>
								<tr>
									<td class="p-0 text-center">
										<div class="custom-checkbox custom-control">
											<input type="checkbox" data-checkboxes="mygroup" class="custom-control-input" id="checkbox-4">
											<label for="checkbox-4" class="custom-control-label">&nbsp;</label>
										</div>
									</td>
									<td>Kategori 1</td>

									<td>Açıklama</td>
									<td>
										<div class="badge badge-success">Aktif</div>
									</td>
									<td>
										<a href="#" class="btn btn-info">
											Düzenle
										</a>
										|
										<a href="#" class="btn btn-primary">
											Detay Bilgi
										</a>
										|
										<a href="#" class="btn btn-danger">
											Sil
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>









@code {

}
