@page "/IKUygulamalari"

@inherits IKUygulamalariModeli


@if (IkUygulamalari == null)

{
    <p><em>Yükleniyor...</em></p>
}

else

{
    <div class="col-12">

        <CardComponent cardStyle="Style.primary">
            <CardHeader>
                <div class="float-left">
                    <div class="col-md-12">
                        İnsan Kaynakları Uygulamaları
                    </div>
                </div>

            </CardHeader>
            <CardBody>
                <div class="row">

                    @foreach (var ikUygulama in IkUygulamalari)
                    {
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="card">
                                <div class="card-statistic-4">
                                    <div class="align-items-center justify-content-between">
                                        <div class="row ">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                                <div class="card-content">
                                                    <h3 class="font-15">@ikUygulama.Adi</h3>
                                                    <h5 class="mb-3 font-18">@ikUygulama.Kategori</h5>
                                                    <p class="mb-0">
                                                        <span class="col-green">
                                                            @((MarkupString) ikUygulama.Aciklama)
                                                        </span>
                                                    </p>
                                                    <a class="btn btn-success text-black-50">Uygulamaya Git</a>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                                <div class="banner-img">
                                                    <img src="images/uploaded/@string.Concat(
                                                                       ikUygulama.ImageFile?.FirstOrDefault().Adi,
                                                                       ".",
                                                                       ikUygulama.ImageFile?.FirstOrDefault().Uzanti)"
                                                         width="140"
                                                         height="140"
                                                         alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                </div>

            </CardBody>
        </CardComponent>
    </div>

}

<style>
    .article .article-details {
        min-height: 310px;
        max-height: 310px;
    }

    .theme-white .btn-primary {
        margin-left: 8rem;
        background-color: #6777ef;
        border-color: transparent !important;
        color: #fff;
    }
</style>