<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @ModalHeader

                <span  aria-hidden="true" class="blazor-modal-close-button" @onclick="() => Close()">X</span>

            </div>
            <div class="modal-body">
                @ModalBody
            </div>
            <div class="modal-footer">
                @ModalFooter
            </div>
        </div>
    </div>
</div>


@if (ShowBackdrop)
{
<div class="modal-backdrop fade show"></div>}


@code { [Parameter]
            public RenderFragment ModalHeader { get; set; }

            [Parameter]
            public RenderFragment ModalBody { get; set; }

            [Parameter]
            public RenderFragment ModalFooter { get; set; }


            public Guid Guid = Guid.NewGuid();
            public string ModalDisplay = "none;";
            public string ModalClass = "";
            public bool ShowBackdrop = false;

            public void Open()
            {
                ModalDisplay = "block;";
                ModalClass = "Show";
                ShowBackdrop = true;
                StateHasChanged();
            }

            public void Close()
            {
                ModalDisplay = "none";
                ModalClass = "";
                ShowBackdrop = false;
                StateHasChanged();
            } }

<style>
    .blazor-modal-close-button {
        float: right;
        margin: 5px;
        cursor: pointer;
    }

        .blazor-modal-close-button:hover {
            color: red;
        }
</style>