
<CardComponent>
	<CardHeader>
		Multiple Upload
	</CardHeader>
	<CardBody>
		<form action="#" class="dropzone" id="mydropzone">
			<div class="fallback">
				<input name="file" type="file" multiple />
			</div>
		</form>
	</CardBody>
</CardComponent>
