@inject IJSRuntime jsRun
<CardComponent>
    @*<CardHeader>
            Multiple Upload
        </CardHeader>*@
    <CardBody>
        <form action="#" class="dropzone" id="mydropzone">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </form>
    </CardBody>
</CardComponent>


@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await jsRun.InvokeVoidAsync("sweetAlert");

        }
    }
}