<div class="blazor-modal @cssClass">
    <div class="blazor-modal-content">
        <div class="blazor-modal-header">
            <h5 class="blazor-modal-title">@Title</h5>
            <span class="blazor-modal-close-button" @onclick="() => { IsOpened = false; Close(); }">X</span>
        </div>
        <div class="blazor-modal-body">
            @ModalBody
        </div>
        <div class="blazor-modal-footer">
            @ModalFooter
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ModalBody { get; set; }

    [Parameter]
    public RenderFragment ModalFooter { get; set; }

    [Parameter]
    public bool IsOpened { get; set; }

    string cssClass => IsOpened ? "show" : "hide";

    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
}



<style>
    .blazor-modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        margin-left: 10rem;
        overflow: auto;
        outline: 0;
        z-index: 1050;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .blazor-modal-content {
        width: 650px;
        margin: auto;
        margin-top: 150px;
        background-color: white;
        border-radius: 20px;
        -webkit-box-shadow: 6px 4px 38px -21px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 4px 38px -21px rgba(0,0,0,0.75);
        box-shadow: 6px 4px 38px -21px rgba(0,0,0,0.75);
        overflow: auto;
    }

    .show {
        display: block;
        animation-name: show-animation;
        animation-duration: 1s;
    }

    @@keyframes show-animation {
        from {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    .hide {
        display: none;
    }

    .blazor-modal-header {
        background-color: #187aaf;
        padding: 15px;
        color: white;
    }

    .blazor-modal-title {
        margin: 5px;
        display: inline-block;
    }

    .blazor-modal-close-button {
        float: right;
        margin: 5px;
        cursor: pointer;
    }

        .blazor-modal-close-button:hover {
            color: red;
        }

    .blazor-modal-body {
        padding: 10px;
    }

    .blazor-modal-footer {
        background-color: #187aaf;
        padding: 10px;
    }
</style>

