<CardComponent>
    <CardBody>
        <div class="chat">
            <div class="chat-header clearfix">
                @ChatMessageHeader
            </div>
        </div>
        <div class="chat-box" id="mychatbox">
            @ChatBox
            <div class="card-footer chat-form">
                @ChatCardFooter
                
            </div>
        </div>
    </CardBody>
</CardComponent>


@code { [Parameter]
    public Style buttonStyle { get; set; }
    [Parameter]
    public Size buttonSize { get; set; }
    [Parameter]
    public ButtonType buttonType { get; set; }

    [Parameter]
    public Alignment alignment { get; set; }

    [Parameter]
    public RenderFragment ChatMessageHeader { get; set; }

    [Parameter]
    public RenderFragment ChatCardFooter { get; set; }

    [Parameter]
    public RenderFragment ChatBox { get; set; }
}