
<CardComponent>
    <CardBody>
        <div id="plist" class="people-list">
            <div class="chat-search">
                <input type="text" class="form-control" placeholder="Ara..." />
            </div>
            <div class="m-b-20">
                <div id="chat-scroll">
                    <ul class="chat-list list-unstyled m-b-0">
                        <li class="clearfix active">
                            <img src="assets/img/users/user-4.png" alt="avatar">
                            <div class="about">
                                <div class="name">William Smith</div>
                                <div class="status">
                                    <i class="material-icons offline">fiber_manual_record</i>
                                    left 7 mins ago
                                </div>
                            </div>
                        </li>
                        <li class="clearfix ">
                            <img src="assets/img/users/user-1.png" alt="avatar">
                            <div class="about">
                                <div class="name">Martha Williams</div>
                                <div class="status">
                                    <i class="material-icons offline">fiber_manual_record</i>
                                    online
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/img/users/user-2.png" alt="avatar">
                            <div class="about">
                                <div class="name">Joseph Clark</div>
                                <div class="status">
                                    <i class="material-icons online">fiber_manual_record</i>
                                    online
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/img/users/user-3.png" alt="avatar">
                            <div class="about">
                                <div class="name">Nancy Taylor</div>
                                <div class="status">
                                    <i class="material-icons online">fiber_manual_record</i>
                                    online
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/img/users/user-4.png" alt="avatar">
                            <div class="about">
                                <div class="name">Margaret Wilson</div>
                                <div class="status">
                                    <i class="material-icons online">fiber_manual_record</i>
                                    online
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/img/users/user-5.png" alt="avatar">
                            <div class="about">
                                <div class="name">Joseph Jones</div>
                                <div class="status">
                                    <i class="material-icons offline">fiber_manual_record</i>
                                    left 30 mins ago
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/img/users/user-1.png" alt="avatar">
                            <div class="about">
                                <div class="name">Jane Brown</div>
                                <div class="status">
                                    <i class="material-icons offline">fiber_manual_record</i>
                                    left 10 hours ago
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <img src="assets/img/users/user-2.png" alt="avatar">
                            <div class="about">
                                <div class="name">Eliza Johnson</div>
                                <div class="status">
                                    <i class="material-icons online">fiber_manual_record</i>
                                    online
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </CardBody>
</CardComponent>
