<CardComponent cardStyle="Style.danger">
	<CardBody >
		<div class="row">
			<div class="col-12 col-md-6 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h4 class="text-danger"> Boş Sayfa</h4>
					</div>
					<div class="card-body">
						<div class="empty-state" data-height="400">
							<div class="empty-state-icon">
								<i class="fas fa-question"></i>
							</div>
							<h2>Hiç bir data bulunamadı!</h2>
							<p class="lead">
								Üzgünüz, herhangi bir veri bulamıyoruz, bu mesajdan kurtulmak için en az herhangi bir işlem yapın.
							</p>
							<a href="/Index" class="mt-4 bb">Ana Sayfaya Geri Dön</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</CardBody>
</CardComponent>