
<div class="col-12 col-md-12 col-sm-12">
    <CardComponent cardStyle="Style.danger">
        <CardHeader>
            <h4 class="text-danger"> Boş Sayfa</h4>
        </CardHeader>
        <CardBody>
            <div class="empty-state" data-height="400">
                <div class="empty-state-icon">
                    <i class="fas fa-question"></i>
                </div>
                <h2>Hiç bir data bulunamadı!</h2>
                <p class="lead">
                    Üzgünüz, herhangi bir veri bulamıyoruz, bu mesajdan kurtulmak için ana sayfaya dönebilirsiniz...
                </p>
                <a href="/Index" class="mt-4 bb">Ana Sayfaya Geri Dön</a>
            </div>
        </CardBody>
    </CardComponent>
</div>

