<div class="col-12 col-md-6 col-sm-12">
	<CardComponent cardStyle="Style.danger">
		<CardHeader>
			<h4>Hatalı İstek</h4>
		</CardHeader>

			<CardBody>
				<div class="empty-state" data-height="400">
					<div class="empty-state-icon bg-danger">
						<i class="fas fa-times"></i>
					</div>
					<h2>Hatalı HTTP/S İsteği </h2>
					<p class="lead">

						Denedik, ancak sunucuya veri isterken başarısız oldu, üzgünüz. (Kod: <a href="#"
																						  class="bb">14045</a>)
					</p>
					<a href="/Index" class="btn btn-warning mt-4">Tekrar Deneyin!</a>
					<a href="" class="mt-4 bb close">Çıkış</a>
				</div>
			</CardBody>

		
	</CardComponent>
</div>