@page "/GuncelMevzuatTakibi"
@inherits MevzuatModeli


@if (mevzuatlar == null)

{
<p><em>Yükleniyor...</em></p> }

else

{
<div class="col-12">
    <CardComponent cardStyle="Style.primary">
        <CardHeader>
            <div class="float-left">
                <div class="col-md-12">
                    Güncel Mevzuat Takibi ve Regülasyonlar
                </div>
            </div>
            <div style="margin-left:900px" class="float-right">
                <SearchComp />
            </div>
        </CardHeader>
        <CardBody>
            <div class="row">

                @foreach (var mevzuat in mevzuatlar)
                {
<div class="col-lg-6 col-md-6">
    <div class="card single_post">
        <div class="header">
            <h6 style="margin:10px"><strong>Son</strong> Gönderi</h6>

        </div>

        <div class="body">
            <ul class="meta">
                <li><a href="personeldetaybilgileri"><i class="zmdi zmdi-account col-blue">@mevzuat.KaydedenKullanici</i></a></li>
                <li><a href="MevzuatKategoriBilgisi"><i class="zmdi zmdi-label col-amber"></i>@mevzuat.Kategori</a></li>
            </ul>
            <h6 style="margin:10px" class="m-t-0">@mevzuat.Adi</h6>
            <p style="margin:10px">@((MarkupString) mevzuat.Aciklama)</p>
            <a style="margin:10px" href="mevzuatdetay" title="read more" class="btn btn-round btn-primary">Tümünü Görüntüle</a>
        </div>
    </div>
</div>}

            </div>
        </CardBody>
    </CardComponent>

</div>}

<style>
    .article .article-details {
        min-height: 310px;
        max-height: 310px;
    }

    .theme-white .btn-primary {
        margin-left: 8rem;
        background-color: #6777ef;
        border-color: transparent !important;
        color: #fff;
    }
</style>