@page "/GuncelMevzuatTakibi"
@inherits MevzuatModeli


@if (mevzuatlar == null)

{
    <p><em>Yükleniyor...</em></p>
}

else

{
    <div class="col-12">
        <CardComponent cardStyle="Style.primary">
            <CardHeader>
                <div class="float-left">
                    <div class="col-md-12">
                        Güncel Mevzuat Takibi ve Regülasyonlar
                    </div>
                </div>
                <div style="margin-left:980px" class="float-right">
                    <div class="text-center bg-blue-100">
                        <input class="form-control" @bind-value="SearchText"
                           @bind-value:event="oninput" placeholder="Bu alanda arama yapın..." />
                    </div>
                </div>
            </CardHeader>
            <CardBody>


                @if (!mevzuatlar.Any())
                {
                    <p>İçerik Aranıyor</p>
                }
                else
                {
                    <div class="row">
                        @foreach (var mevzuat in FilteredMevzuat.Where(x => x.AktifPasif == true).ToList())
                        {

                            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                <article class="article" id="minHeight">
                                    <div class="article-header">
                                        <div class="article-image" data-background="images/indir2.jpg">
                                        </div>
                                        <div class="article-title">
                                            <h2><a href="mevzuatdetay/@mevzuat.Id">@mevzuat.Adi.Substring(15)...</a></h2>
                                        </div>
                                    </div>
                                    <div class="article-details">
                                        <p>
                                            @if(mevzuat.Aciklama!=null){
                                                <MarkDownComponent Content="@(mevzuat.Aciklama.Length>300 ?
                                                                     mevzuat.Aciklama.Substring(0, 180) + "..." :
                                                                     mevzuat.Aciklama)" />
                                            }
                                        </p>

                                    </div>
                                    <div class="article-cta">
                                        <a href="mevzuatdetay/@mevzuat.Id" class="btn btn-primary">Mevzuat Detay</a>
                                    </div>
                                </article>

                            </div>
                        }

                    </div>


                }



            </CardBody>
        </CardComponent>

    </div>
}

<style>
    .article .article-details {
        min-height: 150px;
        max-height: 150px;
    }
    #minHeight {
        min-height: 150px !important
    }
    .theme-white .btn-primary {
        margin-left: 8rem;
        background-color: #6777ef;
        border-color: transparent !important;
        color: #fff;
    }
</style>