@page "/gonderilennot/ekle"
@page "/gonderilennot/duzenle/"

<h3>Gönderilen Not Ekle Duzenle</h3>
<hr />


<div class="form-group row">
	<label class="control-label col-md-12">Not Başlığı</label>
	<div class="col-md-4">
		<text class="form-control" />
	</div>
</div>

<div class="form-group row">
	<label class="control-label col-md-12">Gönderildiği Toplantı</label>
	<div class="col-md-4">
		<text class="form-control" />
	</div>
</div>

<div class="form-group row">
	<label class="control-label col-md-12">Gönderilen Not</label>
	<div class="col-md-4">
		<text class="form-control" />
	</div>
</div>

<div class="form-group row">
	<label class="control-label col-md-12">Ekleyen Yetkili Unvanı</label>
	<div class="col-md-4">
		<text class="form-control" />
	</div>
</div>

<div class="form-group row">
	<label class="control-label col-md-12">Ekleyen Yetkili Ad Soyad</label>
	<div class="col-md-4">
		<text class="form-control" />
	</div>
</div>

<div class="form-group">
	<button type="submit" class="btn btn-primary">Değişiklikleri Onayla</button>
	<button class="btn btn-light">Vazgeç</button>
</div>

