@page "/toplanti/detay/{ToplantiId:int}"

<div class="col-12">
    <CardComponent cardStyle="Style.primary">
        <CardHeader>
            <div class="float-left">
                <div class="col-md-12">
                    Toplantı Detay Formu
                </div>
            </div>
        </CardHeader>
        <CardBody>
            @{if (ToplantiGetir != null)
                {
                    <div class="padding-5">

                        <div class="tab-content tab-bordered"
                             id="myTab3Content">
                            <div class="tab-pane fade active show"
                                 id="about"
                                 role="tabpanel"
                                 aria-labelledby="home-tab2">

                                <p class="m-t-30">
                                    <strong>
                                        Toplantı Merkezi:
                                    </strong>
                                    @ToplantiGetir.ToplantiMerkeziId
                                    <br /><br />
                                    <strong>
                                        Toplantı Odası:
                                    </strong>
                                    @ToplantiGetir.ToplantiOdasiId
                                </p>
                                <p>
                                    <strong>
                                        Açıklama:
                                    </strong>
                                    @((MarkupString)ToplantiGetir.Aciklama)
                                </p>
                                <p>
                                    <strong>
                                        Katılım Sayısı:
                                    </strong>
                                    @ToplantiGetir.BeklenenKatilimSayisi
                                </p>

                                <div class="section-title">
                                    <strong>
                                        Video Konferans Destekliyor Mu?:
                                    </strong>
                                </div>

                                @if (ToplantiGetir.VideoKonferansMi == true)
                                {
                                    <p class="text-primary">
                                        <strong>
                                            Evet Destekliyor.
                                        </strong>
                                    </p>
                                }
                                else
                                {
                                    <p class="text-danger">
                                        <strong>
                                            Hayır. Desteklemiyor
                                        </strong>
                                    </p>
                                }

                                <div class="section-title">
                                    <strong>
                                        Rezerv Durumu:
                                    </strong>
                                </div>
                                <ul>
                                    @if (ToplantiGetir?.ToplantiOdasi?.RezervDurumu == true)
                                    {
                                        <li class="text-danger">Evet Rezerv Edilmiştir.</li>
                                    }
                                    else
                                    {
                                        <li class="text-success">Rezerv Edilmemiştir.Rezerv Edilebilir</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div> } }
        </CardBody>
    </CardComponent>
</div>

<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>