@page "/ToplantiOdalari"
@inherits ToplantiOdalariModeli


@if (Odalar == null)

{
    <p><em>Yükleniyor...</em></p> 
}

else

{
    <div class="col-12">
    <CardComponent cardStyle="Style.primary">
        <CardHeader>
            <div class="float-left">
                <div class="col-md-12">
                    Toplantı Odaları
                </div>
            </div>
            @*<div style="margin-left:1070px" class="float-right">
                <input style="border-radius: 5px; border-color: #6777ef" placeholder="Aramanızı bu alanda yapın..." />
                <button class="btn btn-primary">Ara</button>
            </div>*@
        </CardHeader>
        <CardBody>
            <div class="row">

                @foreach (var oda in Odalar)
                {
<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">

    <CardComponent cardStyle="Style.info">
        <CardBody>
            <div class="card-statistic-4">
                <div class="align-items-center justify-content-between">
                    <div class="row ">
                        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                            <div class="card-content">
                                <h5 class="font-15">Toplantı Odası adı:@oda.Adi</h5>
                                <h2 class="mb-3 font-18">Kapasitesi(Kişi):@oda.Kapasite</h2>
                                @if (oda.AktifPasif == true && oda.RezervDurumu == true)
                                {


    <div class="badge badge-danger badge-shadow">Kapalı, Oda Rezerv Edilmiş Durumda</div> }
else
{
<div class="badge badge-success badge-shadow">Açık, Rezerv Edilebilir</div>}



                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 pl-0">
                            <div class="banner-img">
                                <img src="assets/img/banner/3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="margin-top:-0.30rem" />
        </CardBody>
        <CardFotter>
            @if (oda.RezervDurumu == true)
            {
<a href="oda/ekle/" class="btn disabled btn-primary" style="margin-left:1rem;">Rezerve Et</a> }
else
{ <a href="oda/duzenle/@oda.Id" class="btn btn-primary" style="margin-left:1rem;">Rezerve Et</a>}
            |
            <a href=@($"odadetayformu/{oda.Id}") class="btn btn-info ">Detay</a>
        </CardFotter>
    </CardComponent>
</div>}



            </div>

        </CardBody>
    </CardComponent>
</div>
}


<style>
    .article .article-details {
        min-height: 310px;
        max-height: 310px;
    }

    .theme-white .btn-primary {
        background-color: #6777ef;
        border-color: transparent !important;
        color: #fff;
    }

    .card .card-footer {
        background-color: transparent;
        border: none;
        margin-top: -3rem;
    }
</style>

