@inject VedasPortal.Services.VideoService.IVideoService videoServisi

<div class="row">
    <div  style="margin-top: 5px" class="col-7">
        <MiniVideoBox SecilenVideo="secilenVideo" />
    </div>
    <div style="margin-top:20px" class="col-5">
        <VideoKoleksiyonu Videolar="videolar" VideoSec="SecilenVideo" />
    </div>
</div>

@code { List<VideoDetay> videolar = new List<VideoDetay>();
    VideoDetay secilenVideo = new VideoDetay();

    protected override void OnInitialized()
    {
        videolar = videoServisi.VideoGetir();
        secilenVideo = videolar.FirstOrDefault();
    }

    void SecilenVideo(VideoDetay videoDetay)
    {
        secilenVideo = videoDetay;
    } }
