
<div class="component-box">
    <iframe width="550" height="480"
            src="@SecilenVideo.UrlAdres"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

    <h3>@SecilenVideo.VideoBasligi</h3>
    <p>@SecilenVideo.KayitTarihi.ToString("D")</p>
    <hr />

    <VideoYorumlari VideoYorum="SecilenVideo.Yorumlar" />
</div>
@code {
    [Parameter]
    public VideoDetay SecilenVideo { get; set; }
}
