@inject VedasPortal.Services.VideoService.IVideoService videoServisi

<div class="row">
    <div class="col-7">
        <VideoBoxComponent SecilenVideo="secilenVideo" />
    </div>
    <div class="col-5">
        <VideoKoleksiyonu Videolar="videolar" VideoSec="SecilenVideo" />
    </div>
</div>

@code { List<Video> videolar = new List<Video>();
    Video secilenVideo = new Video();

    protected override void OnInitialized()
    {
        videolar = videoServisi.VideoGetir();
        secilenVideo = videolar.FirstOrDefault();
    }

    void SecilenVideo(Video videoDetay)
    {
        secilenVideo = videoDetay;
    } }
