@using VedasPortal.Entities.Models.Video

<div class="component-box">
    <VideoPlayerComponent Width="@Width.ToString()"
                          Heigth="@Heigth.ToString()" />
    <h3>@SecilenVideo.Baslik</h3>
    <p>@SecilenVideo.KayitTarihi.ToString("D")</p>
    <hr />
    <br />
    <VideoYorumlari VideoYorum="SecilenVideo.Yorumlar" />
</div>
@code {

    [Parameter]
    public Video SecilenVideo { get; set; } = new();

    [Parameter]
    public int Width { get; set; } = 1150;

    [Parameter]
    public int Heigth { get; set; } = 900;
}
