@using VedasPortal.Entities.Models.Yorum
@inject VedasPortal.Repository.Interface.IBaseRepository<Yorum> _yorum

<div class="component-box">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <input type="text"
                       placeholder="Açıklama"
                       class="form-control"
                       @bind-value="@yorum.Aciklama" />
            </div>
            <button class="btn btn-primary btn-block"
                    @onclick="InsertComment">
                Yorum Ekle
            </button>
        </div>
    </div>
    <hr />
    @if (Yorumlar == null)

    {
        <p><em>Yükleniyor...</em></p>
    }

    else
    {
        @foreach (var item in Yorumlar.Where(y => y.OnaylansinMi == true).ToList())
        {
            <div class="box-card">
                <div class="row">
                    <img width="25"
                         height="25"
                         src="/images/default.png"
                         class="comment-avatar" />
                    <h6 class="comment-content">@item.Aciklama</h6>
                </div>
            </div>
         }
    }

</div>

@code {

    public Yorum yorum { get; set; } = new();

    [Parameter]
    public IEnumerable<Yorum> Yorumlar { get; set; }

    protected IEnumerable<Yorum> TumYorumlariGetir()
    {
        Yorumlar = _yorum.GetAll();
        return Yorumlar;
    }



    void InsertComment()
    {
        _yorum.Add(yorum);
        yorum.Aciklama = string.Empty;
    } }