@page "/Doganlar"




<h1>Bu hafta Dogan Personeller </h1>

<div class="row">

    <div class="input-group col-md-4 offset-md-4">
        <input type="text" class="form-control" placeholder="Personel adi ile arama yapin..."
               @bind:event="oninput" />
        <div class="input-group-append">
            <button class="btn btn-info" >
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>
<br />

<div class="row">
	<div class="col-3">
		<div class="card author-box">
			<div class="card-body">
				<div class="author-box-center">
					<img alt="image" src="assets/img/users/user-1.png" class="rounded-circle author-box-picture">
					<div class="clearfix"></div>
					<div class="author-box-name">
						<a href="#">Personel AdSoyad</a>
					</div>
					<div class="author-box-job">Gorevi</div>
				</div>
				<div class="text-center">
					<div class="author-box-description">
						<p>
							Personel Hakkinda Temel Bilgiler
						</p>
					</div>
					<div class="mb-2 mt-3">
						<a class="btn btn-success text-small font-weight-bold">Tebrik Et</a> |
						<a class="btn btn-info text-small font-weight-bold">Para Gonder</a>
					</div>

					<div class="w-100 d-sm-none"></div>
				</div>
			</div>
		</div>

	</div>

	<div class="col-3">
		<div class="card author-box">
			<div class="card-body">
				<div class="author-box-center">
					<img alt="image" src="assets/img/users/user-2.png" class="rounded-circle author-box-picture">
					<div class="clearfix"></div>
					<div class="author-box-name">
						<a href="#">Personel AdSoyad</a>
					</div>
					<div class="author-box-job">Gorevi</div>
				</div>
				<div class="text-center">
					<div class="author-box-description">
						<p>
							Personel Hakkinda Temel Bilgiler
						</p>
					</div>
					<div class="mb-2 mt-3">
						<a class="btn btn-success text-small font-weight-bold">Tebrik Et</a> |
						<a class="btn btn-info text-small font-weight-bold">Para Gonder</a>
					</div>

					<div class="w-100 d-sm-none"></div>
				</div>
			</div>
		</div>

	</div>

	<div class="col-3">
		<div class="card author-box">
			<div class="card-body">
				<div class="author-box-center">
					<img alt="image" src="assets/img/users/user-3.png" class="rounded-circle author-box-picture">
					<div class="clearfix"></div>
					<div class="author-box-name">
						<a href="#">Personel AdSoyad</a>
					</div>
					<div class="author-box-job">Gorevi</div>
				</div>
				<div class="text-center">
					<div class="author-box-description">
						<p>
							Personel Hakkinda Temel Bilgiler
						</p>
					</div>
					<div class="mb-2 mt-3">
						<a class="btn btn-success text-small font-weight-bold">Tebrik Et</a> |
						<a class="btn btn-info text-small font-weight-bold">Para Gonder</a>
					</div>

					<div class="w-100 d-sm-none"></div>
				</div>
			</div>
		</div>

	</div>


	<div class="col-3">
		<div class="card author-box">
			<div class="card-body">
				<div class="author-box-center">
					<img alt="image" src="assets/img/users/user-4.png" class="rounded-circle author-box-picture">
					<div class="clearfix"></div>
					<div class="author-box-name">
						<a href="#">Personel AdSoyad</a>
					</div>
					<div class="author-box-job">Gorevi</div>
				</div>
				<div class="text-center">
					<div class="author-box-description">
						<p>
							Personel Hakkinda Temel Bilgiler
						</p>
					</div>
					<div class="mb-2 mt-3">
						<a class="btn btn-success text-small font-weight-bold">Tebrik Et</a> |
						<a class="btn btn-info text-small font-weight-bold">Para Gonder</a>
					</div>

					<div class="w-100 d-sm-none"></div>
				</div>
			</div>
		</div>

	</div>


	<div class="col-3">
		<div class="card author-box">
			<div class="card-body">
				<div class="author-box-center">
					<img alt="image" src="assets/img/users/user-5.png" class="rounded-circle author-box-picture">
					<div class="clearfix"></div>
					<div class="author-box-name">
						<a href="#">Personel AdSoyad</a>
					</div>
					<div class="author-box-job">Gorevi</div>
				</div>
				<div class="text-center">
					<div class="author-box-description">
						<p>
							Personel Hakkinda Temel Bilgiler
						</p>
					</div>
					<div class="mb-2 mt-3">
						<a class="btn btn-success text-small font-weight-bold">Tebrik Et</a> |
						<a class="btn btn-info text-small font-weight-bold">Para Gonder</a>
					</div>

					<div class="w-100 d-sm-none"></div>
				</div>
			</div>
		</div>

	</div>


	<div class="col-3">
		<div class="card author-box">
			<div class="card-body">
				<div class="author-box-center">
					<img alt="image" src="assets/img/users/user-6.png" class="rounded-circle author-box-picture">
					<div class="clearfix"></div>
					<div class="author-box-name">
						<a href="#">Personel AdSoyad</a>
					</div>
					<div class="author-box-job">Gorevi</div>
				</div>
				<div class="text-center">
					<div class="author-box-description">
						<p>
							Personel Hakkinda Temel Bilgiler
						</p>
					</div>
					<div class="mb-2 mt-3">
						<a class="btn btn-success text-small font-weight-bold">Tebrik Et</a> |
						<a class="btn btn-info text-small font-weight-bold">Para Gonder</a>
					</div>

					<div class="w-100 d-sm-none"></div>
				</div>
			</div>
		</div>

	</div>


	<div class="col-3">
		<div class="card author-box">
			<div class="card-body">
				<div class="author-box-center">
					<img alt="image" src="assets/img/users/user-7.png" class="rounded-circle author-box-picture">
					<div class="clearfix"></div>
					<div class="author-box-name">
						<a href="#">Personel AdSoyad</a>
					</div>
					<div class="author-box-job">Gorevi</div>
				</div>
				<div class="text-center">
					<div class="author-box-description">
						<p>
							Personel Hakkinda Temel Bilgiler
						</p>
					</div>
					<div class="mb-2 mt-3">
						<a class="btn btn-success text-small font-weight-bold">Tebrik Et</a> |
						<a class="btn btn-info text-small font-weight-bold">Para Gonder</a>
					</div>

					<div class="w-100 d-sm-none"></div>
				</div>
			</div>
		</div>

	</div>



	<div class="col-3">
		<div class="card author-box">
			<div class="card-body">
				<div class="author-box-center">
					<img alt="image" src="assets/img/users/user-8.png" class="rounded-circle author-box-picture">
					<div class="clearfix"></div>
					<div class="author-box-name">
						<a href="#">Personel AdSoyad</a>
					</div>
					<div class="author-box-job">Gorevi</div>
				</div>
				<div class="text-center">
					<div class="author-box-description">
						<p>
							Personel Hakkinda Temel Bilgiler
						</p>
					</div>
					<div class="mb-2 mt-3">
						<a class="btn btn-success text-small font-weight-bold">Tebrik Et</a> |
						<a class="btn btn-info text-small font-weight-bold">Para Gonder</a>
					</div>

					<div class="w-100 d-sm-none"></div>
				</div>
			</div>
		</div>

	</div>

</div>

