
@page "/EmptyPage"

<RequestCompoment>
    <RequestHeader>
        Boş Sayfa 
    </RequestHeader>
    <EmptyState>

        <div class="empty-state-icon">
            <i class="fas fa-question"></i>
        </div>
        <h2>Herhangi Bir Veri Bulunamadı</h2>
        <p class="lead">
            Üzgünüz, herhangi bir veri bulamıyoruz, bu mesajdan kurtulmak için en az  giriş yapın.
        </p>      
        
    </EmptyState>
</RequestCompoment>




