
@page "/EmptyPage"

<RequestCompoment>
    <RequestHeader>
        <h4 class="text-center">Boş Sayfa</h4> 
    </RequestHeader>
    <EmptyState>

        <div class="empty-state-icon">
            <i class="fas fa-question"></i>
        </div>
        <h2>Herhangi Bir Veri Bulunamadı</h2>
        <p class="lead">
            Üzgünüz, herhangi bir veri bulamıyoruz.
        </p>      
        
    </EmptyState>
</RequestCompoment>




