@page "/Hata404"
<ErrorPageComponent>
    <ErrorName>404</ErrorName>
    <ErrorDescription>
        Aradığınız sayfa bulunamadı.!!
    </ErrorDescription>
    <PageSearch>
        <form>
            <div class="form-group floating-addon floating-addon-not-append">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" placeholder="Ara">
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-lg">
                            Arama Yap
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="mt-3">
            <a href="index">Ana Sayfaya Dön</a>
        </div>
    </PageSearch>
</ErrorPageComponent>