@page "/rehber/ekle"
@page "/rehber/duzenle/"

<h4 style="margin:10px">Rehbere Ekle Duzenle</h4>
<hr />

<section style="margin-left:5px" class="container">

	<div class="form-group row">
		<label class="control-label col-md-12">Unvanı</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>

	<div class="form-group row">
		<label class="control-label col-md-12">Adı Soyadı</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>

	<div class="form-group row">
		<label class="control-label col-md-12">Görevi</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>

	<div class="form-group row">
		<label class="control-label col-md-12">Telefon No</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>


	<div class="form-group row">
		<label class="control-label col-md-12">E-Posta</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>



	<div class="form-group">
		<button type="submit" class="btn btn-primary">Kaydet</button>
		<button class="btn btn-light">Vazgeç</button>
	</div>

</section>