@page "/rehber"



<div class="col-12">
    
    <CardComponent cardStyle="Style.primary">
       
        <CardHeader>
            <div class="float-left">
                <div class="col-md-12">
                    Vedaş Rehber |
                    <a href='/rehber/ekle' class="btn btn-primary" role="button"><i class="fa fa-user-plus"></i> Rehbere Ekle</a>
                </div>
            </div>
            <div style="margin-left:1000px" class="float-right">
                <AraButton btnStyle="Style.primary"></AraButton>
            </div>
        </CardHeader>

        <CardBody>
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="tableExport" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Resim</th>
                            <th>PersonelAdi</th>
                            <th>Telefon Numarası</th>
                            <th>E-Posta</th>
                            <th>Web Sitesi</th>
                            <th>Adresi</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Resim</td>
                            <td>PersonelAdi</td>
                            <td>Telefon Numarası</td>
                            <td>E-Posta</td>
                            <td>Adresi</td>
                            <td>Web Sitesi</td>
                            <td>
                                <a href="/rehber/duzenle/" class="btn btn-info">
                                    Düzenle
                                </a>
                                |
                                <a href="#" class="btn btn-danger">
                                    Sil
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Resim</td>
                            <td>PersonelAdi</td>
                            <td>Telefon Numarası</td>
                            <td>E-Posta</td>
                            <td>Adresi</td>
                            <td>Web Sitesi</td>
                            <td>
                                <a href="/rehber/duzenle/" class="btn btn-info">
                                    Düzenle
                                </a>
                                |
                                <a href="#" class="btn btn-danger">
                                    Sil
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Resim</td>
                            <td>PersonelAdi</td>
                            <td>Telefon Numarası</td>
                            <td>E-Posta</td>
                            <td>Adresi</td>
                            <td>Web Sitesi</td>

                            <td>
                                <a href="/rehber/duzenle/" class="btn btn-info">
                                    Düzenle
                                </a>
                                |
                                <a href="#" class="btn btn-danger">
                                    Sil
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </CardBody>
    </CardComponent>

</div>


<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>