
<div class="@("alert alert-"+ alertDismissible.ToString()+ "alert-"+alertDismissibleState.ToString() + "show fade" )">
	<div class="alert-body">
		@AlertBody
		<button style="margin-right:-15px; margin-top:-15px" class="close" data-dismiss="alert">
			<span>&times;</span>
		</button>
		@Description
	</div>
</div>

@code {
	[Parameter]
	public AlertDismissibleStyle alertDismissible { get; set; }

	[Parameter]
	public AlertDismissibleState alertDismissibleState { get; set; }

	[Parameter]
	public RenderFragment Description { get; set; }

	[Parameter]
	public RenderFragment AlertBody { get; set; }

	public enum AlertDismissibleStyle
	{
		success,
		danger,
		secondary,
		primary,
		warning,
		dark,
		light,
		info
	}

	public enum AlertDismissibleState
	{
		dismissible,
		missible
	}
}
