<div class="@("alert alert-"+alertStyle.ToString())">
	@Description
</div>


@code {
	[Parameter]
	public Style alertStyle { get; set; }
	[Parameter]
	public RenderFragment Description { get; set; }

	
}
