@page "/oneri/duzenle/"

<div class="col-12 col-md-12 col-lg-12">
    <CardComponent cardStyle="Style.primary">
        <CardHeader>
            Öneri Ekle/Düzenle
        </CardHeader>
        <CardBody>

            <div class="form-group row">
                <label class="control-label col-md-12">Resim/Video Ekle</label>
                <div class="col-md-12">
                    <MultipleUpload></MultipleUpload>
                </div>
            </div>

            <div class="form-group">
                <label>Öneri Adı</label>
                <input type="text" class="form-control">
            </div>


            <div class="form-group">
                <label>Açıklama Metni</label>
                <Summernote></Summernote>
            </div>
            <div class="form-group">
                <label>Öneri Durumu</label>
                <input type="text" class="form-control">
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-success" type="submit">Kaydet</button>
                <button class="btn btn-warning" type="reset">Vazgeç</button>
            </div>
        </CardBody>

    </CardComponent>
</div>
<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>