<div class="alert alert-primary">
	<div class="alert-title">Primary</div>
	This is a primary alert.
</div>


<div class="alert alert-secondary">
	<div class="alert-title">Secondary</div>
	This is a secondary alert.
</div>
<div class="alert alert-success">
	<div class="alert-title">Success</div>
	This is a success alert.
</div>
<div class="alert alert-danger">
	<div class="alert-title">Danger</div>
	This is a danger alert.
</div>
<div class="alert alert-warning">
	<div class="alert-title">Warning</div>
	This is a warning alert.
</div>
<div class="alert alert-info">
	<div class="alert-title">Info</div>
	This is a info alert.
</div>
<div class="alert alert-light">
	<div class="alert-title">Light</div>
	This is a light alert.
</div>
<div class="alert alert-dark">
	<div class="alert-title">Dark</div>
	This is a dark alert.
</div>