@page "/surveylist/edit"


<div class="container mt-5">
    <div class="card text-center">
        <div class="card-header">
            Anketler
        </div>
        <div class="card-body">

            @if (!isReady)
            {
                <p>Yükleniyor...</p>
            }
            else
            {
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Anket Adı</th>
                            <th>Açıklama</th>
                            <th>Katılım Sayısı</th>
                        </tr>
                    </thead>
                    <tbody>
                    @if (SurveyList.Count == 0)
                    {
                        <tr>
                            <td colspan="5">Görüntülenecek anket yok!</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var survey in SurveyList)
                        {
                            <tr>
                                <td><button class="btn btn-sm btn-primary" @onclick="() => EditSurvey(survey.SurveyId)">Düzenle</button></td>
                                <td><button class="btn btn-sm btn-danger" @onclick="() => DeleteSurvey(survey.SurveyId)">Sil</button></td>
                                <td>@survey.SurveyName</td>
                                <td>@survey.Description</td>
                                <td>@survey.TotalTimesTaken</td>
                            </tr>
                        }
                    }
                  
                    </tbody>

                </table>
            }

        </div>
        <div class="card-footer text-muted">
            <p class="m-0 text-center text-white">Copyright &copy; Vedaş Anket @DateTime.Now.Year</p>
        </div>
    </div>
</div>


