@page "/egitim/ekle"
@page "/egitim/duzenle/"

<h1>Eğitim Ekle Duzenle</h1>
<hr />


<div class="form-group row">
	<label class="control-label col-md-12">Resim</label>
	<div class="col-md-4">
		<text class="form-control" />
	</div>
</div>

<div class="form-group row">
	<label class="control-label col-md-12">Eğitim Adı</label>
	<div class="col-md-4">
		<text class="form-control" />
	</div>
</div>



<div class="form-group row">
	<label class="control-label col-md-12">Eğitim Hakkında Detaylı Bilgi</label>
	<div class="col-md-4">
		<text class="form-control" />
	</div>
</div>

<div class="form-group row">
	<label class="control-label col-md-12">Eğitim İçin Gereksinimler</label>
	<div class="col-md-4">
		<text class="form-control" />
	</div>
</div>

<div class="form-group row">
	<label class="control-label col-md-12">Oynatma Listesi</label>
	<div class="col-md-4">
		<text class="form-control" />
	</div>
</div>

<div class="form-group row">
	<label class="control-label col-md-12">Ekleyen Yetkili Unvanı</label>
	<div class="col-md-4">
		<text class="form-control" />
	</div>
</div>

<div class="form-group row">
	<label class="control-label col-md-12">Ekleyen Yetkili Ad Soyad</label>
	<div class="col-md-4">
		<text class="form-control" />
	</div>
</div>

<div class="form-group">
	<button type="submit" class="btn btn-primary">Kaydet</button>
	<button class="btn btn-light">Vazgeç</button>
</div>

