@page "/Egitimler"

<h3>Eğitimlerimiz </h3>

<div class="row">

	<div class="input-group col-md-4 offset-md-4">
		<input type="text" class="form-control" placeholder="Egitim adı ile arama yapın..."
			   @bind:event="oninput" />
		<div class="input-group-append">
			<button class="btn btn-info">
				<i class="fa fa-search"></i>
			</button>
		</div>
	</div>
</div>
<br />

<div class="row">
	<div class="col-12 col-md-4 col-lg-4">
		<article class="article article-style-c">
			<div class="article-header">
				<div class="article-image" data-background="assets/img/blog/img13.png" style="background-image: url(&quot;assets/img/blog/img13.png&quot;);">
				</div>
			</div>
			<div class="article-details">
				<div class="article-category">
					<a href="EgitimKategoriBilgisi">Kategorisi</a>
					<div class="bullet"></div> Olusturulma Tarihi
				</div>
				<div class="article-title">
					<h6>Egitim Adi</h6>
				</div>
				<p>
					Egitim hakkinda temel bilgiler
				</p>
				<div class="article-user">
					<img alt="image" src="assets/img/users/user-1.png">
					<div class="article-user-details">
						<div class="user-detail-name">
							<a href="personeldetaybilgileri">Ekleyen Egitmen Adi</a>
						</div>
						<div class="text-job">Egitmen Unvani</div>
					</div>
				</div>
				<div class="article-cta">
					<a href="egitimdetayi">Eğitim Detay Bilgisi <i class="fas fa-chevron-right"></i></a>
				</div>
			</div>
		</article>
	</div>

	<div class="col-12 col-md-4 col-lg-4">
		<article class="article article-style-c">
			<div class="article-header">
				<div class="article-image" data-background="assets/img/blog/img12.png" style="background-image: url(&quot;assets/img/blog/img12.png&quot;);">
				</div>
			</div>
			<div class="article-details">
				<div class="article-category">
					<a href="EgitimKategoriBilgisi">Kategorisi</a>
					<div class="bullet"></div> Olusturulma Tarihi
				</div>
				<div class="article-title">
					<h6>Egitim Adi</h6>
				</div>
				<p>
					Egitim hakkinda temel bilgiler
				</p>
				<div class="article-user">
					<img alt="image" src="assets/img/users/user-3.png">
					<div class="article-user-details">
						<div class="user-detail-name">
							<a href="personeldetaybilgileri">Ekleyen Egitmen Adi</a>
						</div>
						<div class="text-job">Egitmen Unvani</div>
					</div>
				</div>
				<div class="article-cta">
					<a href="egitimdetayi">Eğitim Detay Bilgisi <i class="fas fa-chevron-right"></i></a>
				</div>
			</div>
		</article>
	</div>

	<div class="col-12 col-md-4 col-lg-4">
		<article class="article article-style-c">
			<div class="article-header">
				<div class="article-image" data-background="assets/img/blog/img10.png" style="background-image: url(&quot;assets/img/blog/img10.png&quot;);">
				</div>
			</div>
			<div class="article-details">
				<div class="article-category">
					<a href="EgitimKategoriBilgisi">Kategorisi</a>
					<div class="bullet"></div> Olusturulma Tarihi
				</div>
				<div class="article-title">
					<h6>Egitim Adi</h6>
				</div>
				<p>
					Egitim hakkinda temel bilgiler
				</p>
				<div class="article-user">
					<img alt="image" src="assets/img/users/user-4.png">
					<div class="article-user-details">
						<div class="user-detail-name">
							<a href="personeldetaybilgileri">Ekleyen Egitmen Adi</a>
						</div>
						<div class="text-job">Egitmen Unvani</div>
					</div>
				</div>
				<div class="article-cta">
					<a href="egitimdetayi">Eğitim Detay Bilgisi <i class="fas fa-chevron-right"></i></a>
				</div>
			</div>
		</article>
	</div>


	<div class="col-12 col-md-4 col-lg-4">
		<article class="article article-style-c">
			<div class="article-header">
				<div class="article-image" data-background="assets/img/blog/img09.png" style="background-image: url(&quot;assets/img/blog/img13.png&quot;);">
				</div>
			</div>
			<div class="article-details">
				<div class="article-category">
					<a href="EgitimKategoriBilgisi">Kategorisi</a>
					<div class="bullet"></div> Olusturulma Tarihi
				</div>
				<div class="article-title">
					<h6>Egitim Adi</h6>
				</div>
				<p>
					Egitim hakkinda temel bilgiler
				</p>
				<div class="article-user">
					<img alt="image" src="assets/img/users/user-5.png">
					<div class="article-user-details">
						<div class="user-detail-name">
							<a href="personeldetaybilgileri">Ekleyen Egitmen Adi</a>
						</div>
						<div class="text-job">Egitmen Unvani</div>
					</div>
				</div>
				<div class="article-cta">
					<a href="egitimdetayi">Eğitim Detay Bilgisi <i class="fas fa-chevron-right"></i></a>
				</div>
			</div>
		</article>
	</div>

	<div class="col-12 col-md-4 col-lg-4">
		<article class="article article-style-c">
			<div class="article-header">
				<div class="article-image" data-background="assets/img/blog/img13.png" style="background-image: url(&quot;assets/img/blog/img13.png&quot;);">
				</div>
			</div>
			<div class="article-details">
				<div class="article-category">
					<a href="EgitimKategoriBilgisi">Kategorisi</a>
					<div class="bullet"></div> Olusturulma Tarihi
				</div>
				<div class="article-title">
					<h6>Egitim Adi</h6>
				</div>
				<p>
					Egitim hakkinda temel bilgiler
				</p>
				<div class="article-user">
					<img alt="image" src="assets/img/users/user-6.png">
					<div class="article-user-details">
						<div class="user-detail-name">
							<a href="personeldetaybilgileri">Ekleyen Egitmen Adi</a>
						</div>
						<div class="text-job">Egitmen Unvani</div>
					</div>
				</div>
				<div class="article-cta">
					<a href="egitimdetayi">Eğitim Detay Bilgisi <i class="fas fa-chevron-right"></i></a>
				</div>
			</div>
		</article>
	</div>
</div>