@page "/ikuygulama/ekle"
@page "/ikuygulama/duzenle/"

<h4 style="margin:10px">Ik Uygulama Ekle Duzenle</h4>
<hr />

<section style="margin-left:5px" class="container">

	<div class="form-group row">
		<label class="control-label col-md-12">Uygulama Adı</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>

	<div class="form-group row">
		<label class="control-label col-md-12">Açıklama</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>



	<div class="form-group row">
		<label class="control-label col-md-12">Bağlantı Url</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>



	<div class="form-group">
		<button type="submit" class="btn btn-primary">Kaydet</button>
		<button class="btn btn-light">Vazgeç</button>
	</div>

</section>