@page "/duyurukategori/ekle"
@page "/duyurukategori/duzenle/"

<h4 style="margin:10px">Duyuru Kategorisi Ekle Duzenle</h4>
<hr />

<section style="margin-left:5px" class= "container">
	<div class="form-group row">
		<label class="control-label col-md-12">Duyuru Kategori Adı</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>

	<div class="form-group row">
		<label class="control-label col-md-12">Açıklama</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>

	<div class="form-group row">
		<label class="control-label col-md-12">Duyuru Kategori Durumu</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Kaydet</button>
		<button class="btn btn-light">Vazgeç</button>
	</div>

</section>
