@page "/Ayrilanlar"



<h4 class="text-center">Aramızdan Ayrılan Personellerimiz </h4>
<hr />
<div class="row">
	<div class="input-group col-md-4 offset-md-4">
		<input type="text" class="form-control" placeholder="Personel adı ile arama yapın..."
			   @bind:event="oninput" />
		<div class="input-group-append">
			<button class="btn btn-info">
				<i class="fa fa-search"></i>
			</button>
		</div>
	</div>
</div>
<br />

<section class="section">
	<div class="section-body">
		<div class="row">
			<div class="col-4">
				<div class="card author-box card-primary">
					<div class="card-body">
						<div class="author-box-left">
							<img alt="image" src="assets/img/users/user-1.png" class="rounded-circle author-box-picture">
							<div class="clearfix"></div>
						</div>
						<div class="author-box-details">

							<div  class="author-box-description">
								<p style="color:blue" class="text-center">
									Şirketimiz <strong style="color:darkblue">
										Temsilcilik Adı Personel Görevi
									</strong> Olarak Görev Yapan
									<strong style="color:darkblue">Personel Adı</strong>, Yürüttüğü Görevinden <strong style="color:darkblue" >
										Ayrılış Tarihi
									</strong> Tarihi İtibariyle Ayrılmıştır.
								</p> <p style="color:blue" class="text-center" >
									Kendisine Bugüne Kadar Yapmış Olduğu Hizmetlerinden Dolayı Teşekkür Eder,
									Bundan Sonraki İş Hayatında Başarılar Dileriz.
								</p>
							</div>

							<div class="float-right mt-sm-0 mt-3">
								<a  href="Profil" class="btn">Personel Detay Bilgileri<i class="fas fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>