@page "/Ayrilanlar"
@inherits Ayrilislar

@if (AyrilanPersonel == null)

{
    <p><em>Yükleniyor...</em></p> }

else

{

    <div class="col-12">
        <CardComponent cardStyle="Style.danger">
            <CardHeader>
                Aramızdan Ayrılan Personellerimiz
            </CardHeader>
            <CardBody>
                <div class="row">
                    @foreach (var ayrilis in AyrilanPersonel.Where(a => a.PersonelDurumu.TextPersonelDurumu() == "Ayrılacak Personel" &&
                                                                   a.AktifPasif == true))
                    {
                        <div style="margin-top:-15px" class="col-4">
                            <CardComponent cardStyle="Style.danger">
                                <CardBody>
                                    <div class="author-box-center align-center">
                                        <img width="200"
                                             height="200"
                                             alt="image"
                                             src="images/uploaded/@string.Concat(
                                                                       ayrilis.Dosya.FirstOrDefault().Adi,
                                                                       ".",
                                                                       ayrilis.Dosya.FirstOrDefault().Uzanti)"
                                             class="rounded-circle author-box-picture">
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="author-box-details">
                                        <br />
                                        <div class="author-box-description">
                                            <p style="color:blue" class="text-center">
                                                Şirketimiz <strong style="color:darkblue">
                                                    @ayrilis.TemsilcilikAdi @ayrilis.BasladigiGorev
                                                </strong> Olarak Görev Yapan
                                                <strong style="color:darkblue">@ayrilis.AdSoyad</strong>, Yürüttüğü Görevinden
                                                <strong style="color:darkblue">
                                                    @ayrilis.IstenAyrilisTarihi.Date.ToShortDateString()
                                                </strong> Tarihi İtibariyle Ayrılmıştır.
                                            </p> <p style="color:blue" class="text-center">
                                                Kendisine Bugüne Kadar Yapmış Olduğu Hizmetlerinden Dolayı Teşekkür Eder,
                                                Bundan Sonraki İş Hayatında Başarılar Dileriz.
                                            </p>
                                        </div>
                                        <div class="float-right mt-sm-0 mt-3">
                                            <a href="Profil" class="btn">
                                                Personel Detay Bilgileri<i class="fas fa-chevron-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </CardBody>
                            </CardComponent>
                        </div>}
                </div>

            </CardBody>
        </CardComponent>
    </div>}


<style>
    .article .article-details {
        min-height: 220px;
        max-height: 290px;
    }

    .theme-white .btn-primary {
        margin-left: 8rem;
        background-color: #6777ef;
        border-color: transparent !important;
        color: #fff;
    }
</style>

