@page "/Katilanlar"

<div class="col-12">
    <CardComponent cardStyle="Style.success">
        <CardHeader>
            <div class="float-left">
                <div class="col-md-12">
                    Aramıza Yeni Katılan Personeller
                </div>
            </div>
        </CardHeader>

        <CardBody>
            <div class="row">
                <div style="margin-top:-15px" class="col-4">
                    <CardComponent cardStyle="Style.success">
                        <CardBody>
                            <div class="author-box-center align-center">
                                <img width="200" 
                                     height="200" 
                                     alt="image" 
                                     src="assets/img/users/user-1.png" 
                                     class="rounded-circle author-box-picture">
                                <div class="clearfix"></div>
                            </div>
                            <div class="author-box-details">
                                <h5 style="color:darkblue" class="text-center">
                                    <br />
                                    <strong>
                                        VEDAŞ AİLESİNE HOŞ GELDİNİZ
                                    </strong>
                                </h5>
                                <div class="author-box-description">
                                    <h6 style="color:darkblue" class="text-center">
                                        Sayın <strong style="color:blue">
                                            Personel Adı, İşe Giriş Tarihi
                                        </strong> Tarihinde <strong style="color:blue">
                                            Temsilcilik Adı, Birim Adı'
                                        </strong>nde <strong style="color:blue">
                                            Başladığı Görev
                                        </strong> Olarak Başladığınız Görevinizde Başarılar Dileriz.
                                    </h6>
                                </div>

                                <div class="float-right mt-sm-0 mt-3">
                                    <a href="Profil" class="btn">Personel Detay Bilgileri<i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </CardBody>
                    </CardComponent>
                </div>
                <div style="margin-top:-15px" class="col-4">
                    <CardComponent cardStyle="Style.success">
                        <CardBody>
                            <div class="author-box-center align-center">
                                <img width="200" height="200" alt="image" src="assets/img/users/user-1.png" class="rounded-circle author-box-picture">
                                <div class="clearfix"></div>
                            </div>
                            <div class="author-box-details">
                                <h5 style="color:darkblue" class="text-center">
                                    <br />
                                    <strong>
                                        VEDAŞ AİLESİNE HOŞ GELDİNİZ
                                    </strong>
                                </h5>
                                <div class="author-box-description">
                                    <h6 style="color:darkblue" class="text-center">
                                        Sayın <strong style="color:blue">
                                            Personel Adı, İşe Giriş Tarihi
                                        </strong> Tarihinde <strong style="color:blue">
                                            Temsilcilik Adı, Birim Adı'
                                        </strong>nde <strong style="color:blue">
                                            Başladığı Görev
                                        </strong> Olarak Başladığınız Görevinizde Başarılar Dileriz.
                                    </h6>
                                </div>

                                <div class="float-right mt-sm-0 mt-3">
                                    <a href="Profil" class="btn">Personel Detay Bilgileri<i class="fas fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </CardBody>
                    </CardComponent>
                </div>
            </div>

        </CardBody>
    </CardComponent>
</div>

<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>