@page "/Katilanlar"

<h4 class="text-center">Aramıza Yeni Katılan Personeller </h4>
<hr />

<section class="section">
	<div class="section-body">
		<div class="row">
			<div class="col-4">
				<div class="card author-box card-primary">
					<div class="card-body">
						<div class="author-box-left">
							<img alt="image" src="assets/img/users/user-1.png" class="rounded-circle author-box-picture">
							<div class="clearfix"></div>

						</div>
						<div class="author-box-details">
							<h3 style="color:darkblue" class="text-center">
								<strong>
									VEDAŞ AİLESİNE HOŞ GELDİNİZ
								</strong>
							</h3>
							<div class="author-box-description">
								<h6 style="color:darkblue" class="text-center">
									Sayın <strong style="color:blue">
										Personel Adı, İşe Giriş Tarihi
									</strong> Tarihinde <strong style="color:blue">
										Temsilcilik Adı, Birim Adı'
									</strong>nde <strong style="color:blue">
										Başladığı Görev
									</strong> Olarak Başladığınız Görevinizde Başarılar Dileriz.
								</h6>
							</div>

							<div class="float-right mt-sm-0 mt-3">
								<a href="Profil" class="btn">Personel Detay Bilgileri<i class="fas fa-chevron-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>