@page "/Vefatlar"


<h4 class="text-center">Vefat Durumları </h4>
<hr />

<div class="row">
	<div class="col-12 col-sm-6 col-md-6 col-lg-4">
		<article class="article article-style-b">
			<div class="article-header">
				<div style="height:100%;width:100%" class="article-image" data-background="/img/vefatvebassagligi.jpg">
				</div>
			</div>
			<div style="margin-top:-20px" class="article-details">
				<div class="article-title">
					<h5 class="text-dark text-center"><strong>Vefatlar ve Başsağlığı</strong></h5>
				</div>
				<div>
					<h6 class="text-dark text-center">
						<strong>
							VEDAŞ Ailesinin Değerli Üyeleri,
						</strong>
					</h6>
					<p class="text-dark text-center">
						<strong>İl/İlçe Müdürlüğü</strong> çalışanlarımızdan <strong>Personel</strong>'in <strong>Yakının Derecesi Yakının İsmi </strong>
						vefat etmiştir.
					</p>
					<p class="text-dark text-center">
						Merhuma Allah'tan rahmet, ailesi ve yakınlarına başsağlığı dileriz.
					</p>
					<p class="text-dark text-center">
						<strong>
							Personel İletişim: Telefon No
						</strong>
					</p>
				</div>
			</div>
		</article>
	</div>
</div>