@page "/odarezervformu"


<div class="col-12">
    <CardComponent cardStyle="Style.success">
        <CardHeader>
            <h4>Toplantı Takvimi</h4>
        </CardHeader>
        <CardBody>
            <div class="fc-overflow">
                <div id="myEvent"></div>
            </div>
        </CardBody>
    </CardComponent>
</div>
