@page "/toplantinotu/ekle"
@page "/toplantinotu/duzenle/"


<div class="col-12 col-md-12 col-lg-12">
    <CardComponent cardStyle="Style.primary">
        <CardHeader>
           Toplantı Notu Ekle ve Düzenleme Ekranı
        </CardHeader>
        <CardBody>
              <div class="form-group">
                <label>Toplantı Not Başlığı</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Toplantı Konusu</label>
                <input type="text" class="form-control">
            </div>
               <div class="form-group">
                <label>Toplantı Maddeleri</label>
                <input type="text" class="form-control">
            </div>


            <div class="form-group">
                <label>Alınan Kararlar</label>
                <Summernote></Summernote>
            </div>

            <div class="form-group">
                <labe>Ekleyen Yetkili Ad Soyad</labe>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Eklenme Tarihi</label>
                <input type="datetime-local" class="form-control">
            </div>

            <div class="card-footer text-right">
                <SaveButton Caption="Değişiklikleri Onayla">  </SaveButton>
                <CancelButton Caption ="Vazgeç"></CancelButton>
            </div>
        </CardBody>

    </CardComponent>
</div>

<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>