@page "/toplantinotdetayi"

<div class="row">
	<div class="col-12">
		<CardComponent cardStyle=Style.primary>
			<CardHeader>
				<div class="float-left">
                <div class="col-md-12">
                    	<b>Vedaş Tanıtım Toplantısı</b>
                </div>
            </div>
			</CardHeader>
			<CardBody>
				<div class="inbox-body no-pad">
					<section class="mail-list">
						<div class="mail-sender">
							<div class="media">
								<a href="#" class="table-img m-r-15">
									<img alt="image" src="assets/img/users/user-2.png" class="rounded-circle" width="35"
										 data-toggle="tooltip" title="Sachin Pandit">
								</a>
								<div class="media-body">
									<span class="date pull-right">4:15AM 04 April 2017</span>
									<h5 class="text-primary">Sarah Smith</h5>
									<small class="text-muted">From: sarah@example.com</small>
								</div>
							</div>
						</div>
						<div class="view-mail p-t-20">
							<p>
								Toplantı Konusu
							</p>
							<br />
							<p>
								Toplantı Madeleri
							</p>
							<br />

							<p>
								Alınan Kararlar
							</p>
							<br />
						</div>
						<div class="attachment-mail">
							<p>
								<span>
									<i class="fa fa-paperclip"></i> Ek Döküman Sayısı —
								</span>
								<a href="#">Tüm Ekleri İndir</a> |
								<a href="#">Ekleri Görüntüle</a>
							</p>
							<div class="row">
								<div class="col-md-2">
									<a href="#">
										<img class="img-thumbnail img-responsive" alt="attachment"
											 src="assets/img/users/user-1.png">
									</a>
									<a class="name" href="#">
										IMG_001.png
										<span>20KB</span>
									</a>
								</div>
								<div class="col-md-2">
									<a href="#">
										<img class="img-thumbnail img-responsive" alt="attachment"
											 src="assets/img/users/user-3.png">
									</a>
									<a class="name" href="#">
										IMG_002.png
										<span>22KB</span>
									</a>
								</div>
								<div class="col-md-2">
									<a href="#">
										<img class="img-thumbnail img-responsive" alt="attachment"
											 src="assets/img/users/user-4.png">
									</a>
									<a class="name" href="#">
										IMG_003.png
										<span>28KB</span>
									</a>
								</div>
							</div>
						</div>

					</section>
				</div>
			</CardBody>
		</CardComponent>
	</div>
</div>



<style>
	.row {
		display: -ms-flexbox;
		display: -webkit-box;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-top: -15px;
		margin-right: -15px;
		margin-left: -15px;
	}
</style>
