@page "/toplantinotu/ekle"
@page "/toplantinotu/duzenle/"

<h4 style="margin:10px">Toplantı Not Duzenle</h4>
<hr />

<section style="margin-left:5px" class="container">


	<div class="form-group row">
		<label class="control-label col-md-12">Toplantı Not Başlığı</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>

	<div class="form-group row">
		<label class="control-label col-md-12">Toplantı Konusu</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>

	<div class="form-group row">
		<label class="control-label col-md-12">Toplantı Madeleri</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>

	<div class="form-group row">
		<label class="control-label col-md-12">Alınan Kararlar</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>

	<div class="form-group row">
		<label class="control-label col-md-12">Ekleyen Yetkili Ad Soyad</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Değişiklikleri Onayla</button>
		<button class="btn btn-light">Vazgeç</button>
	</div>

</section>