@page "/toplantilar"
@using VedasPortal.Entities.Models.ToplantiTakvimi

<div class="col-12">
    <CardComponent cardStyle="Style.warning">
        <CardBody>
            <div id="appContainer"
                 class="d-flex flex-column flex-md-row-reverse">
                <div id="calendarWrapper"
                     class="flex-md-grow-1 pt-5">
                    <h1 class="text-center mt-2">
                        Toplantı Takvimi
                    </h1>
                    <CascadingValue Value="this">
                        <CalendarComponent />
                    </CascadingValue>

                </div>
                <div id="toDoList" 
                     class="flex-grow-1 flex-md-grow-0 pt-4">
                    <ToplantiListComponent ToplantiGetir="@gunlukToplanti" />
                </div>
            </div>

        </CardBody>
    </CardComponent>
</div>

@code{

    public GunlukToplanti gunlukToplanti = null;

    public void SetNewCalendarDay(GunlukToplanti gun)
    {
        gunlukToplanti = gun;
        StateHasChanged();
    }
}

<style>

    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }

    .form-group {
        margin-bottom: -15px;
    }
</style>