@page "/Etkinlikler"

<h3>Etkinlikler</h3>

<div class="row">

	<div class="input-group col-md-4 offset-md-4">
		<input type="text" class="form-control" placeholder="Etkinlik adı ile arama yapın..."
			   @bind:event="oninput" />
		<div class="input-group-append">
			<button class="btn btn-info">
				<i class="fa fa-search"></i>
			</button>
		</div>
	</div>
</div>
<br />




<div class="row">

	<div class="col-12 col-sm-6 col-md-6 col-lg-3">
		<article class="article article-style-b">
			<div class="article-header">
				<div class="article-image" data-background="assets/img/blog/img07.png" style="background-image: url(&quot;assets/img/blog/img07.png&quot;);">
				</div>
				<div class="article-badge">
					<div class="article-badge-item bg-danger"><i class="fas fa-fire"></i> Trending</div>
				</div>
			</div>
			<div class="article-details">
				<div class="article-title">
					<h2><a href="#">EtkinlikAd</a></h2>
				</div>
				<p>
					Aciklama
				</p>
				<div class="article-cta">
					<a href="#"> Etkinlik Detayına Bak <i class="fas fa-chevron-right"></i></a>
				</div>
			</div>
		</article>
	</div>

	<div class="col-12 col-sm-6 col-md-6 col-lg-3">
		<article class="article article-style-b">
			<div class="article-header">
				<div class="article-image" data-background="assets/img/blog/img15.png" style="background-image: url(&quot;assets/img/blog/img15.png&quot;);">
				</div>
			</div>
			<div class="article-details">
				<div class="article-title">
					<h2><a href="#">EtkinlikAd</a></h2>
				</div>
				<p>
					Aciklama
				</p>
				<div class="article-cta">
					<a href="#"> Etkinlik Detayına Bak <i class="fas fa-chevron-right"></i></a>
				</div>
			</div>
		</article>
	</div>


	<div class="col-12 col-sm-6 col-md-6 col-lg-3">
		<article class="article article-style-b">
			<div class="article-header">
				<div class="article-image" data-background="assets/img/blog/img12.png" style="background-image: url(&quot;assets/img/blog/img12.png&quot;);">
				</div>
			</div>
			<div class="article-details">
				<div class="article-title">
					<h2><a href="#">EtkinlikAd</a></h2>
				</div>
				<p>
					Aciklama
				</p>
				<div class="article-cta">
					<a href="#"> Etkinlik Detayına Bak <i class="fas fa-chevron-right"></i></a>
				</div>
			</div>
		</article>
	</div>



</div>



