@page "/"
@page "/index"


@inject Services.HavaDurumuService.HavaDurumuService service
<section class="section">
	<div class="row ">
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="card">
				<div class="card-statistic-4">
					<div class="align-items-center justify-content-between">
						<div class="row ">
							<AlertPrimary></AlertPrimary>
							<AlertSecondary></AlertSecondary>



							<Tabs @ref="_tabs">
								<TabItem Title="First Step" Id="step1">
									<h3>First Tab</h3>
									<p>Awesome text existing overhere</p>
								</TabItem>
								<TabItem Title="Second Step" Id="step2">
									<h3>Second Tab</h3>
									<p>Awesome text existing overhere</p>
								</TabItem>
								<TabItem Title="Third Step" Id="step3">
									<h3>Third Tab</h3>
									<p>Awesome text existing overhere</p>
								</TabItem>
							</Tabs>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="card">
				<div class="card-statistic-4">
					<div class="align-items-center justify-content-between">
						<div class="row ">
							<AlertDismissablePrimary></AlertDismissablePrimary>
							<AlertSecondaryIcon></AlertSecondaryIcon>
							<RefreshButton></RefreshButton>
						</div>
					</div>
				</div>
			</div>
		</div>
		<DovizKarti></DovizKarti>
		<HavaDurumKarti></HavaDurumKarti>
	</div>
	<div class="row">
		<DuyuruSlider></DuyuruSlider>
		<IndexSagTaraf></IndexSagTaraf>

	</div>
</section>

@code {
	protected override void OnInitialized()
	{
		base.OnInitialized();

		service.HavaDurumuGetir("Van", null);

	}



	protected Tabs _tabs;

	protected void SwitchTab() => _tabs.ActivateItem("step2");




}