@page "/"
@page "/index"


<div class="col-lg-8 col-sm-12 col-md-6 col-xs-12">
	<SliderBox />
</div>

<div class="col-lg-4 col-sm-12 col-md-6 col-xs-12">
	<DovizKarti />
	<HavaDurumKarti style="float:left" Sehir="Ankara" HavadurumuBackground="BackgroundColor.orange" />
	<HavaDurumKarti style="float:left" Sehir="Van" HavadurumuBackground="BackgroundColor.cyan" />
	<HavaDurumKarti style="float:left" Sehir="Bitlis" HavadurumuBackground="BackgroundColor.cyan" />
	<HavaDurumKarti style="float:left" Sehir="Hakkari" HavadurumuBackground="BackgroundColor.orange" />
</div>
<div class="col-lg-4 col-sm-12 col-md-6 col-xs-12">
	<Duyurular />
</div>
<div class="col-lg-4 col-sm-12 col-md-6 col-xs-12">
	<Haberler />
</div>
<div class="col-lg-4 col-sm-12 col-md-6 col-xs-12">
	<PersonelDurum />
</div>

@code {
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

	}
}

