@page "/"
@page "/index"


    <div class="col-lg-8 col-sm-12 col-md-6 col-xs-12">
        <SliderBox />
    </div>

    <div class="col-lg-4 col-sm-12 col-md-6 col-xs-12">

        <iframe src="https://api.genelpara.com/iframe/?symbol=para-birimleri&pb=XU100,USD,EUR,GA,BTC&stil=stil-6&renk=beyaz"
                title="Döviz ve Altın Fiyatları"
                frameborder="0"
                width="550"
                height="405"
                style="width:490px; height:250px;">
        </iframe>

        <HavaDurumKarti style="float:left"
                        Sehir="ANKARA"
                        SehirAdi="ANKARA"
                        HavadurumuBackground="BackgroundColor.orange" />
        <HavaDurumKarti style="float:left"
                        Sehir="VAN"
                        SehirAdi="VAN"
                        HavadurumuBackground="BackgroundColor.cyan" />
        <HavaDurumKarti style="float:left"
                        Sehir="SİİRT"
                        SehirAdi="BİTLİS"
                        HavadurumuBackground="BackgroundColor.cyan" />
        <HavaDurumKarti style="float:left"
                        SehirAdi="HAKKARİ"
                        Sehir="VAN"
                        HavadurumuBackground="BackgroundColor.orange" />
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6 col-xs-12">
        <Duyurular />
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6 col-xs-12">
        <Haberler />
    </div>
    <div class="col-lg-4 col-sm-12 col-md-6 col-xs-12">
        <Etkinlikler />
    </div>

    <div class="col-lg-4 col-sm-12 col-md-6 col-xs-12">
        <SecilmisAnket />
    </div>

    <div class="col-lg-4 col-sm-12 col-md-6 col-xs-12">
        <PersonelDurumComponent />
    </div>

    <div class="col-lg-4 col-sm-12 col-md-6 col-xs-12">
        <YaklasanToplanti />
    </div>