@page "/"
@page "/index"
@inject Services.HavaDurumuService.HavaDurumuService service
<section class="section">
	<div class="row ">
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="card">
				<div class="card-statistic-4">
					<div class="align-items-center justify-content-between">
						<div class="row ">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
								<div class="card-content">
									<h5 class="font-15">New Booking</h5>
									<h2 class="mb-3 font-18">258</h2>
									<p class="mb-0"><span class="col-green">10%</span> Increase</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
								<div class="banner-img">
									<img src="assets/img/banner/1.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="card">
				<div class="card-statistic-4">
					<div class="align-items-center justify-content-between">
						<div class="row ">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
								<div class="card-content">
									<h5 class="font-15"> Customers</h5>
									<h2 class="mb-3 font-18">1,287</h2>
									<p class="mb-0"><span class="col-orange">09%</span> Decrease</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
								<div class="banner-img">
									<img src="assets/img/banner/2.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="card">
				<div class="card-statistic-4">
					<div class="align-items-center justify-content-between">
						<div class="row ">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
								<div class="card-content">
									<h5 class="font-15">New Project</h5>
									<h2 class="mb-3 font-18">128</h2>
									<p class="mb-0">
										<span class="col-green">18%</span>
										Increase
									</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
								<div class="banner-img">
									<img src="assets/img/banner/3.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="card">
				<div class="card-statistic-4">
					<div class="align-items-center justify-content-between">
						<div class="row ">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
								<div class="card-content">
									<h5 class="font-15">Hava Durumu</h5>
									<h2 class="mb-3 font-18">25 C°</h2>
									<p class="mb-0"><span class="col-red">30 %</span> Güneşli</p>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
																<div class="banner-img">
									<img src="https://cdn2.iconfinder.com/data/icons/weather-flat-14/64/weather02-512.png" alt="" width="120">
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-6 col-lg-9">
			<div class="card">
				<div class="card-header">
					<h4>Duyurular ve Haberler</h4>
				</div>
				<div class="card-body">
					<div class="owl-carousel owl-theme slider" id="slider2">
						<div style="height:500px; max-height:500px">
							<img style="height:100%; width:100%" alt="image" src="assets/img/blog/img10.png">
							<div class="slider-caption">
								<div class="slider-title">Image 1</div>
								<div class="slider-description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
									eiusmod
									tempor incididunt ut labore et dolore magna aliqua.
								</div>
							</div>
						</div>
						<div style="height:500px; max-height:500px">
							<img style="height:100%; width:100%" alt="image" src="assets/img/blog/img08.png">
							<div class="slider-caption">
								<div class="slider-title">Image 2</div>
								<div class="slider-description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
									eiusmod
									tempor incididunt ut labore et dolore magna aliqua.
								</div>
							</div>
						</div>
						<div style="height:500px; max-height:500px">
							<img style="height:100%; width:100%" alt="image" src="assets/img/blog/img05.png">
							<div class="slider-caption">
								<div class="slider-title">Image 3</div>
								<div class="slider-description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
									eiusmod
									tempor incididunt ut labore et dolore magna aliqua.
								</div>
							</div>
						</div>
						<div style="height:500px; max-height:500px">
							<img style="height:100%; width:100%" alt="image" src="assets/img/blog/img03.png">
							<div class="slider-caption">
								<div class="slider-title">Image 4</div>
								<div class="slider-description">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
									topiusmod
									tempor incididunt ut labore et dolore magna aliqua.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-6 col-lg-3">
			<div   class="card">
				<div class="card-header">
					<h4>Hava Durumu ve Döviz Kurları</h4>
				</div>
				<div class="card-body">
					<div style="margin-top:-15px" class="input-group rounded mb-3">
						<input type="search" class="form-control rounded" placeholder="Şehir" aria-label="Search"
							   aria-describedby="search-addon" />
						<a href="#!" type="button">
							<span class="input-group-text border-0 fw-bold btn btn-primary" id="search-addon">
								Ara!
							</span>
						</a>
					</div>
					<div style="margin-top:-15px" class="mb-4 pb-2">
						<div class="form-check form-check-inline">
							<input class="form-check-input"
								   type="radio"
								   name="inlineRadioOptions"
								   id="inlineRadio1"
								   value="option1"
								   checked />
							<label class="form-check-label" for="inlineRadio1">Celsius</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input"
								   type="radio"
								   name="inlineRadioOptions"
								   id="inlineRadio2"
								   value="option2" />
							<label class="form-check-label" for="inlineRadio2">Farenheit</label>
						</div>
					</div>
					<div style="margin-top:-20px" class="card shadow-0 border">
						<div class="card-body p-4">
							<h4 class="mb-1 sfw-normal">Van, Türkiye</h4>
							<p class="mb-2">Şu Anki Sıcaklık: <strong>5.42°C</strong></p>
							<p>Hissedilen Sıcaklık: <strong>4.37°C</strong></p>
							<p>En Yüksek: <strong>6.11°C</strong>, En Düşük: <strong>3.89°C</strong></p>
							<div class="d-flex flex-row align-items-center">
								<p class="mb-0 me-4">Gökyüzü Durumu</p>
								<i class="fas fa-cloud fa-9x text-dark" style="color: #eee;"></i>
							</div>
						</div>
					</div>
				</div>
				<div style="margin-top:-50px" class="card-body">
					<div style="width:100%;display:flex;justify-content:left;text-align:-webkit-center;">
						<iframe title="beterbocekler2.tr.gg" sandbox="allow-modals allow-same-origin allow-scripts allow-popups allow-pointer-lock" height="575" id="piyasa_paratic_liste"
								src="https://piyasa.paratic.com/MOBILE/widget/toolapi.php?toolName=liste&background=mavi&header=Doviz
							Altin&ins=USD/TRL,EUR/TRL,GBP/TRL,SAED,SAUD,SCAD,SCHF,SCNY,SILS,SJPY,SRUB,SSAR,XGLD,SCUM,SG14BIL,SG18BIL,SG22BIL,SGCEYREK"
								frameborder="1" style="border-radius:5px;width:300px; height:575px;">
						</iframe>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

@code{
	protected override void OnInitialized()
	{
		base.OnInitialized();

		service.HavaDurumuGetir("Van",null);

	}
}