@page "/"
@page "/index"


<div class="row">
	<div class="col-4">
		<iframe src="https://www.genelpara.com/embed/?symbol=doviz&doviz=USD,EUR,GBP&stil=stil-1&renk=beyaz"
				frameborder="0" width="550" height="70" style="width:550px; height:70px;"></iframe>
	</div>
	<div class="col-8">
		<iframe src="https://www.genelpara.com/embed/?symbol=altin&altin=GA,C,Y,T,CMR&stil=stil-1&renk=beyaz"
				frameborder="0" width="1000" height="70"></iframe>
	</div>

</div>

<div class="row">

	<div class="col-6">
		<iframe src="https://www.meteoblue.com/tr/hava/widget/three?geoloc=detect&nocurrent=0&noforecast=0&days=7&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=image"
				frameborder="0" scrolling="NO" allowtransparency="true"
				sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox"
				style="width: 805px; height: 614px"></iframe>

	</div>
	<div class="col-6">
		<div class="card">
			<div class="card-header">
				<h4>Duyurular</h4>
			</div>
			<div class="card-body">
				<div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators2" data-slide-to="1" class=""></li>
						<li data-target="#carouselExampleIndicators2" data-slide-to="2" class=""></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100" src="assets/img/blog/img05.png" alt="First slide">
							<div class="carousel-caption d-none d-md-block">
								<h5 class="text-white">DuyuruAdi</h5>
								<p class="text-white">
									DuyuruAcıklama
								</p>
							</div>
						</div>


						<div class="carousel-item">
							<img class="d-block w-100" src="assets/img/blog/img10.png" alt="Second slide">
							<div class="carousel-caption d-none d-md-block">
								<h5 class="text-white">DuyuruAdi</h5>
								<p class="text-white">
									DuyuruAciklama
								</p>
							</div>
						</div>


					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Geri</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">İleri</span>
					</a>
				</div>
			</div>
		</div>

	</div>

</div>

