@page "/dokumanlar"
@using Syncfusion.Blazor.FileManager
@inject IJSRuntime JsRuntime;

<div class="col-12">
    <AuthorizeView Roles="Admin,VideoEkleDuzenle,DosyaEkleDuzenle">
        <Authorized>
            <CardComponent cardStyle="Style.primary">
                <CardBody>
                    <div id="ControlRegion">

                        <SfFileManager TValue="FileManagerDirectoryContent"
                                       ShowThumbnail="true"
                                       AllowDragAndDrop="true"
                                       AllowMultiSelection="true"
                                       Height="600px">

                            <FileManagerAjaxSettings Url="/api/FileManager/FileOperations"
                                                     UploadUrl="/api/FileManager/Upload"
                                                     DownloadUrl="/api/FileManager/Download"
                                                     GetImageUrl="/api/FileManager/GetImage">
                            </FileManagerAjaxSettings>
                        </SfFileManager>
                    </div>

                </CardBody>
            </CardComponent>
        </Authorized>
        <NotAuthorized>
            <p class="text text-center text-danger"> Bu Alanda İşlem Yapma Yetkiniz Yoktur!</p>
        </NotAuthorized>
    </AuthorizeView>
    
</div>

<style>
    .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }
    .list {
    float: left;
    line-height: 20px;
    margin: 10px;
    min-width: 200px;
    }
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>
