@page "/GuncelMevzuatTakibi"
<h4 class="text-center">Güncel Mevzuat Takibi ve Regülasyonlar</h4>
<hr />


<div class="row clearfix">
	<div class="col-lg-6 col-md-12">
		<div class="card single_post">
			<div class="header">
				<h6 style="margin:10px"><strong>Son</strong> Gönderi</h6>

			</div>

			<div class="body">
				<ul class="meta">
					<li><a href="personeldetaybilgileri"><i class="zmdi zmdi-account col-blue"></i>Ekleyen Personel</a></li>
					<li><a href="MevzuatKategoriBilgisi"><i class="zmdi zmdi-label col-amber"></i>Kategorisi</a></li>
				</ul>
				<h6 style="margin:10px" class="m-t-0">Mevzuat Adı</h6>
				<p style="margin:10px">Mevzuat içerik bilgisi</p>
				<a style="margin:10px" href="mevzuatdetay" title="read more" class="btn btn-round btn-primary">Tümünü Görüntüle</a>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12">
		<div class="card single_post">
			<div class="header">
				<h6 style="margin:10px"><strong>Popüler</strong> Gönderi</h6>

			</div>
			<div class="body m-b-10">
				<ul class="meta">
					<li><a href="personeldetaybilgileri"><i class="zmdi zmdi-account col-blue"></i>Ekleyen Personel</a></li>
					<li><a href="MevzuatKategoriBilgisi"><i class="zmdi zmdi-label col-amber"></i>Kategorisi</a></li>
				</ul>
				<h6 style="margin:10px" class="m-t-0">Mevzuat Adı</h6>
				<p style="margin:10px">Mevzuat içerik bilgisi</p>
				<a style="margin:10px" href="mevzuatdetay" title="read more" class="btn btn-round btn-primary">Tümünü Görüntüle</a>
			</div>

		</div>
	</div>
</div>
