<div>
    <EditForm Model="@optionModel" OnValidSubmit="SaveOption">
        <DataAnnotationsValidator />
        <div class="form-group m-3">
            <label class="bs-form-label">Açıklama</label>
            <InputText class="form-control" @bind-Value="@optionModel.Description" />
            <ValidationMessage For="@(() => optionModel.Description)"/>
        </div>
        <button type="submit" class="btn btn-primary">Ekle</button>
        <button @onclick="Cancel" class="btn btn-secondary">Vazgeç</button>
    </EditForm>

   
</div>

