
<EditForm Model="@AnketSecenekVm" OnValidSubmit="SecenekKayit">
    <DataAnnotationsValidator />
    <ShowModalComponent  IsOpened="true">
        
        <ModalBody>
            <div class="form-group m-3">
                <label class="bs-form-label">Açıklama</label>
                <InputText class="form-control" 
                           @bind-Value="@AnketSecenekVm.Aciklama" />
                <ValidationMessage For="@(() => AnketSecenekVm.Aciklama)" />
            </div>
        </ModalBody>
        <ModalFooter>
            <button type="submit" class="btn btn-primary">Ekle</button>
            <button @onclick="Cancel" class="btn btn-secondary">Vazgeç</button>
        </ModalFooter>
    </ShowModalComponent>
    
</EditForm>


