@page "/dokumanlar"

@inherits DosyaModeli


@if (Dokumanlar == null)

{
<p><em>Yükleniyor...</em></p> }

else

{

<div class="col-12">
    <CardComponent cardStyle="Style.primary">

        <CardHeader>
            <div class="float-left">
                <div class="col-md-12">
                    Dosyalar ve Dökümanlar
                </div>
            </div>
            <div style="margin-left:900px" class="float-right">
                <SearchComp />
            </div>
        </CardHeader>


        <CardBody>

            <div class="row">
                @foreach (var dokuman in Dokumanlar)
                {
<div class="col-12 col-sm-6 col-md-6 col-lg-3">
    <article class="article article-style-b">
        <div class="article-header">
            <div class="article-image" data-background="assets/img/blog/img10.png">
            </div>
            <div class="article-badge">
                <div class="article-badge-item bg-danger"><i class="fas fa-fire"></i> En çok okunan</div>
            </div>
        </div>
        <div class="article-details">
            <div class="article-title">
                <h2><a>Dosya Adı </a></h2>
            </div>
            <p>
                Açıklama
            </p>
            <div class="article-cta">
                <a href="dokumandetay">Detayına Bak <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </article>
</div>}
            </div>

        </CardBody>

    </CardComponent>

</div>}
<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>

