@page "/duzelticifaaliyet/detay/{dFaaliyetId:int}"

@if (DofDetayGetir != null)
{

    <div class="col-12">
        <!-- Support tickets -->
        <CardComponent cardStyle="Style.primary">
            <CardHeader>
                Düzeltici ve Önleyici Faaliyetler
            </CardHeader>
            <CardBody>
                <div class="container-fliud">

                    <div class="row">
                        <div class="preview col-lg-4 col-sm-12 col-md-6 col-xs-12">
                            <div id="aniimated-thumbnials" class="list-unstyled row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <a href="images/uploaded/@string.Concat(DofDetayGetir.ImageFile?.FirstOrDefault().Adi,
                                               ".",
                                               DofDetayGetir.ImageFile?.FirstOrDefault().Uzanti)" data-sub-html="@DofDetayGetir.FaaliyetGurupAdi">
                                        <img class="img-responsive thumbnail" src="images/uploaded/@string.Concat(DofDetayGetir.ImageFile?.FirstOrDefault().Adi,
                                               ".",
                                               DofDetayGetir.ImageFile?.FirstOrDefault().Uzanti)" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="details col-lg-8 col-sm-12 col-md-6 col-xs-12">
                            <h3 class="product-title">@DofDetayGetir.FaaliyetGurupAdi</h3>

                            <p class="haber-detay">@((MarkupString)DofDetayGetir.Aciklama)</p>

                        </div>
                    </div>

                </div>

            </CardBody>

        </CardComponent>
        <!-- Support tickets -->
    </div>}

@code { }
