@page "/Egitimler"

<h4 class="text-center" style="margin:10px">Eğitimler </h4>
<hr />


<div class="row">
	<div class="col-12 col-md-4 col-lg-4">
		<article class="article article-style-c">
			<div class="article-header">
				<div class="article-image" data-background="assets/img/blog/img11.png">
				</div>
			</div>
			<div class="article-details">
				<div class="article-category">
					<a href="EgitimKategorileri">Eğitim Kategorisi</a>
					<div class="bullet"></div> <a >Eklenme Tarihi</a>
				</div>
				<div class="article-title">
					<h2><a href="egitimdetayi">Eğtim Adı</a></h2>
				</div>
				<p>
					Açıklama
				</p>
				<div class="article-user">
					<img alt="image" src="assets/img/users/user-1.png">
					<div class="article-user-details">
						<div class="user-detail-name">
							<a href="profil">Ekleyen Kullanıcı</a>
						</div>
						<div class="text-job">Kullanıcı Görev Bilgisi</div>
					</div>
				</div>
			</div>
		</article>
	</div>
	<div class="col-12 col-md-4 col-lg-4">
		<article class="article article-style-c">
			<div class="article-header">
				<div class="article-image" data-background="assets/img/blog/img12.png">
				</div>
			</div>
			<div class="article-details">
				<div class="article-category">
					<a href="EgitimKategorileri">Eğitim Kategorisi</a>
					<div class="bullet"></div> <a >Eklenme Tarihi</a>
				</div>
				<div class="article-title">
					<h2><a href="egitimdetayi">Eğtim Adı</a></h2>
				</div>
				<p>
					Açıklama
				</p>
				<div class="article-user">
					<img alt="image" src="assets/img/users/user-3.png">
					<div class="article-user-details">
						<div class="user-detail-name">
							<a href="profil">Ekleyen Kullanıcı</a>
						</div>
						<div class="text-job">Kullanıcı Görev Bilgisi</div>
					</div>
				</div>
			</div>
		</article>
	</div>
	<div class="col-12 col-md-4 col-lg-4">
		<article class="article article-style-c">
			<div class="article-header">
				<div class="article-image" data-background="assets/img/blog/img13.png">
				</div>
			</div>
			<div class="article-details">
				<div class="article-category">
					<a href="EgitimKategorileri">Eğitim Kategorisi</a>
					<div class="bullet"></div> <a >Eklenme Tarihi</a>
				</div>
				<div class="article-title">
					<h2><a href="egitimdetayi">Eğtim Adı</a></h2>
				</div>
				<p>
					Açıklama
				</p>
				<div class="article-user">
					<img alt="image" src="assets/img/users/user-5.png">
					<div class="article-user-details">
						<div class="user-detail-name">
							<a href="profil">Ekleyen Kullanıcı</a>
						</div>
						<div class="text-job">Kullanıcı Görev Bilgisi</div>
					</div>
				</div>
			</div>
		</article>
	</div>
</div>