@page "/EgitimKategorileri"

<div class="col-12">
    <CardComponent cardStyle="Style.primary">

        <CardHeader>
            <div class="float-left">
                <div class="col-md-12">
                    Eğitim Kategorileri                    
                </div>
            </div>
            <div style="margin-left:1100px" class="float-right">
                <AraButton btnStyle="Style.primary"></AraButton>
            </div>
        </CardHeader>
        <CardBody>
            <section class="section">
                <div style="margin:10px" class="row">
                    <a class="top-categories--category-card--3gl2q udlite-custom-focus-visible category-card--category-card--3x2z6" href="Egitimler">
                        <div class="category-card--img-wrapper--1cgGh">
                            <img alt="" width="300" height="300" src="https://s.udemycdn.com/home/top-categories/lohp-category-design-v2.jpg" srcset="https://s.udemycdn.com/home/top-categories/lohp-category-design-v2.jpg 1x, https://s.udemycdn.com/home/top-categories/lohp-category-design-2x-v2.jpg 2x">
                        </div>
                        <div class="category-card--category-card-title--3BuKm" data-purpose="category-card-title-link">
                            <span class="udlite-heading-md udlite-focus-visible-target">Elektrik ve Tasarım Kategorisi</span>
                        </div>
                    </a>
                    <a class="top-categories--category-card--3gl2q udlite-custom-focus-visible category-card--category-card--3x2z6" href="Egitimler">
                        <div class="category-card--img-wrapper--1cgGh">
                            <img alt="" width="300" height="300" src="https://s.udemycdn.com/home/top-categories/lohp-category-development-v2.jpg" srcset="https://s.udemycdn.com/home/top-categories/lohp-category-development-v2.jpg 1x, https://s.udemycdn.com/home/top-categories/lohp-category-development-2x-v2.jpg 2x">
                        </div>
                        <div class="category-card--category-card-title--3BuKm" data-purpose="category-card-title-link">
                            <span class="udlite-heading-md udlite-focus-visible-target">Yazılım Geliştirme</span>
                        </div>
                    </a>
                    <a class="top-categories--category-card--3gl2q udlite-custom-focus-visible category-card--category-card--3x2z6" href="Egitimler">
                        <div class="category-card--img-wrapper--1cgGh"><img alt="" width="300" height="300" src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing-v2.jpg" srcset="https://s.udemycdn.com/home/top-categories/lohp-category-marketing-v2.jpg 1x, https://s.udemycdn.com/home/top-categories/lohp-category-marketing-2x-v2.jpg 2x"></div>
                        <div class="category-card--category-card-title--3BuKm" data-purpose="category-card-title-link">
                            <span class="udlite-heading-md udlite-focus-visible-target">Kişisel Gelişim</span>
                        </div>
                    </a>
                    <a class="top-categories--category-card--3gl2q udlite-custom-focus-visible category-card--category-card--3x2z6" href="Egitimler">
                        <div class="category-card--img-wrapper--1cgGh"><img alt="" width="300" height="300" src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-v2.jpg" srcset="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-v2.jpg 1x, https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-2x-v2.jpg 2x"></div>
                        <div class="category-card--category-card-title--3BuKm" data-purpose="category-card-title-link">
                            <span class="udlite-heading-md udlite-focus-visible-target">Bilgi İşlem ve Uygulamaları</span>
                        </div>
                    </a>
                    <a class="top-categories--category-card--3gl2q udlite-custom-focus-visible category-card--category-card--3x2z6" href="Egitimler">
                        <div class="category-card--img-wrapper--1cgGh">
                            <img alt="" width="300" height="300" src="https://s.udemycdn.com/home/top-categories/lohp-category-personal-development-v2.jpg" srcset="https://s.udemycdn.com/home/top-categories/lohp-category-personal-development-v2.jpg 1x, https://s.udemycdn.com/home/top-categories/lohp-category-personal-development-2x-v2.jpg 2x">
                        </div><div class="category-card--category-card-title--3BuKm" data-purpose="category-card-title-link">
                            <span class="udlite-heading-md udlite-focus-visible-target">İş Yeri</span>
                        </div>
                    </a>
                    <a class="top-categories--category-card--3gl2q udlite-custom-focus-visible category-card--category-card--3x2z6" href="Egitimler">
                        <div class="category-card--img-wrapper--1cgGh"><img alt="" width="300" height="300" src="https://s.udemycdn.com/home/top-categories/lohp-category-business-v2.jpg" srcset="https://s.udemycdn.com/home/top-categories/lohp-category-business-v2.jpg 1x, https://s.udemycdn.com/home/top-categories/lohp-category-business-2x-v2.jpg 2x"></div>
                        <div class="category-card--category-card-title--3BuKm" data-purpose="category-card-title-link">
                            <span class="udlite-heading-md udlite-focus-visible-target">Şirket Politikaları ve Hukuk</span>
                        </div>
                    </a><a class="top-categories--category-card--3gl2q udlite-custom-focus-visible category-card--category-card--3x2z6" href="/courses/photography/">
                        <div class="category-card--img-wrapper--1cgGh">
                            <img alt="" width="300" height="300" src="https://s.udemycdn.com/home/top-categories/lohp-category-photography-v2.jpg" srcset="https://s.udemycdn.com/home/top-categories/lohp-category-photography-v2.jpg 1x, https://s.udemycdn.com/home/top-categories/lohp-category-photography-2x-v2.jpg 2x">
                        </div><div class="category-card--category-card-title--3BuKm" data-purpose="category-card-title-link">
                            <span class="udlite-heading-md udlite-focus-visible-target">Sistemsel Eğitimler</span>
                        </div>
                    </a>
                    <a class="top-categories--category-card--3gl2q udlite-custom-focus-visible category-card--category-card--3x2z6" href="Egitimler">
                        <div class="category-card--img-wrapper--1cgGh">
                            <img alt="" width="300" height="300" src="https://s.udemycdn.com/home/top-categories/lohp-category-music-v2.jpg" srcset="https://s.udemycdn.com/home/top-categories/lohp-category-music-v2.jpg 1x, https://s.udemycdn.com/home/top-categories/lohp-category-music-2x-v2.jpg 2x">
                        </div>
                        <div class="category-card--category-card-title--3BuKm" data-purpose="category-card-title-link">
                            <span class="udlite-heading-md udlite-focus-visible-target">Ik Eğitimleri</span>
                        </div>
                    </a>
                </div>
            </section>

        </CardBody>
    </CardComponent>

</div>


@code { }


<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>