@page "/"
@namespace VedasPortal.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
	<title>Vedaş Portal</title>
	<base href="~/" />
	<link rel="stylesheet" href="assets/css/app.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/components.css">
	<link rel="stylesheet" href="assets/css/custom.css">
	<link rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico' />
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="assets/bundles/fullcalendar/fullcalendar.min.css">
	<link rel="stylesheet" href="assets/bundles/datatables/datatables.min.css">
	<link rel="stylesheet" href="assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
	<link href="assets/bundles/lightgallery/dist/css/lightgallery.css" rel="stylesheet">

</head>
<body>
	<component type="typeof(App)" render-mode="ServerPrerendered" />

	@*	<div id="blazor-error-ui">
		<environment include="Staging,Production">
		An error has occurred. This application may no longer respond until reloaded.
		</environment>
		<environment include="Development">
		An unhandled exception has occurred. See browser dev tools for details.
		</environment>
		<a href="" class="reload">Reload</a>
		<a class="dismiss">X</a>
		</div>*@

	<script src="assets/js/app.min.js"></script>
	<script src="assets/bundles/apexcharts/apexcharts.min.js"></script>
	<script src="assets/js/page/index.js"></script>
	<script src="assets/js/scripts.js"></script>
	<script src="assets/js/custom.js"></script>


	<script src="assets/bundles/fullcalendar/fullcalendar.min.js"></script>
	<script src="assets/js/page/calendar.js"></script>
	<script src="assets/bundles/datatables/datatables.min.js"></script>
	<script src="assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
	<script src="assets/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
	<script src="assets/bundles/datatables/export-tables/buttons.flash.min.js"></script>
	<script src="assets/bundles/datatables/export-tables/jszip.min.js"></script>
	<script src="assets/bundles/datatables/export-tables/pdfmake.min.js"></script>
	<script src="assets/bundles/datatables/export-tables/vfs_fonts.js"></script>
	<script src="assets/bundles/datatables/export-tables/buttons.print.min.js"></script>
	<script src="assets/js/page/datatables.js"></script>
	<script src="assets/bundles/lightgallery/dist/js/lightgallery-all.js"></script>
	<script src="assets/js/page/light-gallery.js"></script>
</body>
</html>
