@page "/"
@namespace VedasPortal.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
	<title>Vedaş Portal</title>
	<base href="~/" />
	<!-- Index CSS -->
	<link rel="stylesheet" href="assets/css/app.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/components.css">
	<link rel="stylesheet" href="assets/css/custom.css">
	<link rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico' />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap">

	<!-- Bootstrap Social Media CSS -->
	<link rel="stylesheet" href="assets/bundles/bootstrap-social/bootstrap-social.css">

	<!-- JQuery Selectric CSS -->
	<link rel="stylesheet" href="assets/bundles/jquery-selectric/selectric.css">

	<!-- JsSlider CSS -->
	<link rel="stylesheet" href="assets/slider/css/jsslider.css">

	<!-- FullCalendar CSS -->
	<link rel="stylesheet" href="assets/bundles/fullcalendar/fullcalendar.min.css">

	<!-- Card Page CSS -->
	<link rel="stylesheet" href="assets/bundles/chocolat/dist/css/chocolat.css">

	<!-- ChartMorris Page CSS -->
	<link rel="stylesheet" href="assets/bundles/morris/morris.css">

	<!-- Checkbox Page CSS -->
	<link rel="stylesheet" href="assets/bundles/pretty-checkbox/pretty-checkbox.min.css">

	<!-- Weather Icon Page CSS -->
	<link rel="stylesheet" href="assets/bundles/weather-icon/css/weather-icons-wind.min.css">
	<link rel="stylesheet" href="assets/bundles/weather-icon/css/weather-icons.min.css">

	<!-- Create Post CSS -->
	<link rel="stylesheet" href="assets/bundles/summernote/summernote-bs4.css">
	<link rel="stylesheet" href="assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">

	<!-- DataTable CSS -->
	<link rel="stylesheet" href="assets/bundles/datatables/datatables.min.css">
	<link rel="stylesheet" href="assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="assets/bundles/datatables/Select-1.2.4/css/select.bootstrap4.min.css">

	<!-- FormAdvanced CSS -->
	<link rel="stylesheet" href="assets/bundles/bootstrap-daterangepicker/daterangepicker.css">
	<link rel="stylesheet" href="assets/bundles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
	<link rel="stylesheet" href="assets/bundles/select2/dist/css/select2.min.css">
	<link rel="stylesheet" href="assets/bundles/bootstrap-timepicker/css/bootstrap-timepicker.min.css">

	<link rel="stylesheet" href="assets/bundles/ionicons/css/ionicons.min.css">

	<!-- Light Galery CSS -->
	<link rel="stylesheet" href="assets/bundles/lightgallery/dist/css/lightgallery.css">

	<!-- Owl-Carousel Galery CSS -->
	<link rel="stylesheet" href="assets/bundles/owlcarousel2/dist/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/bundles/owlcarousel2/dist/assets/owl.theme.default.min.css">

	<link rel="stylesheet" href="assets/bundles/izitoast/css/iziToast.min.css">
	<link rel="stylesheet" href="assets/bundles/prism/prism.css">
	<link rel="stylesheet" href="assets/bundles/dropzonejs/dropzone.css">
	<link rel="stylesheet" href="assets/bundles/codemirror/lib/codemirror.css">
	<link rel="stylesheet" href="assets/bundles/codemirror/theme/duotone-dark.css">
	<link rel="stylesheet" href="assets/bundles/izitoast/css/iziToast.min.css">
	<link rel="stylesheet" href="assets/bundles/jqvmap/dist/jqvmap.min.css">
	<link rel="stylesheet" href="assets/bundles/flag-icon-css/css/flag-icon.min.css">

</head>
<body>
	<component type="typeof(App)" render-mode="ServerPrerendered" />

	@*	<div id="blazor-error-ui">
		<environment include="Staging,Production">
		An error has occurred. This application may no longer respond until reloaded.
		</environment>
		<environment include="Development">
		An unhandled exception has occurred. See browser dev tools for details.
		</environment>
		<a href="" class="reload">Reload</a>
		<a class="dismiss">X</a>
		</div>*@

	<!-- Index JS Scripts -->
	<script src="assets/js/app.min.js"></script>
	<script src="assets/bundles/apexcharts/apexcharts.min.js"></script>
	<script src="assets/js/page/index.js"></script>
	<script src="assets/js/scripts.js"></script>
	<script src="assets/js/custom.js"></script>

	<!-- Advanced Table JS File -->
	<script src="assets/bundles/jquery-ui/jquery-ui.min.js"></script>
	<script src="assets/js/page/advance-table.js"></script>

	<!-- GoogleTagManager JS File -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>

	<!-- Page Register JS File -->
	<script src="assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js"></script>
	<script src="assets/bundles/jquery-selectric/jquery.selectric.min.js"></script>
	<script src="assets/js/page/auth-register.js"></script>

	<!-- Page FullCalendar JS File -->
	<script src="assets/bundles/fullcalendar/fullcalendar.min.js"></script>
	<script src="assets/js/page/calendar.js"></script>

	<!-- Page Card JS File -->
	<script src="assets/bundles/chocolat/dist/js/jquery.chocolat.min.js"></script>
	<script src="assets/bundles/jquery-ui/jquery-ui.min.js"></script>

	<!-- Page Char-Amcart JS File -->
	<script src="assets/bundles/amcharts4/core.js"></script>
	<script src="assets/bundles/amcharts4/charts.js"></script>
	<script src="assets/bundles/amcharts4/animated.js"></script>
	<script src="assets/bundles/amcharts4/worldLow.js"></script>
	<script src="assets/bundles/amcharts4/maps.js"></script>
	<script src="assets/js/page/chart-amchart.js"></script>

	<!-- Page ApexChart JS File -->
	<script src="assets/bundles/apexcharts/apexcharts.min.js"></script>
	<script src="assets/js/page/chart-apexcharts.js"></script>

	<!-- Page ChartChart JS File -->
	<script src="assets/bundles/chartjs/chart.min.js"></script>
	<script src="assets/js/page/chart-chartjs.js"></script>

	<!-- Page ChartECart Js File -->
	<script src="assets/bundles/echart/echarts.js"></script>
	<script src="assets/js/page/chart-echarts.js"></script>

	<!-- Page ChartMorris Js File -->
	<script src="assets/bundles/morris/morris.min.js"></script>
	<script src="assets/bundles/morris/raphael-min.js"></script>
	<script src="assets/js/page/chart-morris.js"></script>

	<!-- Page SparkLine Js File -->
	<script src="assets/bundles/jquery.sparkline.min.js"></script>
	<script src="assets/js/page/sparkline.js"></script>

	<!-- Page Chat JS File -->
	<script src="assets/js/page/chat.js"></script>

	<!-- Page Contact and Map JS File -->
	<script src="http://maps.google.com/maps/api/js?key=AIzaSyB55Np3_WsZwUQ9NS7DP-HnneleZLYZDNw&amp;sensor=true"></script>
	<script src="assets/bundles/gmaps.js"></script>
	<script src="assets/js/page/contact.js"></script>
	<script src="assets/js/page/gmaps-advanced-route.js"></script>
	<script src="assets/js/page/gmaps-draggable-marker.js"></script>
	<script src="assets/js/page/gmaps-geocoding.js"></script>
	<script src="assets/js/page/gmaps-geolocation.js"></script>
	<script src="assets/js/page/gmaps-multiple-marker.js"></script>
	<script src="assets/js/page/gmaps-route.js"></script>
	<script src="assets/js/page/gmaps-simple.js"></script>

	<!--Create Post JS Libraies -->
	<script src="assets/bundles/jquery-selectric/jquery.selectric.min.js"></script>
	<script src="assets/bundles/upload-preview/assets/js/jquery.uploadPreview.min.js"></script>
	<script src="assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
	<script src="assets/js/page/create-post.js"></script>

	<!-- DataTable JS Libraies -->
	<script src="assets/bundles/datatables/datatables.min.js"></script>
	<script src="assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
	<script src="assets/bundles/jquery-ui/jquery-ui.min.js"></script>
	<script src="assets/js/page/datatables.js"></script>

	<!-- Export DataTable JS Libraies -->
	<script src="assets/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>
	<script src="assets/bundles/datatables/export-tables/buttons.flash.min.js"></script>
	<script src="assets/bundles/datatables/export-tables/jszip.min.js"></script>
	<script src="assets/bundles/datatables/export-tables/pdfmake.min.js"></script>
	<script src="assets/bundles/datatables/export-tables/vfs_fonts.js"></script>
	<script src="assets/bundles/datatables/export-tables/buttons.print.min.js"></script>
	<script src="assets/bundles/datatables/export-tables/dataTables.buttons.min.js"></script>

	<!--EditTable JS Libraies -->
	<script src="assets/bundles/editable-table/mindmup-editabletable.js"></script>
	<script src="assets/js/page/editable-table.js"></script>

	<!--FormWizard JS Libraies -->
	<script src="assets/bundles/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="assets/bundles/jquery-steps/jquery.steps.min.js"></script>
	<script src="assets/js/page/form-wizard.js"></script>

	<!-- Form Advanced JS Libraies -->
	<script src="assets/bundles/cleave-js/dist/cleave.min.js"></script>
	<script src="assets/bundles/cleave-js/dist/addons/cleave-phone.us.js"></script>
	<script src="assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js"></script>
	<script src="assets/bundles/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="assets/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
	<script src="assets/bundles/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
	<script src="assets/bundles/select2/dist/js/select2.full.min.js"></script>
	<script src="assets/js/page/forms-advanced-forms.js"></script>

	<!-- Gallery1 JS Libraies -->
	<script src="assets/js/page/gallery1.js"></script>

	<!-- Page IonIcon JS File -->
	<script src="assets/js/page/ion-icons.js"></script>

	<!--Upload JS Libraies -->
	<script src="assets/bundles/dropzonejs/min/dropzone.min.js"></script>
	<script src="assets/js/page/multiple-upload.js"></script>

	<!-- JS Libraies -->
	<script src="assets/bundles/owlcarousel2/dist/owl.carousel.min.js"></script>
	<script src="assets/js/page/owl-carousel.js"></script>

	<script src="assets/js/page/posts.js"></script>
	<script src="assets/bundles/chartjs/chart.min.js"></script>
	<script src="assets/js/page/widget-data.js"></script>
	<script src="assets/js/page/portfolio.js"></script>


	<!--JsSor Slider editor -->
	<script src="assets/slider/js/jssor.slider-28.1.0.min.js"></script>
	<script src="assets/slider/js/slider.conf.js"></script>

	<!--summernote editor -->
	<script src="assets/bundles/summernote/summernote-bs4.js"></script>
	<script src="assets/bundles/codemirror/lib/codemirror.js"></script>
	<script src="assets/bundles/codemirror/mode/javascript/javascript.js"></script>


	<!-- CkEditor Js -->
	<script src="assets/js/page/ckeditor.js"></script>
	<script src="assets/bundles/ckeditor/ckeditor.js"></script>

	<!--Gallery Js -->
	<script src="assets/bundles/lightgallery/dist/js/lightgallery-all.js"></script>
	<script src="assets/js/page/light-gallery.js"></script>

	<!--Blazor Server Js -->
	<script src="_framework/blazor.server.js"></script>

	<!--Prism JS Libraies -->
	<script src="assets/bundles/prism/prism.js"></script>

	<!--Sweetalert ve Toast JS Libraies -->
	<script src="assets/bundles/sweetalert/sweetalert.min.js"></script>
	<script src="assets/js/page/sweetalert.js"></script>
	<script src="assets/bundles/izitoast/js/iziToast.min.js"></script>
	<script src="assets/js/page/toastr.js"></script>

</body>
</html>
