@page "/"
@namespace VedasPortal.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <title>Vedaş Portal</title>
    <base href="~/" />
    <!-- Index CSS -->
    <link rel="stylesheet" href="assets/css/app.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="assets/css/components.css" type="text/css">
    <link rel="stylesheet" href="assets/css/custom.css" type="text/css">
    <link rel='shortcut icon' type='image/x-icon' href='~/images/logo.png' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <!-- Bootstrap Social Media CSS -->
    <link rel="stylesheet" href="assets/bundles/bootstrap-social/bootstrap-social.css" type="text/css">
    <link href="css/app.css" rel="stylesheet" />


    
    <!-- JQuery Selectric CSS -->
    <link rel="stylesheet" href="assets/bundles/jquery-selectric/selectric.css" type="text/css">
    <!-- Card Page CSS -->
    <link rel="stylesheet" href="assets/bundles/chocolat/dist/css/chocolat.css" type="text/css">

    <!-- Checkbox Page CSS -->
    <link rel="stylesheet" href="assets/bundles/pretty-checkbox/pretty-checkbox.min.css" type="text/css">

    <!-- Weather Icon Page CSS -->
    <link rel="stylesheet" href="assets/bundles/weather-icon/css/weather-icons-wind.min.css" type="text/css">
    <link rel="stylesheet" href="assets/bundles/weather-icon/css/weather-icons.min.css" type="text/css">

    <!-- Create Post CSS -->
    <link rel="stylesheet" href="assets/bundles/summernote/summernote-bs4.css" type="text/css">
    <link rel="stylesheet" href="assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" type="text/css">

    <!-- DataTable CSS -->
    <link rel="stylesheet" href="assets/bundles/datatables/datatables.min.css" type="text/css">
    <link rel="stylesheet" href="assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css" type="text/css">
    <link rel="stylesheet" href="assets/bundles/datatables/Select-1.2.4/css/select.bootstrap4.min.css" type="text/css">

    <!-- FormAdvanced CSS -->
    <link rel="stylesheet" href="assets/bundles/bootstrap-daterangepicker/daterangepicker.css" type="text/css">
    <link rel="stylesheet" href="assets/bundles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" type="text/css">
    <link rel="stylesheet" href="assets/bundles/select2/dist/css/select2.min.css" type="text/css">
    <link rel="stylesheet" href="assets/bundles/bootstrap-timepicker/css/bootstrap-timepicker.min.css" type="text/css">

    <link rel="stylesheet" href="assets/bundles/ionicons/css/ionicons.min.css" type="text/css">

    <!-- Light Galery CSS -->
    <link rel="stylesheet" href="assets/bundles/lightgallery/dist/css/lightgallery.css" type="text/css">

    <!-- Owl-Carousel Galery CSS -->
    <link rel="stylesheet" href="assets/bundles/owlcarousel2/dist/assets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="assets/bundles/owlcarousel2/dist/assets/owl.theme.default.min.css" type="text/css">

    <link rel="stylesheet" href="assets/bundles/izitoast/css/iziToast.min.css" type="text/css">
    <link rel="stylesheet" href="assets/bundles/prism/prism.css" type="text/css">
    <link rel="stylesheet" href="assets/bundles/dropzonejs/dropzone.css" type="text/css">
    <link rel="stylesheet" href="assets/bundles/codemirror/lib/codemirror.css" type="text/css">
    <link rel="stylesheet" href="assets/bundles/codemirror/theme/duotone-dark.css" type="text/css">
    <link rel="stylesheet" href="assets/bundles/jqvmap/dist/jqvmap.min.css" type="text/css">
    <link rel="stylesheet" href="assets/bundles/flag-icon-css/css/flag-icon.min.css" type="text/css">



</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Bir hata oluştu. Bu uygulama yeniden yüklenene kadar yanıt vermeyebilir.
        </environment>
        <environment include="Development">
            Çözülemeyen bir istisna oldu. Ayrıntılar için tarayıcı geliştirme araçlarına bakın.
        </environment>
        <a href="" class="reload">Sayfayı Yeniden Yükle</a>
        <a class="dismiss">X</a>
    </div>



    <!-- Index JS Scripts -->
    <script src="assets/js/app.min.js" charset="windows-1254" type="text/javascript"></script>

    <script src="assets/js/page/index.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/js/scripts.js" charset="windows-1254" type="text/javascript"></script>

    <!-- Advanced Table JS File -->
    <script src="assets/js/page/advance-table.js" charset="windows-1254" type="text/javascript"></script>

    <script src="assets/js/ckeditor.js"></script>
    <script src="assets/js/CKEditorInterop.js"></script>

    <script src="assets/js/CustomScripts.js" charset="windows-1254" type="text/javascript"></script>

    <script src="_content/Blazored.Modal/blazored.modal.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/js/customjs.js" charset="windows-1254" type="text/javascript"></script>

    <!-- Page Register JS File -->
    <script src="assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/bundles/jquery-selectric/jquery.selectric.min.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/js/page/auth-register.js" charset="windows-1254" type="text/javascript"></script>


    <script src="assets/js/page/calendar.js" charset="windows-1254" type="text/javascript"></script>

    <!-- Page Card JS File -->
    <script src="assets/bundles/chocolat/dist/js/jquery.chocolat.min.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/bundles/jquery-ui/jquery-ui.min.js" charset="windows-1254" type="text/javascript"></script>

    <!-- Page SparkLine Js File -->
    <script src="assets/bundles/jquery.sparkline.min.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/js/page/sparkline.js" charset="windows-1254" type="text/javascript"></script>

    <!--Create Post JS Libraies -->
    <script src="assets/bundles/upload-preview/assets/js/jquery.uploadPreview.min.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/js/page/create-post.js" charset="windows-1254" type="text/javascript"></script>

    <!-- DataTable JS Libraies -->
    <script src="assets/bundles/datatables/datatables.min.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/js/page/datatables.js" charset="windows-1254" type="text/javascript"></script>



    <!--FormWizard JS Libraies -->
    <script src="assets/bundles/jquery-validation/dist/jquery.validate.min.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/bundles/jquery-steps/jquery.steps.min.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/js/page/form-wizard.js" charset="windows-1254" type="text/javascript"></script>


    <!-- Gallery1 JS Libraies -->
    <script src="assets/js/page/gallery1.js" charset="windows-1254" type="text/javascript"></script>

    <!-- Page IonIcon JS File -->
    <script src="assets/js/page/ion-icons.js" charset="windows-1254" type="text/javascript"></script>

    <!--Upload JS Libraies -->
    <script src="assets/bundles/dropzonejs/min/dropzone.min.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/js/page/multiple-upload.js" charset="windows-1254" type="text/javascript"></script>

    <!-- JS Libraies -->
    <script src="assets/bundles/owlcarousel2/dist/owl.carousel.min.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/js/page/owl-carousel.js" charset="windows-1254" type="text/javascript"></script>

    <script src="assets/js/page/posts.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/js/page/widget-data.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/js/page/portfolio.js" charset="windows-1254" type="text/javascript"></script>

    <script src="assets/bundles/codemirror/lib/codemirror.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/bundles/codemirror/mode/javascript/javascript.js" charset="windows-1254" type="text/javascript"></script>

    <!--Gallery Js -->
    <script src="assets/bundles/lightgallery/dist/js/lightgallery-all.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/js/page/light-gallery.js" charset="windows-1254" type="text/javascript"></script>

    <!--Blazor Server Js -->
    <script src="_framework/blazor.server.js" charset="windows-1254" type="text/javascript"></script>

    <!--Prism JS Libraies -->
    <script src="assets/bundles/prism/prism.js" charset="windows-1254" type="text/javascript"></script>

    <!--Sweetalert ve Toast JS Libraies -->
    <script src="assets/bundles/sweetalert/sweetalert.min.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/js/page/sweetalert.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/bundles/izitoast/js/iziToast.min.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/js/page/toastr.js" charset="windows-1254" type="text/javascript"></script>

    <!-- Page Form Wizar JS File -->
    <script src="assets/bundles/jquery-validation/dist/jquery.validate.min.js" charset="windows-1254" type="text/javascript"></script>
    <script src="assets/js/page/form-wizard.js" charset="windows-1254" type="text/javascript"></script>

    <script src="_content/Chronos.Blazor.Cropper/CropHelper.js" charset="windows-1254" type="text/javascript"></script>
</body>
</html>
