@page
@model VedasPortal.Pages.ErrorModel

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Hata</title>
	<link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
	<link href="~/css/app.css" rel="stylesheet" />
</head>

<body>
	<div class="main">
		<div class="content px-4">
			<h1 class="text-danger">Hata.</h1>
			<h2 class="text-danger">Istek esnasında bir hata meydana geldi.</h2>

			@if (Model.ShowRequestId)
			{
				<p>
					<strong>Istek ID:</strong> <code>@Model.RequestId</code>
				</p>
			}

			<h3>Geliştirici Modu</h3>
			<p>
				<strong>Geliştirme</strong> ortamına geçiş, oluşan hatayla ilgili ayrıntılı bilgileri görüntüler..
			</p>
			<p>
				<strong>Geliştirme ortamı, dağıtılan uygulamalar için etkinleştirilmemelidir.</strong>
				İstisnalardan son kullanıcılara kadar hassas bilgilerin görüntülenmesine neden olabilir.
				Yerel hata ayıklama için, <strong>ASPNETCORE_ENVIRONMENT</strong> ortam değişkenini
				<strong>Geliştirme</strong> olarak ayarlayarak ve uygulamayı yeniden başlatarak
				<strong>Geliştirme</strong> ortamını etkinleştirin.
			</p>
		</div>
	</div>
</body>

</html>
