@page "/ToplantiOdalari"


<h1>Toplanti Odalari</h1>

<div class="row">
    <div class="input-group col-md-4 offset-md-4">
        <input type="text" class="form-control" placeholder="Oda adi ile arama yapin..." 
               @bind:event="oninput"  />
        <div class="input-group-append">
            <button class="btn btn-info" >
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>
<br />

<div class="row">
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="card">
			<div class="card-statistic-4">
				<div class="align-items-center justify-content-between">
					<div class="row ">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
							<div class="card-content">
								<h5 class="font-15">Toplanti Odasi adi</h5>
								<h2 class="mb-3 font-18">Kapasitesi(Kisi)</h2>
								<h6 class="text-danger">Oda Durumu</h6>
								<a class="btn btn-primary ">Rezerve Et</a>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
							<div class="banner-img">
								<img src="assets/img/banner/3.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="card">
			<div class="card-statistic-4">
				<div class="align-items-center justify-content-between">
					<div class="row ">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
							<div class="card-content">
								<h5 class="font-15">Toplanti Odasi adi</h5>
								<h2 class="mb-3 font-18">Kapasitesi(Kisi)</h2>
								<h6 class="text-danger">Oda Durumu</h6>
								<a class="btn btn-primary ">Rezerve Et</a>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
							<div class="banner-img">
								<img src="assets/img/banner/3.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="card">
			<div class="card-statistic-4">
				<div class="align-items-center justify-content-between">
					<div class="row ">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
							<div class="card-content">
								<h5 class="font-15">Toplanti Odasi adi</h5>
								<h2 class="mb-3 font-18">Kapasitesi(Kisi)</h2>
								<h6 class="text-danger">Oda Durumu</h6>
								<a class="btn btn-primary ">Rezerve Et</a>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
							<div class="banner-img">
								<img src="assets/img/banner/3.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="card">
			<div class="card-statistic-4">
				<div class="align-items-center justify-content-between">
					<div class="row ">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
							<div class="card-content">
								<h5 class="font-15">Toplanti Odasi adi</h5>
								<h2 class="mb-3 font-18">Kapasitesi(Kisi)</h2>
								<h6 class="text-danger">Oda Durumu</h6>
								<a class="btn btn-primary ">Rezerve Et</a>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
							<div class="banner-img">
								<img src="assets/img/banner/3.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="card">
			<div class="card-statistic-4">
				<div class="align-items-center justify-content-between">
					<div class="row ">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
							<div class="card-content">
								<h5 class="font-15">Toplanti Odasi adi</h5>
								<h2 class="mb-3 font-18">Kapasitesi(Kisi)</h2>
								<h6 class="text-danger">Oda Durumu</h6>
								<a class="btn btn-primary ">Rezerve Et</a>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
							<div class="banner-img">
								<img src="assets/img/banner/3.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="card">
			<div class="card-statistic-4">
				<div class="align-items-center justify-content-between">
					<div class="row ">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
							<div class="card-content">
								<h5 class="font-15">Toplanti Odasi adi</h5>
								<h2 class="mb-3 font-18">Kapasitesi(Kisi)</h2>
								<h6 class="text-danger">Oda Durumu</h6>
								<a class="btn btn-primary ">Rezerve Et</a>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
							<div class="banner-img">
								<img src="assets/img/banner/3.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="card">
			<div class="card-statistic-4">
				<div class="align-items-center justify-content-between">
					<div class="row ">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
							<div class="card-content">
								<h5 class="font-15">Toplanti Odasi adi</h5>
								<h2 class="mb-3 font-18">Kapasitesi(Kisi)</h2>
								<h6 class="text-danger">Oda Durumu</h6>
								<a class="btn btn-primary ">Rezerve Et</a>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
							<div class="banner-img">
								<img src="assets/img/banner/3.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<div class="card">
			<div class="card-statistic-4">
				<div class="align-items-center justify-content-between">
					<div class="row ">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
							<div class="card-content">
								<h5 class="font-15">Toplanti Odasi adi</h5>
								<h2 class="mb-3 font-18">Kapasitesi(Kisi)</h2>
								<h6 class="text-danger">Oda Durumu</h6>
								<a class="btn btn-primary ">Rezerve Et</a>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
							<div class="banner-img">
								<img src="assets/img/banner/3.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

