@page "/egitim/ekle"
@page "/egitim/duzenle/"

<div class="col-12 col-md-12 col-lg-12">
    <CardComponent cardStyle="Style.primary">
        <CardHeader>
            Eğitim Ekle/Düzenle
        </CardHeader>
        <CardBody>
            <div class="form-group">
                <label class="control-label col-md-12">Resim/Video</label>
                <MultipleUpload></MultipleUpload>
            </div>
            <div class="form-group">
                <label class="control-label col-md-12">Eğitim Adı</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label class="control-label col-md-12">Eğitim Hakkında Detaylı Bilgi</label>
                <Summernote></Summernote>
            </div>

            <div class="form-group">
                <label class="control-label col-md-12">Eğitim İçin Gereksinimler</label>
                <Summernote></Summernote>
            </div>

            <div class="form-group">
                <label class="control-label col-md-12">Eğitmen Adı</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Eğitimi Görecek Birimler</label>
                <select class="form-control">
                    <option>Tüm Birimler</option>
                    <option>İnsan Kaynakları</option>
                    <option>Bilgi İşlem</option>
                    <option>Hukuk</option>
                </select>
            </div>

            <div class="form-group">
                <label>Eğitimi Ekleyen Birim</label>
                <select class="form-control">
                    <option>Scada</option>
                    <option>İnsan Kaynakları</option>
                    <option>Bilgi İşlem</option>
                    <option>Hukuk</option>
                </select>
            </div>

            <div class="card-footer text-right">
                <SaveButton></SaveButton>
                <CancelButton></CancelButton>
            </div>
        </CardBody>

    </CardComponent>
</div>
<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>