@page "/katilimci/ekle"
@page "/katilimci/duzenle"


<div style="align-content:center" class="col-12 col-md-12 col-lg-12">
    <CardComponent cardStyle="Style.primary">
        <CardHeader>
            Katılımcı Ekle/Düzenle
        </CardHeader>
        <CardBody>
            <div class="form-group col-md-4">
                <label>Resim Yükle</label>
                <MultipleUpload></MultipleUpload>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-12">Katılımcı Unvan Bilgisi</label>
                <div class="col-md-4">
                    <text class="form-control" i" />
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-12">Katılımcı Adı ve Soyadı</label>
                <div class="col-md-4">
                    <text class="form-control" />
                </div>
            </div>
            <div class="card-footer text-right">
                <SaveButton></SaveButton>
                <CancelButton></CancelButton>
            </div>
        </CardBody>
    </CardComponent>
</div>

<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>