@page "/katilimci/ekle"
@page "/katilimci/duzenle"

<h4 style="margin:10px">Etkinlik Ekle Duzenle</h4>
<hr />

<section style="margin-left:5px" class="container">


	<div class="form-group row">
		<label class="control-label col-md-12">Katılımcı Unvan Bilgisi</label>
		<div class="col-md-4">
			<text class="form-control" i" />
		</div>
	</div>

	<div class="form-group row">
		<label class="control-label col-md-12">Katılımcı Adı ve Soyadı</label>
		<div class="col-md-4">
			<text class="form-control" />
		</div>
	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-primary">Kaydet</button>
		<button class="btn btn-light">Vazgeç</button>
	</div>

</section>