
<CardComponent cardStyle="Style.dark">
    <CardHeader>
        Toplam Anket Sayısı
    </CardHeader>
    <CardBody>
        @if (AnketlerSayisi == null)
        {
<p>Yükleniyor...</p> }
                else
                {
<p class="display-4 w-100">@AnketlerSayisi</p>}


    </CardBody>
    <CardFotter>
        <p></p>
    </CardFotter>
</CardComponent>


