
<CardComponent cardStyle="Style.warning">
    <CardHeader>
        Öne Çıkan Anket
    </CardHeader>
    <CardBody>
        @if (!isReady)
        {
<p>Yükleniyor...</p> }
else if (Survey != null)
{
<h5 class="card-title">@Survey.Adi</h5> {
<table class="table-borderless">
    <tbody>

        @foreach (var option in Survey.AnketSecenekleri)
        {
<AnketSecenekItem Item="@option" TotalSurveyVotes="@Survey.ToplamKatilim" />}

    </tbody>
</table> }
<div class="mt-3">
    <button href="#" class="btn btn-outline-dark" @onclick="()=> TakeSurvey(Survey.AnketId)">Ankete Katıl</button>
</div> }
else
{
<p class="text-center text-danger">Şu anda mevcut anket yok</p>}
    </CardBody>
    <CardFotter>
        @if (Survey != null)
        {
<p>@(Survey == null ? "" : Survey.OlusturulmaTarihi.ToShortDateString()) tarihinde oluşturuldu.</p> }
else
{
<p></p>}

    </CardFotter>
</CardComponent>



