<div class="alert alert-primary alert-dismissible show fade">
	<div class="alert-body">
		<button style="margin-right:-15px; margin-top:-15px" class="close text-danger" data-dismiss="alert">
			<span>&times;</span>
		</button>
		This is a primary alert.
	</div>
</div>

<div class="alert alert-secondary alert-dismissible show fade">
	<div class="alert-body">
		<button class="close" data-dismiss="alert">
			<span>&times;</span>
		</button>
		This is a secondary alert.
	</div>
</div>
<div class="alert alert-success alert-dismissible show fade">
	<div class="alert-body">
		<button class="close" data-dismiss="alert">
			<span>&times;</span>
		</button>
		This is a success alert.
	</div>
</div>
<div class="alert alert-danger alert-dismissible show fade">
	<div class="alert-body">
		<button class="close" data-dismiss="alert">
			<span>&times;</span>
		</button>
		This is a danger alert.
	</div>
</div>
<div class="alert alert-warning alert-dismissible show fade">
	<div class="alert-body">
		<button class="close" data-dismiss="alert">
			<span>&times;</span>
		</button>
		This is a warning alert.
	</div>
</div>
<div class="alert alert-info alert-dismissible show fade">
	<div class="alert-body">
		<button class="close" data-dismiss="alert">
			<span>&times;</span>
		</button>
		This is a info alert.
	</div>
</div>
<div class="alert alert-light alert-dismissible show fade">
	<div class="alert-body">
		<button class="close" data-dismiss="alert">
			<span>&times;</span>
		</button>
		This is a light alert.
	</div>
</div>
<div class="alert alert-dark alert-dismissible show fade">
	<div class="alert-body">
		<button class="close" data-dismiss="alert">
			<span>&times;</span>
		</button>
		This is a dark alert.
	</div>
</div>