@page "/Videolar"
@inject VedasPortal.Services.VideoService.IVideoService videoServisi 

<div class="row">
    <div class="col-7">
        <VideoBoxComponent SecilenVideo="secilenVideo"/>
    </div>
    <div class="col-5">
        <VideoKoleksiyonu Videolar="videolar" VideoSec="SecilenVideo"/> 
    </div>
</div>

@code {

    List<VideoDetay> videolar = new List<VideoDetay>();
    VideoDetay secilenVideo = new VideoDetay();

    protected override void OnInitialized()
    {
        videolar = videoServisi.VideoGetir();
        secilenVideo = videolar.FirstOrDefault();
    }

    void SecilenVideo(VideoDetay videoDetay)
    {
        secilenVideo = videoDetay;
    }
}
