@using VedasPortal.Repository.Interface
@using VedasPortal.Entities.Models.Video;
<div class="col-12">
    <CardComponent cardStyle="Style.info">
        <CardBody>
            <div class="row">
                <div class="col-lg-8 col-sm-12 col-md-6 col-xs-12">
                    <VideoBoxComponent Heigth="@Heigth"
                                       Width="@Width"
                                       SecilenVideo="secilenVideo" />
                </div>
                <div class="col-lg-4 col-sm-12 col-md-6 col-xs-12">
                    <VideoKoleksiyonu Videolar="VideoList.ToList()"
                                      VideoSec="SecilenVideo" />
                </div>
            </div>
        </CardBody>
    </CardComponent>
</div>

@code {

    [Inject]
    protected IBaseRepository<Video> videoServisi { get; set; }

    protected IEnumerable<Video> VideoList;
    Video secilenVideo = new Video();

    [Parameter]
    public int Width { get; set; } = 650;

    [Parameter]
    public int Heigth { get; set; } = 800;

    protected override void OnInitialized()
    {
        VideoList = videoServisi.GetAll();
        secilenVideo = VideoList.FirstOrDefault();
    }

    void SecilenVideo(Video videoDetay)
    {
        secilenVideo = videoDetay;
    }
}

<style>
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: -15px;
        margin-right: -15px;
        margin-left: -15px;
    }
</style>