@using VedasPortal.Entities.Models.Dosya

<div class="component-box">
    <VideoPlayerComponent Width="@Width.ToString()"
                          Heigth="@Heigth.ToString()"
                          
                          />
    <h3>@SecilenVideo.Adi</h3>
    <p>@SecilenVideo.KayitTarihi.ToString("D")</p>
    <hr />
    <br />
    <VideoYorumComponent Yorumlar="SecilenVideo.Yorum" />
</div>
@code {

    [Parameter]
    public Dosya SecilenVideo { get; set; } = new();

    [Parameter]
    public int Width { get; set; } = 1150;

    [Parameter]
    public int Heigth { get; set; } = 900;
}
