@using VedasPortal.Entities.Models.Dosya

<div class="component-box" style="margin-top: 20px;">
    @foreach (var item in Videolar.Where(x=>x.AktifPasif==true))
    {
        <div class="box-card" @onclick="() => VideoSec.InvokeAsync(item)" >
            <div class="row" >
                <div class="col-12">
                    <iframe style="width:100%"
                            height="150"
                            src="files/@string.Concat(item.Adi,".",
                                                                   item.Uzanti)"
                            frameborder="0" 
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen 
                            controls="controls">
                    </iframe>
                    <h4>@item.Adi</h4>
                </div>

            </div>
            <br />
        </div>
    }

</div>

@code {

    [Parameter]
    public IEnumerable<Vidyo> Videolar { get; set; }

    [Parameter]
    public Vidyo Video { get; set; }

    [Parameter]
    public string Src { get; set; }

    [Parameter]
    public EventCallback<Vidyo> VideoSec { get; set; }

    Vidyo videoKaynak = new Vidyo();
}