@page "/GuncelMevzuatTakibi"
<h3>Güncel Mevzuat Takibi ve Regülasyonlar</h3>






<div class="row clearfix">
	<div class="col-lg-6 col-md-12">
		<div class="card single_post">
			<div class="header">
				<h2 style="margin:10px"><strong>Son</strong> Gönderiler</h2>
				
			</div>
			
			<div class="body">
				<ul class="meta">
					<li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Ekleyen Personel</a></li>
					<li><a href="#"><i class="zmdi zmdi-label col-amber"></i>Kategorisi</a></li>
				</ul>
				<h3 style="margin:10px" class="m-t-0"><a href="blog-details.html">Mevzuat Adı</a></h3>
				<p style="margin:10px">Mevzuat içerik bilgisi</p>
				<a style="margin:10px" href="blog-details.html" title="read more" class="btn btn-round btn-primary">Tümnü Görüntüle</a>
			</div>
		</div>
	</div>
	<div class="col-lg-6 col-md-12">
		<div class="card single_post">
			<div class="header">
				<h2 style="margin:10px"><strong>Popüler</strong> Gönderiler</h2>
				
			</div>
			<div class="body m-b-10">
				<ul class="meta">
					<li><a href="#"><i class="zmdi zmdi-account col-blue"></i>Ekleyen Personel</a></li>
					<li><a href="#"><i class="zmdi zmdi-label col-amber"></i>Kategorisi</a></li>
				</ul>
				<h3 style="margin:10px" class="m-t-0"><a href="blog-details.html">Mevzuat Adı</a></h3>
				<p style="margin:10px">Mevzuat içerik bilgisi</p>
				<a style="margin:10px" href="blog-details.html" title="read more" class="btn btn-round btn-primary">Tümünü Görüntüle</a>
			</div>
			
		</div>
	</div>
</div>








@code {

}
