@page "/DuzelticiFaaliyetOlusturma"

<CardComponent cardStyle="Style.primary">
    <CardHeader>
        <div class="row">
            <div class="col-md-8">
                Düzeltici ve Düzenleyici Faaliyetler |
                <a href='/duzelticifaaliyet/ekle' class="btn btn-primary" role="button"><i class="fa fa-user-plus"></i> Duzeltici Faaliyet Ekle</a>
            </div>

            <div class="input-group col-md-4">
                <input type="text" class="form-control" placeholder="Duzletici faaliyet adı ile arama yapın..."
                       @bind:event="oninput" />
                <div class="input-group-append">
                    <button class="btn btn-info">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </CardHeader>
    <CardBody>
        <div class="row">

            <div class="col-md-6 col-lg-6 col-xl-6">
                <!-- Support tickets -->
                <div class="card">

                    <div class="card-body">
                        <div class="support-ticket media pb-1 mb-3">
                            <img src="assets/img/users/user-1.png" class="user-img mr-2" alt="">
                            <div class="media-body ml-3">
                                <div class="badge badge-pill badge-success mb-1 float-right">
                                    <a class="text-white" href="FaaliyetKategoriBilgisi">Kategori Bilgisi</a>
                                </div>
                                <span class="font-weight-bold">KonuEtiketi</span>
                                <a href="javascript:void(0)">IstekFaaliyetKonusu</a>
                                <p class="my-1">Aciklama</p>
                                <p class="my-1">LokasyonBilgisi</p>
                                <small class="text-muted">
                                    Ekleyen <span class="font-weight-bold font-13">
                                        Personel
                                    </span>
                                    &nbsp;&nbsp; - BildirimTarihi
                                </small>
                            </div>
                        </div>

                    </div>
                    <a href="javascript:void(0)" class="card-footer card-link text-center small ">
                        Tümünü Görüntüle
                    </a>
                    <a href='duzelticifaaliyet/duzenle' class="btn btn-sm btn-info btn-outline-dark " role="button">Faaliyeti Düzenle</a>

                </div>
                <!-- Support tickets -->
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6">
                <!-- Support tickets -->
                <div class="card">

                    <div class="card-body">
                        <div class="support-ticket media pb-1 mb-3">
                            <img src="assets/img/users/user-3.png" class="user-img mr-2" alt="">
                            <div class="media-body ml-3">
                                <div class="badge badge-pill badge-warning mb-1 float-right">
                                    <a class="text-white" href="FaaliyetKategoriBilgisi">Kategori Bilgisi</a>
                                </div>
                                <span class="font-weight-bold">KonuEtiketi</span>
                                <a href="javascript:void(0)">IstekFaaliyetKonusu</a>
                                <p class="my-1">Aciklama</p>
                                <p class="my-1">LokasyonBilgisi</p>
                                <small class="text-muted">
                                    Ekleyen <span class="font-weight-bold font-13">
                                        Personel
                                    </span>
                                    &nbsp;&nbsp; - BildirimTarihi
                                </small>
                            </div>
                        </div>

                    </div>
                    <a href="javascript:void(0)" class="card-footer card-link text-center small ">
                        Tümünü Görüntüle
                    </a>
                    <a href='duzelticifaaliyet/duzenle' class="btn btn-sm btn-info btn-outline-dark " role="button">Faaliyeti Düzenle</a>

                </div>
                <!-- Support tickets -->
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6">
                <!-- Support tickets -->
                <div class="card">

                    <div class="card-body">
                        <div class="support-ticket media pb-1 mb-3">
                            <img src="assets/img/users/user-5.png" class="user-img mr-2" alt="">
                            <div class="media-body ml-3">
                                <div class="badge badge-pill badge-info mb-1 float-right">
                                    <a class="text-white" href="FaaliyetKategoriBilgisi">Kategori Bilgisi</a>
                                </div>
                                <span class="font-weight-bold">KonuEtiketi</span>
                                <a href="javascript:void(0)">IstekFaaliyetKonusu</a>
                                <p class="my-1">Aciklama</p>
                                <p class="my-1">LokasyonBilgisi</p>
                                <small class="text-muted">
                                    Ekleyen <span class="font-weight-bold font-13">
                                        Personel
                                    </span>
                                    &nbsp;&nbsp; - BildirimTarihi
                                </small>
                            </div>
                        </div>

                    </div>
                    <a href="javascript:void(0)" class="card-footer card-link text-center small ">
                        Tümünü Görüntüle
                    </a>
                    <a href='duzelticifaaliyet/duzenle' class="btn btn-sm btn-info btn-outline-dark " role="button">Faaliyeti Düzenle</a>

                </div>
                <!-- Support tickets -->
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6">
                <!-- Support tickets -->
                <div class="card">

                    <div class="card-body">
                        <div class="support-ticket media pb-1 mb-3">
                            <img src="assets/img/users/user-6.png" class="user-img mr-2" alt="">
                            <div class="media-body ml-3">
                                <div class="badge badge-pill badge-danger mb-1 float-right">
                                    <a class="text-white" href="FaaliyetKategoriBilgisi">Kategori Bilgisi</a>
                                </div>
                                <span class="font-weight-bold">KonuEtiketi</span>
                                <a href="javascript:void(0)">IstekFaaliyetKonusu</a>
                                <p class="my-1">Aciklama</p>
                                <p class="my-1">LokasyonBilgisi</p>
                                <small class="text-muted">
                                    Ekleyen <span class="font-weight-bold font-13">
                                        Personel
                                    </span>
                                    &nbsp;&nbsp; - BildirimTarihi
                                </small>
                            </div>
                        </div>

                    </div>
                    <a href="javascript:void(0)" class="card-footer card-link text-center small ">
                        Tümünü Görüntüle
                    </a>
                    <a href='duzelticifaaliyet/duzenle' class="btn btn-sm btn-info btn-outline-dark " role="button">Faaliyeti Düzenle</a>

                </div>
                <!-- Support tickets -->
            </div>

        </div>
    </CardBody>
</CardComponent>




