@page "/duzelticifaaliyet/ekle"
@page "/duzelticifaaliyet/duzenle"

<div class="col-12 col-md-12 col-lg-12">
    <CardComponent cardStyle="Style.primary">
        <CardHeader>
            Düzeltici Faaliyet Ekle/Düzenle
        </CardHeader>
        <CardBody>
            <div class="form-group row">
                <label class="control-label col-md-12">Faaliyet Gurup Konusu</label>
                <div class="col-md-4">
                    <text class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-12">Konu Etiket Numarası</label>
                <div class="col-md-4">
                    <text class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-md-12">İstek Faaliytet Konusu</label>
                <div class="col-md-4">
                    <text class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-md-12">Ekleyen Personel Ad Soyad</label>
                <div class="col-md-4">
                    <text class="form-control" />
                </div>
            </div>


            <div class="form-group">
                <label>Faaliyeti Görecek Birimler</label>
                <select class="form-control col-md-4">
                    <option>Tüm Birimler</option>
                    <option>İnsan Kaynakları</option>
                    <option>Bilgi İşlem</option>
                    <option>Hukuk</option>
                </select>
            </div>

            <div class="form-group">
                <label>Açıklama Metni</label>
                <Summernote></Summernote>
            </div>


            <div class="form-group">
                <label>Yayınlama Tarihi</label>
                <input type="datetime-local" class="form-control col-md-4">
            </div>
            <div class="form-group">
                <label>Faaliyeti Ekleyen Personelin Bağlı Olduğu Birim</label>
                <select class="form-control col-md-4">
                    <option>Scada</option>
                    <option>İnsan Kaynakları</option>
                    <option>Bilgi İşlem</option>
                    <option>Hukuk</option>
                </select>
            </div>

            <div class="form-group">
                <label>Destekleyici Dosya/Döküman Yükle</label>
                <MultipleUpload></MultipleUpload>
            </div>

            <div class="card-footer text-right">
                <button class="btn btn-primary mr-1" type="submit">Kaydet</button>
                <button class="btn btn-secondary" type="reset">Vazgeç</button>
            </div>
        </CardBody>

    </CardComponent>
</div>
