
@using Microsoft.AspNetCore.Identity;

<div class="modal" tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Rol Ekle/Düzenle</h3>
                <!-- Açılır pencereyi kapatmak için düğme -->
                <button type="button" class="close" @onclick="ClosePopup"><span aria-hidden="true">X</span></button>
            </div>
            <!--Geçerli rol için formu düzenle -->
            <div class="modal-body pl-5">
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Adı" @bind="objRole.Name" />
                        </div>
                        <button class="btn btn-primary" @onclick="SaveRole">Kaydet</button>
                        @if (objRole.Id != "")
                        {
            <button class="btn btn-danger float-right" @onclick="DeleteRole">Sil</button>            }
                        <div class="form-group row">
                            <span style="color:red">@strError</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code { [Parameter]
    public IdentityRole objRole { get; set; }

    [Parameter]
    public string strError { get; set; }

    [Parameter]
    public EventCallback ClosePopup { get; set; }

    [Parameter]
    public EventCallback SaveRole { get; set; }

    [Parameter]
    public EventCallback DeleteRole { get; set; } }
