@using VedasPortal.Entities.Models.User

<!-- Bu, bir kullanıcı oluşturmak veya düzenlemek için açılır penceredir. -->
<div class="modal" tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Kullanıcı Ekle/Düzenle</h3>
                <!-- Açılır pencereyi kapatmak için düğme -->
                <button type="button" class="close" @onclick="ClosePopup"><span aria-hidden="true">X</span></button>
            </div>
            <!-- Geçerli kullanıcı için formu düzenle -->
            <div class="modal-body pl-5">
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Adınız" @bind="objUser.FirstName" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Soyadınız" @bind="objUser.LastName" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Email" @bind="objUser.Email" />
                        </div>
                        @if (objUser.Id != "" && CurrentUserRoles != "")
                        {
                            <div class="form-group">
                                <span class="text-info font-italic">Bu kullanıcı @CurrentUserRoles rol/rollerine sahiptir.</span>
                            </div>
                        }
                        <button class="btn btn-primary" @onclick="SaveUser">Kaydet</button>
                        @if (objUser.Id != "")
                        {
                            <button class="btn btn-danger float-right" @onclick="DeleteUser">Sil</button>
                        }

                        @if (!string.IsNullOrWhiteSpace(strError) && !string.IsNullOrEmpty(strError))
                        {
                            <div class="form-group row">
                                <span style="color:red">@strError</span>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public ApplicationUser objUser { get; set; }

    [Parameter]
    public string CurrentUserRoles { get; set; }

    [Parameter]
    public string strError { get; set; }

    [Parameter]
    public EventCallback ClosePopup { get; set; }

    [Parameter]
    public EventCallback SaveUser { get; set; }

    [Parameter]
    public EventCallback DeleteUser { get; set; }
}

