@using VedasPortal.Entities.Models.User

<!-- Bu, kullanıcı şifresini gösteren açılır penceredir. -->
<div class="modal" tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Kullanıcı Şifresi</h3>
                <button type="button" class="close" @onclick="ClosePopup"><span aria-hidden="true">X</span></button>
            </div>
            <div class="modal-body pl-5">
                <div class="row">
                    <div class="col-md-10">
                        <Strong class="alert alert-danger">Lütfen Not Alın!</Strong>
                        <br />
                        <div class="alert alert-success">
                            <Strong>Tamamlandı!</Strong> @objUser.Email kullanıcısının şifresi: <b>@NewUserPassword</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback ClosePopup { get; set; }

    [Parameter]
    public ApplicationUser objUser { get; set; }

    // Kullanıcının yeni şifresini göster
    [Parameter]
    public string NewUserPassword { get; set; }
}
