@using VedasPortal.Entities.Models.User

<BlazorTable.Table TableItem="ApplicationUser" Items="_allUsers" PageSize="20" ColumnReorder="true" class="table">
    <BlazorTable.Column TableItem="ApplicationUser" Title="Adı" Field="@(x => x.FirstName)" Sortable="true" DefaultSortColumn="true" />
    <BlazorTable.Column TableItem="ApplicationUser" Title="Soyadı" Field="@(x => x.LastName)" Sortable="true" />
    <BlazorTable.Column TableItem="ApplicationUser" Title="Email" Field="@(x => x.Email)" Sortable="true">
        <Template Context="_context">
            <a href="mailto:@_context.Email">@_context.Email</a>
        </Template>
    </BlazorTable.Column>
    <BlazorTable.Column TableItem="ApplicationUser" Title="" Width="20%">
        <Template Context="_context">
            <!--Mevcut kullanıcıyı düzenle -->
            <button class="btn btn-sm btn-primary"
                    @onclick="(() => EditUser(_context))">
                Edit
            </button>
            <!-- Kullanıcıdan rolü kaldır -->
            <button class="btn btn-sm btn-info"
                    @onclick="(() => AddRemoveUserRoles(_context))">
                Rolleri
            </button>
            <!-- Yeni Şifre Oluştur -->
            <button class="btn btn-sm btn-danger"
                    @onclick="(() => GeneratePassword(_context))">
                <i class="oi oi-key"></i>
            </button>
        </Template>
    </BlazorTable.Column>
    <Pager ShowPageNumber="true" ShowTotalCount="true" ShowPageSizes="true" />
</BlazorTable.Table>

@code {
    [Parameter]
    public List<ApplicationUser> _allUsers { get; set; }

    [Parameter]
    public Action<ApplicationUser> EditUser { get; set; }

    [Parameter]
    public Action<ApplicationUser> AddRemoveUserRoles { get; set; }

    [Parameter]
    public Action<ApplicationUser> GeneratePassword { get; set; }
}
